[2022-02-25 14:34] #515 closed

[2022-02-25 14:46] AlexisPister commented on #515
I don't think I ever explicitly installed pip with conda on my previous environnements, but I could still use the command.

For the Sugiyama algorithm, I'll first see if it actually improves the layout and if yes I'll definitely consider making a PR.

[2022-02-25 15:10] szhorvat commented on #515
Please do 👍

[2022-03-01 20:32] crptcusco opened #516 "write_dimacs() only works with weigth attributes"
**Describe the bug**
I was trying save one igpraph object in all the formats, but i have one problem with  write_dimacs. i work with python, not is a critical bug, but i think gonna help someone.

/.local/lib/python3.8/site-packages/igraph/__init__.py:2988: RuntimeWarning: weights attribute does not exists at src/io/lgl.c:249
  return writer(f, *args, **kwds)

ValueError: source vertex must be pro

[2022-03-01 20:52] szhorvat commented on #516
Yes, `write_dimacs()` only supports the DIMACS format for flow problems. This format requires capacities to be present.

The feature request to support other variants of the format is here: https://github.com/igraph/igraph/issues/1924 I am going to close this issue now in favour of the other one. You can add your vote there.

You can help us implement this feature in multiple ways. If you have the

[2022-03-01 20:52] #516 closed

[2022-03-08 02:24] blackDZS opened #517 "memory leak about creating igraph in for loop"
**Describe the bug**
I use igraph to caculate average_path_length in the different data range, so I create graph from the subset of data and repate it in for loop, but the igraph object memory didn't free after re-assignment even though I del the variable by hand

**To reproduce**
[code]
And I analysis the function using `memory_profile` get the result:
![image](https://user-images.githubuserconte

[2022-03-08 02:48] iosonofabio commented on #517
This appears legit.

I don't have a lot of time right now, so it would be fantastic if one of you guys took it. When I'm back I could spend some time profiling a bunch of unit tests with memory profiler if you guys think it's a good idea?

[2022-03-08 07:25] ntamas commented on #517
Thanks for the report. Can you provide a full example with the missing functions that we can run on our own to reproduce the problem? What happens if you do not call `average_path_length()`, does the leak still appear? (It would help us to decide whether to look around in `average_path_length()` or the graph constructors).

[2022-03-08 11:51] blackDZS commented on #517
@ntamas Thanks for your reply
To facilitate your test, I simplify my code like this:
[code]
and the [data.txt](https://github.com/igraph/python-igraph/files/8205802/data.txt) you can get here!

The memory using test I use `memory_profiler` get this:
![image](https://user-images.githubusercontent.com/38283850/157232843-81377985-5dc5-4dd9-be55-78d126c095c2.png)

[2022-03-09 04:30] blackDZS commented on #517
@ntamas Thanks for your advise to optimize my code exec efficiency, that's useful for me.
You said the latest revision of the develop branch can solve my probelm, I have attempt it follow the README.md,  and My operation process is:
[code]

but I can't compile successfully, it stops in this https://github.com/igraph/python-igraph/blob/9cfdb4fbb0de527375cade1dc0df34143956e9b2/setup.py#L284
and repo

[2022-03-09 07:54] szhorvat commented on #517
Note that you don't need the `develop` branch, which is changing quickly at the moment. The fix is included on the `master` branch.

Can you try the following? [Purge the `pip` cache](https://pip.pypa.io/en/stable/cli/pip_cache/) to make sure you have a clean start, then use the `--log` option to `pip install` to save the verbose output. Something like:

[code]

Now look for the "Installing: ..."

[2022-03-09 09:15] blackDZS commented on #517
@szhorvat Yes, I get `2022-03-09T17:00:27,424   -- Installing: /tmp/pip-req-build-vkxgz9eu/vendor/install/igraph/lib/x86_64-linux-gnu/pkgconfig/igraph.pc` after exec `grep 'Installing.*igraph\.pc' pyigraph.log`, the full log in here
[pyigraph.log](https://github.com/igraph/python-igraph/files/8213296/pyigraph.log)

[2022-03-09 09:51] szhorvat commented on #517
Then we have a diagnosis. The Python code only looks in these places:

https://github.com/igraph/python-igraph/blob/master/setup.py#L275

@ntamas Perhaps you can do recursive search for `igraph.pc` within the appropriate directory, instead of relying on these hard-coded paths?

[2022-03-09 11:09] ntamas commented on #517
f29f20a adds recursive search for `igraph.pc` in the `master` branch; a1cb061 does the same in `develop`. Hopefully this fixes the build problems for @blackDZS

[2022-03-10 03:52] blackDZS commented on #517
@ntamas now, it gives me another error
[code]
the full log is here
[pyigraph.log](https://github.com/igraph/python-igraph/files/8220023/pyigraph.log)

[2022-03-10 09:32] ntamas commented on #517
I've tested the build process on Ubuntu with CMake 3.16.3 (the official version in Ubuntu 20.04) and it definitely worked there. As a workaround, try building igraph like this:

[code]

This attempts to force the library directory to `lib/`.

[2022-03-11 02:53] blackDZS commented on #517
Thanks for all your help, it solves my problem, I use @ntamas method and compile success, Now the code has no memory leak
![image](https://user-images.githubusercontent.com/38283850/157788546-0e0a0121-f458-45b6-9adb-d01d6979fc8f.png)

As for the questions @szhorvat raises, I'm not familiar to compile and cmake, I don't kow why. May be I compile in root or others, note that I run these in docker an

[2022-03-11 09:51] szhorvat commented on #517
I checked what the lib directory is with CMake 3.20 and 3.23rc3 on Ubuntu 20.04.  Only 3.23 has this behaviour. We should report this to CMake and hope they fix it before release, otherwise there'll be a ton of complaints after CMake 3.23 comes out.

[2022-03-11 10:41] ntamas commented on #517
@blackDZS Thanks for reporting back; I'll release a new version of `python-igraph` with this fix soon.

In the meantime, can you let me know which Docker image are you using? The attached file does not help much in identifying where the image came from; is this an official Python Docker image, or an image that someone built on his own?

[2022-03-11 15:30] blackDZS commented on #517
@ntamas I don't remember where the image from, I upload my image to docker hub repositories, you can get the image by
[code]

[2022-03-16 21:59] rjoberon opened #518 ""Parse error" when reading gzip compressed edgelist"
**Describe the bug**
Reading a gzip compressed edgelist file with `Graph.Read` results in a parse error in `edgelist.c`.

**To reproduce**
Create a file `test.tsv` with the following content and compress it using gzip (resulting in `test.tsv.gz`):
[code]
Run the following code (`demo.py`):
[code]
This results in the following error message:
[code]

When using `open("test.tsv, "rb")` instead of `gz

[2022-03-16 22:14] richardbiro commented on #344
I would like to contribute and implement this feature.

[2022-03-19 00:38] ntamas commented on #518
Okay, so what happens behind the scenes is that we are calling `PyObject_AsFileDescriptor()` on the object that you pass to `Read_Edgelist`, which is supposed to return a C file descriptor that we can then pass to `fdopen()` so we can pass it to igraph's C core as a `FILE*`. It looks like this trick does not work for file-like objects returned from the `gzip` module. Actually, it could even be pla

[2022-03-20 22:52] AndreaGuarracino opened #519 "TypeError: 'VisualEdgeBuilder.Element' object is not subscriptable"
**Describe the bug**
I can't plot the partition of an undirected graph.

**To reproduce**
[code]

Removing `, directed=False` it would work, but the `Leiden algorithm is only implemented for undirected graphs`.

**Version information**
Which version of igraph are you using and where did you obtain it?
`0.9.9`

[2022-03-21 15:18] szhorvat commented on #519
Please show a complete minimal example with all information needed to reproduce the problem. Describe in what way your program fails. See here for guidance: https://stackoverflow.com/help/minimal-reproducible-example

[2022-03-21 17:33] iosonofabio commented on #519
This keeps coming up and has been fixed in`develop`. @AndreaGuarracino please try that branch if you can.

@ everyone else: you know what I'mma say 😉

[2022-03-21 20:17] ntamas commented on #519
I'm probably gonna fix this tomorrow for 0.9.10 -- there were a few other memory leaks etc that were fixed recently.

[2022-03-24 14:43] AndreaGuarracino commented on #519
@iosonofabio would you please indicate to me how should I install the branch version for trying it? I want to be super-sure to do it right. For installing the library, I've followed the `pip install igraph` way

[2022-03-24 14:45] szhorvat commented on #519
You must compile it from source. Instructions are here: https://github.com/igraph/python-igraph/#compiling-the-development-version

[2022-03-24 18:15] yjgeno commented on #411
Hi, wondering if any argument can actually rotate the text on the graph?

[2022-03-24 18:30] yjgeno opened #520 "vertex label text rotate"
Hi is there any way we could rotate vertex labels?
The combination of vertex_label_dist and vertex_label_angle only moves the label along a certain angle

[2022-03-24 21:41] iosonofabio commented on #520
I don't think so in the current version, but I did easily add it. Let's wait until `develop` is released as a major version and then I'll add it to the next minor version

[2022-03-25 10:21] AndreaGuarracino commented on #519
Thank you @szhorvat, I apologize for not reading the documentation first.

For me, the bug is solved. When will the fix be merged in the master and installable with the standard `pip install igraph` way?

[2022-03-25 11:39] szhorvat commented on #519
Can't give any promises about the release date at the moment. There are many blocker issues in the C core of igraph to be resolved first.

[2022-03-26 18:52] szhorvat opened #521 "Verify that attribute table does not get corrupted when graph modification fails"
This task is to verify that the attribute table does not get corrupted when graph modification fails. This issue is specifically for the attribute handler of python-igraph.

This relates to https://github.com/igraph/igraph/issues/1976 and https://github.com/igraph/igraph/issues/1999

[2022-03-29 09:22] mdondrup opened #522 "Deleting vertices may break node references"
**Describe the bug**
Deleting vertices invalidates python references to other vertices. Given a node reference n, when deleting a different node with index < n.index the node reference n changes or invalidates. This behavior is at least unexpected. If it is intentional it should be documented.

**To reproduce**
[code]

**Output**

[code]

**Version information**
0.9.9

[2022-03-29 09:48] ntamas commented on #522
While somewhat unintuitive, this is expected and documented [here](https://igraph.org/python/api/latest/igraph._igraph.Vertex.html):

This is because under the hood, there are no "real" vertex objects in the C core of igraph and a `Vertex` instance provided by Python is simply a pair containing a graph and an index.

[2022-04-04 15:22] #474 closed

[2022-04-04 15:23] ntamas commented on #519
0.9.10 will be out soon and will fix this issue.

[2022-04-04 15:23] #519 closed

[2022-04-04 16:10] #444 closed

[2022-04-08 15:53] RaymondKoopmanschap opened #523 "Memory leak in get_all_simple_paths"
**Describe the bug**
Executing get_all_simple_paths on a graph results in a memory leak.

**To reproduce**
[code]

or without all the plotting
[code]
This first graph is with the line new_graph.get_all_simple_paths(0, 1) commented out
![Python memory without get all simple paths](https://user-images.githubusercontent.com/19495847/162477263-438eec0c-afec-49a8-ad80-a5ee73898f21.png)

This second gra

[2022-04-08 16:51] ntamas commented on #523
Thanks for the report! I think I've found the issue and you just caught it in time before an upcoming patch release for `python-igraph`. Can you please test whether the issue persists after compiling the `master` branch including commit b7b0915 ?

[2022-04-08 19:44] Stefan-1313 commented on #523
Hi ntamas,
Thanks for your quick action.

I, tested this and could reproduce the issue on my machine (Windows 10 x64, Python==3.8.11, igraph==0.9.8).

When compiling from master, which includes your change, the leak does not occur any more!
The graph becomes a flat line.

Thank you!
Will this be included in the next release (v1.0.0) ?

[2022-04-08 19:46] ntamas commented on #523
This will be part of 0.9.10, due in a few days. Version 0.9.8 of the C core was released today so the next version of python-igraph could depend on it.

[2022-04-09 07:10] #522 closed

[2022-04-09 07:15] szhorvat opened #524 "Test suite should not fail when matplotlib is not present"
The test suite should not fail when _optional_ dependencies such as matplotlib are not installed. Instead, affected tests should be skipped.

There is value in running the test suite without these dependencies. For example, LeakSanitizer proved useful in identifying multiple memory leaks in python-igraph, thus it will be useful to integrate it into CI runs. However, it also discovers some leaks in

[2022-04-09 14:18] ntamas commented on #524
Which dependency did you have problems with? Most of the unit tests try to import optional dependencies but then fall back to skipping the corresponding tests if the dependency is not available.

[2022-04-09 14:41] szhorvat commented on #524
`matplotlib`.

[2022-04-09 14:44] szhorvat opened #525 "igraph_list_triangles() should be exposed"
`igraph_list_triangles()` should be exposed in Python. I had a need for it today and I was quite surprised that it was not available!

[2022-04-09 19:14] ntamas commented on #524
I've made a few changes in a6e9be3; this should hopefully work now. The previous solution was okay with some unit test runners (e.g., `nosetests`) but not the "official" unit test runner in Python.

[2022-04-11 11:00] ntamas commented on #517
Release process for 0.9.10 has started; expect a new release in at most a day.

[2022-04-11 11:00] #517 closed

[2022-04-11 21:58] Puumanamana opened #526 "Shortest circuit in a directed graph"
Hello,

I am trying to compute the shortest circuit in a directed graph. I thought it would be straightforward by simply doing `graph.get_all_shortest_paths("A", "A")`, but this only returns the start vertex (even though there are no self edges in my case).

Example:
[code]

I'm not sure if this behavior is a bug or simply a design choice. Would it be something easy to implement/fix?

Thank you!

[2022-04-11 22:19] szhorvat commented on #526
This is not a bug, but simply following the common understanding of shortest paths, which are all part of a shortest path tree. To reach `A` from `A`, you don't need to move at all: you are already there. The solution is a zero-length path, with no edges in it. If `A` had a self-loop, traversing that self-loop would induce a length-1 path, which is not as short as the zero-length one. Cycles are n

[2022-04-11 22:19] #526 closed

[2022-04-13 09:56] vtraag opened #527 "Installation in PyPy 3.9 fails."
**Describe the bug**
Installation in PyPy 3.9 fails. Most likely on PyPy 3.8 also, but I have not yet verified.

<details>
  <summary>Install log</summary>

[code]

</details>

**To reproduce**

There are currently no binary wheels provided for PyPy > 3.7, so you can simply install from source using `pypy3 -m pip install igraph`. I have created a PyPy environment via conda first:

[code]

**Versio

[2022-04-13 10:09] ntamas commented on #527
That's interesting; `Py_None` is a fundamental part of Python's C API so I don't understand how it could be missing on PyPy and why it was present with PyPy <= 3.7.

[2022-04-13 10:11] vtraag commented on #527
Yeah, I also didn't quite understand it, I'm not sure where it comes from exactly, `Python.h` does seem to be correctly included. I arrived at this problem when trying to use `cibuildwheel` but it wasn't able to install `igraph` for PyPy.

[2022-04-13 10:15] vtraag commented on #527
Perhaps something related to `Py_LIMITED_API`?

[2022-04-13 10:19] vtraag commented on #527
Indeed, in `object.h` it seems to say

[code]

I'm not sure what's up with that?

[2022-04-13 10:21] ntamas commented on #527
That might be it, although note that the code compiles correctly for CPython so in this case this could be a bug in CPython.

The role of `Py_LIMITED_API` is to commit ourselves to use only the stable API of CPython that was valid in a particular version. This will allow CPython in the long run to compile a _single_ wheel for _all_ Python versions greater than the one we've committed ourselves to.

[2022-04-13 10:26] vtraag commented on #527
Rather unexpected that `Py_None` is not part of the limited stable API, wouldn't it? We can simply remove `Py_LIMITED_API` everywhere of course, but it would also defeat the purpose a bit, it seems.

[2022-04-13 10:28] ntamas commented on #527
It's just temporary because the current version is not committed to the stable API yet; the inclusion of `Py_LIMITED_API` was an oversight on my end (it could have accidentally been merged from `develop` back into `master`). We'll need to fix this properly on the `develop` branch but the `master` branch should be okay without it.

The reason why `Py_None` is not part of the stable API is because i

[2022-04-13 10:32] vtraag commented on #527
Right, OK. Most of the checks you seem to perform can be replaced by [`Py_IsNone`](https://docs.python.org/3/c-api/structures.html#c.Py_IsNone) it seems. But appending a new `Py_None` value seems rather tricky without it being defined directly.

[2022-04-13 10:33] vtraag commented on #527
Returning a None value should be possible to replace by `Py_RETURN_NONE`, I guess?

[2022-04-13 10:55] ntamas commented on #527
`Py_RETURN_NONE` is not part of the stable API either, according to [this list](https://docs.python.org/3/c-api/stable.html#contents-of-limited-api). `Py_BuildValue("s", NULL)` is an alternative but maybe there's a simpler option.

[2022-04-13 11:56] xylar commented on #527
For what it's worth, this problem seems only to be happening for PyPy 3.9 on conda-forge:
https://github.com/conda-forge/python-igraph-feedstock/pull/56

[2022-04-13 12:01] ntamas commented on #527
FYI, `master` now builds successfully on PyPy 3.9 after https://github.com/igraph/python-igraph/commit/806cf9f1ac4272ed3c5e7cb001b4b9c4d7f95ac9

`develop` fails, but that's expected, we'll deal with the `Py_None` issue there.

[2022-04-13 12:30] ntamas commented on #527
I'm inclined to bend the rules a bit and take the most recent PyPy 3.8 and 3.9 wheels from the `master` CI build and upload them to PyPI for version 0.9.10 (even though technically they are one commit _after_ 0.9.10). Any objections?

Also, since the builds in `master` are fixed, I'm closing this and opening another issue for dealing with `Py_None` in the `develop` branch.

[2022-04-13 12:30] #527 closed

[2022-04-13 12:33] ntamas opened #528 "Py_None is not part of the limited API"
**Describe the bug**

`Py_None` does not seem to be part of the limited API of CPython; it is not in the [official list](https://docs.python.org/3/c-api/stable.html#contents-of-limited-api), but it happens to work (along with `Py_True` and `Py_False`) in all versions of CPython so far. PyPy takes the rules more seriously and it does not provide `Py_None` from PyPy 3.9 onwards. As a consequence, co

[2022-04-13 12:49] vtraag commented on #527
Nope, no objections. For building in `conda-forge` for PyPy we've now also patched the release until a proper new release is made (see https://github.com/conda-forge/python-igraph-feedstock/pull/56).

[2022-04-13 13:13] ntamas commented on #528
Started a thread [here](https://discuss.python.org/t/is-py-none-part-of-the-limited-api/15045) on Python's discussion board.

[2022-04-15 20:42] iosonofabio commented on #528
Running into this in #529 - just to clarify what's going on there

[2022-04-17 00:10] iosonofabio opened #530 "Unnecessary dynamic memory allocation for matrices"
**Describe the bug**
During #529 @szhorvat noticed matrices are allocated dynamically in a few places where a static allocation would do and reduce the risk of memory leaks.

@ntamas found it in a few instances throughout, <10.

Let's fix that - I can make a PR after the UMAP one is merged

[2022-04-19 14:11] mezwick opened #531 "ig.Graph loading of edge sequences in large graph (18.5 million vertices) produces SystemError"
**Describe the bug**
I am trying to generate an edge weighted graph `g` from a large anndata `adata` object (18.5 million cells/rows). I can do this for a subset of data, but when i try to do this for the full dataset i get the following `SystemError`

[code]

**To reproduce**
I am trying to generate the graph like so...
[code]

Apologies if this is in the wrong place, it may be a problem for the

[2022-04-19 14:32] szhorvat commented on #531
Can you check the values of `g.ecount()` and `g.vcount()` just before the `g.es['weight']` line and let us know the output?

[2022-04-19 14:33] szhorvat commented on #531
Yes, but 18 million is far from 2^31, so how did we get here?

[2022-04-19 14:33] ntamas commented on #531
18 million is the number of vertices, not the number of edges.

[2022-04-19 14:36] szhorvat commented on #531
Ah, right.

@mezwick igraph 0.10 will have overflow checks, and will also use 64-bit integers, so it should be immune to such problems (hopefully!). But with 0.9, the _effective_ limits are _at most_ `2^31 - 1` vertices and `2^30` edges. These values are very likely to cause troubles, and slightly smaller values might too.

[2022-04-19 14:39] szhorvat commented on #531
If you are willing to compile it, you could try the development version of 0.10 right now. Instructions are here: https://github.com/igraph/python-igraph/#compiling-the-development-version  Use the `develop` branch.

I'm not sure what the state of overflow checks is in the Python glue code, @ntamas ? The C core is in a pretty good shape already, though some stochastic graph generators can still ov

[2022-04-19 14:50] ntamas commented on #531
The Python glue code still uses a mixture of `Py_ssize_t`, `long int` and `igraph_integer_t` and it has to be sorted out eventually, but I'm already doing too many things at the same time so I don't know when I can sort it out properly.

[2022-04-19 15:24] mezwick commented on #531
Thanks for the quick responses.  :) So illuminating already! Sounds like i have hit graph size limits.

`g.ecount() = -1939291626
`
how do you interpret a negative ecount?
`g.vcount() = 18543700 `

[code]

A 0.9 subset of my data (16,689,330 vertices) is able to run.

So, it would seem the number of edges are too many for the 32 bit integer limit?
I will look into running igraph 0.10 to see if the

[2022-04-19 15:28] ntamas commented on #531
@mezwick I've briefly checked the code in `develop` and it seems like we've already made _some_ efforts to make sure that `python-igraph` works correctly even when you hit the 32-bit limit on the edge counts, but we haven't had the chance to test it thoroughly. Please give it a go with the `develop` branch and report any issues that you are running into as we are really keen on fixing issues of th

[2022-04-19 15:28] szhorvat commented on #531
It's the result of integer overflow. You likely have more than 2^31 - 1 edges.

[2022-04-19 15:37] ntamas commented on #531
You might need to run `pip install --upgrade --force-reinstall git+https://github.com/igraph/python-igraph@develop
Collecting git+https://github.com/igraph/python-igraph@develop` in case `pip` is trying to be smart and considers the new version being identical to the existing one.

[2022-04-19 15:50] szhorvat commented on #531
If you don't have root access, you should still be able to install flex and bison with conda.

[2022-04-19 15:52] mezwick commented on #531
i did try pip install of flex and bison in my conda-env, but appear to get the same error...?

[code]

[2022-04-19 16:17] mezwick commented on #531
Ok. So it seems i do have sudo permissions, I just needed to run
`apt update && apt upgrade`
and
`apt install sudo`
Apologies for the confusion.

I tried

but got the following
[code]

So instead ran,
[code]

However, it still seems my igraph and python-graph version numbers have not updated?
[code]

[2022-04-19 16:20] ntamas commented on #531
I think the compilation went fine; you will not see an updated version number in `python-igraph` because you are on the `develop` branch and no new version has been assigned to the `develop` branch yet. The version number is taken from `src/igraph/version.py`, which still shows `0.9.10` on the development branch.

[2022-04-19 16:26] mezwick commented on #531
fantastic. thanks for your help both.

i have hit run on my large graph  in the new environment.... will let you know if it runs!

[2022-04-19 17:10] ntamas commented on #528
This is now fixed in the current `develop` branch -- we pre-fetch an instance of `Py_None` using `Py_BuildValue("")` in the module initialization if `Py_None` is not part of the exposed API and we use that everywhere else.

[2022-04-19 17:10] #528 closed

[2022-04-19 18:06] iosonofabio commented on #531
Happy to help fix the 32 -> 64 bit conversion for this if needed, since I know that glue code decently and @ntamas might be too busy.

But let's see if it's necessary at all

[2022-04-19 19:23] mezwick commented on #531
64-bit version of igraph looks to still be running fine so far.

from my log...
my script has 2,355,675,670 edges (no longer a negative edge count)
edge weights were calculated and added to the graph just fine,
igraph is now proceeding to leiden cluster (with igraph `g.community_leiden()`)....
[code]

[2022-04-19 22:31] iosonofabio commented on #531
Sounds promising! Maybe my in64 PR wasn't totally broken.

Btw we'll have UMAP in igraph within a day or two, so if you want to embed the graph you can use igraph for both clustering and embedding.

[2022-04-20 08:40] szhorvat commented on #531
I'll close this now, since this is effectively fixed on `develop`.

[2022-04-20 08:40] #531 closed

[2022-04-20 08:42] #512 closed

[2022-04-20 08:52] ntamas commented on #531
Well, at least the loading part is fixed. @mezwick if you find any issues with _processing_ a graph this large, please file another issue with the details

[2022-04-20 09:18] mezwick commented on #531
Thankyou all for your help. I appreciate your time.

[2022-04-20 09:19] mezwick commented on #531
Thankyou all for your help. I appreciate your time.

[2022-04-20 13:46] mezwick commented on #531
happy to say `g.community_leiden()` runs on my 64bit igraph with 18.5 million cells :) @vtraag

[2022-04-20 13:51] szhorvat commented on #531
How long did it take to complete?

[2022-04-20 13:56] mezwick commented on #531
Leiden run time: 5h 26 mins 23.798647 secs
On a cluster with 3892 GB mem,  16384 GB storage, 128 cores.
`g.community_leiden()` just seems to run on a single core (100 % CPU in top)

[2022-04-20 14:14] vtraag commented on #531
Great, good to hear you managed to run everything @mezwick! Sounds like quite a reasonable run time. Sorry for my late reply, I only get to reading this now. Thanks all for helping out!

[2022-04-20 14:20] ntamas commented on #531
Yes, that's correct; igraph is currently not guaranteed to be thread-safe and the algorithms use single-core implementations.

[2022-04-25 16:14] Maxyme opened #534 "Memory Leak in graph.union"
There seems to be a memory leak in graph.union. When running the sample code below, I get the following memory profile:
![igraph-python-leak](https://user-images.githubusercontent.com/8309513/165130165-c14a5d7f-5937-4833-889a-63ab57fedafb.png)

[code]

I'm not sure if this issue is related to the python side of igraph, or if it's in the c code.
Note: this was tested with python-igraph==0.9.10

[2022-04-25 17:33] ntamas commented on #534
Thanks, this is interesting as we have recently fixed a leak in `Graph.union` in 1593c14d8e9b25b876a04c2a110d12edda2211ae and this is already in 0.9.10. Let me try to reproduce this on my end.

[2022-04-25 17:56] szhorvat commented on #534
Let me know if you need me to try another LSan run with this code.

[2022-04-26 07:13] szhorvat commented on #534
For what it's worth, putting this through LSan reveals no problems (except for a small leak in numpy RNG, which is certainly not the cause of this).

[2022-04-26 09:28] ntamas commented on #534
Indeed it was a refcount error; it is now fixed in 043515f (`develop`) and 764de38 (`master`).

@Maxyme Can you install `python-igraph` from source and test whether it solves the problem for you? (See [here](https://github.com/igraph/python-igraph#compiling-the-development-version) for instructions). If you cannot compile things from source, that's okay, let me know what OS you are using and which

[2022-04-26 16:50] Maxyme commented on #534
@ntamas I just checked with the latest version and can confirm that the leak is fixed:
![no_leak](https://user-images.githubusercontent.com/8309513/165351977-269107e2-4cea-4d8a-bf77-45c98dacb002.png)

[2022-04-26 18:08] ntamas commented on #534
Thanks for the feedback. This will be released in 0.9.11 or 0.10.0, whichever comes first.

[2022-04-26 18:08] #534 closed

[2022-04-26 19:11] szhorvat commented on #390
@Caeph Can you test this with the latest igraph (0.9.10) and see if the problem is still there? IIRC 0.9.10 fixed some memory leaks which may have affected vertex combiners.

[2022-05-02 22:30] goldbattle opened #535 "AttributeError: 'igraph.Edge' object has no attribute 'curved'"
**Describe the bug**
I am getting this error
[code]

**To reproduce**
https://gist.github.com/goldbattle/bd020ca1039328250628c2a38aea90cd

**Version information**
Running Ubuntu 20.04 with python 3.8.
[code]

[2022-05-02 22:37] goldbattle commented on #535
I temporarily fixed it for myself by editing the file as follows (it seems the `curved` is never being initialized?):
https://gist.github.com/goldbattle/e55f232fe568b662b86a013f0533b946/revisions#diff-06651cdfa9a129d076d61773cf47a34ca5c89db399899ce0a6cd95db0c8fa19f

[code]

[2022-05-03 07:04] ntamas commented on #535
Thanks for the patch. Can you confirm that you are using the Matplotlib drawing backend and not the Cairo backend?

[2022-05-03 12:36] goldbattle commented on #535
How do I check this?

On Tue, May 3, 2022, 3:04 AM Tamás Nepusz ***@***.***> wrote:

[2022-05-04 20:19] ntamas commented on #535
Scratch that, I managed to reproduce this on my end with the Cairo backend. I'll commit a patch soon.

[2022-05-04 20:23] ntamas commented on #535
Note to self: a more minimal example to reproduce the issue is as follows:

[code]

[2022-05-04 20:26] #535 closed

[2022-05-04 20:27] ntamas commented on #535
Fixed in 12cdfc6

[2022-05-09 06:50] lmeyerov opened #536 "PyGraphistry plotter integration"
**What is the feature or improvement you would like to see?**

igraph shortcuts & docs for use with pygraphistry for GPU plotting & GNN/UMAP features, basically mirroring what we've been doing for pygraphistry->igraph

I can try assisting here -- am curious what'd be useful? Any guidance etc. would be appreciated!

**Use cases for the feature**

* Scalable, highly-interactive, & interactive plotti

[2022-05-09 11:27] ntamas commented on #536
This would be a very welcome addition indeed. In the past we've had a custom `GraphDrawer` subclass for [Ubigraph](https://github.com/0x4lan/ubigraph_server), but the the development of the Ubigraph server stopped around 2008 and the graph drawer on our side went defunct. It would be great if we could revive the functionality with PyGraphistry.

The key to adding a new plotting backend is to deriv

[2022-05-09 11:39] liyunlong666 opened #537 "Running Graph.shortest_ paths() occurr the problem of 'Process finished with exit code - 1073741819 (0xc0000005)'."
**Describe the bug**
I'm running a graph (vertices:46567, edges:55697) with weights Graph.shortest_ paths(), it will automatically terminate the program and prompt 'process finished with exit code - 1073741819 (0xc00000005)'. But running this function on a slightly simpler network (vertices:18081, edges:17131) with same weights is successful.

I tried several ways to solve the problem, but to no a

[2022-05-09 11:42] szhorvat commented on #537
This operation would allocate a matrix with more than 46567 * 46567 > 2^31 - 1 elements, which is not supported in 0.9, especially on Windows (might work on Linux/macOS if you're lucky). This is already fixed in the development version, which will eventually become 0.10.

You can try the development version now, but you need to compile it yourself. See the instructions in the readme: https://githu

[2022-05-09 11:42] #537 closed

[2022-05-09 11:49] liyunlong666 commented on #537
Thank you very much. I'm looking forward to the new version. When will the new version be released?

[2022-05-09 12:01] szhorvat commented on #537
Unfortunately that is not clear yet. igraph is undergoing significant refactoring, which will take some time.

[2022-05-09 12:08] liyunlong666 commented on #537
OK, we all look forward to a better iGraph. Thank you again for your contribution. I hope your life and work are going well.

[2022-05-09 21:14] iosonofabio commented on #536
Summoning... success!

Both points (export to external library and plotting) were PRs of mine in `python-igraph`, happy to help.

- **Export**: this seems easy, we can basically do:
[code]

which is trivial **and** useful. Let's just make a PR for this.

- **Plotting**: the current backends (Cairo, matplotlb, plotly) do not have native graph plotting. If graphistry does, we should not reinvent the

[2022-05-10 19:14] mhgwidel opened #538 "Implement centralization method"
**What is the feature or improvement you would like to see?**
R-igraph has a [centralization method](https://igraph.org/r/html/latest/#C), including centralization.betweenness, centralization.closeness, centralization.degree, and centralization.evcent. Python-igraph does not have this method available - would it be possible to add it?

**Use cases for the feature**
Calculating the graph level cent

[2022-05-11 02:45] lmeyerov commented on #536
Makes sense!

I'll start a new PR1 for `to_graphistry()`, including tests and docs, and then we can revisit `plot()` . We're getting a big release out on our side so probably not till the weekend.

Quick q: should it fork main or some specific edge branch, as it sounds like some things are moving?

[2022-05-19 04:27] Vini2 opened #539 "Problem with fruchterman_reingold layout when plotting large graphs"
**Describe the bug**
The layout produced from `layout_fruchterman_reingold()` looks disordered when plotting large graphs with thousands of vertices.

**To reproduce**

Run the following code:

[code]

Output graph `testing.png`:

![testing](https://user-images.githubusercontent.com/12206048/169202201-97c1a71e-c3ed-4615-a532-3655d92b06ce.png)

I am not sure where the issue is occurring or starting

[2022-05-19 18:53] szhorvat commented on #539
This happens because the grid version does not support disconnected graphs at all. Trying to add support for them in a naive way, by mirroring the non-grid version, fails. The failure most likely has to do with the fact that the vertex positions "drift" in the disconnected version for reasons that are unclear to me.

[2022-05-24 12:36] LUCAS-1873 opened #540 "cairo.MemoryError: out of memory"
When I try to save the net-work  as a pic in PDF format,I got an ERROR :
I try to save it as SVG and png or eps/ps, all them can be done.

---------------------------------------------------------------------------
cairo.MemoryError                         Traceback (most recent call last)
<ipython-input-544-4737b2a816e8> in <module>
----> 1 ig.plot(sub_tax_net_aer_12,'robust_net_uncul.pdf')

D:\l

[2022-05-24 20:41] ntamas commented on #540
PDF rendering is probably much more complex than SVG / PNG rendering. In the case of a PNG, you only need to allocate an image buffer (fixed size, depends on the width and height that you specify when plotting starts) and then the memory usage is fixed. With SVG, Cairo can probably stream the file into disk on-the-fly as new nodes and edges are added to the plot. With PDF, I don't know, all bets a

[2022-05-25 08:22] manuelP88 opened #541 "Vertex label (declared fixed in "community_label_propagation") changes after the label propagation process"
**Describe the bug**
Vertex label (declared fixed in "community_label_propagation") changes after the label propagation process.

The vertex field "ver_comm" contains an integer greater than or equal to zero if the label is not to change, otherwise the value -1.
The vertex field "fixed" contains a boolean True if the label associated with the vertex is to remain fixed, False otherwise.

At the end

[2022-05-25 09:25] szhorvat commented on #541
Note that the specific label _values_ are not guaranteed to be preserved. However if two vertices were fixed to be in the same component, that will be respected. At the end, communities are relabelled consecutively.

[2022-05-25 09:42] ntamas commented on #541
@szhorvat raised a good point here; even I missed that so it is indeed not a bug. We are going to extend the documentation to clarify this.

[2022-05-25 09:42] #541 closed

[2022-05-25 12:28] LUCAS-1873 commented on #540
Dear ntamas,
  Thanks for your answers, however, what the kind of data with different sizes (even 3 nodes and 3 edges), I got the same ERROR as well. I tried to drag the output from igraph-python which is SVG format into Adobe illustrate, but the picture showed  abnormal with a lot of bold black lines and the picture can't be edited.

My python version = 3.85 and igraph version = 0.910 and my work

[2022-05-25 13:19] ntamas commented on #540
What is the version of the Cairo library on your system? I can plot small graphs into PDF just fine on my machine, e.g., this works just fine:

[code]

[2022-05-25 13:23] alexfdo opened #542 "wrong operation graph union"
[code]
This operation creates an extra isolated vertex, as shown in the screenshot below.
I had to make a crutch in the form of the following code
[code]
![Выделение_999(272)](https://user-images.githubusercontent.com/29231622/170271383-4f18f37d-a066-4a88-aa3d-4cec3fd257f7.png)

[2022-05-25 13:29] LUCAS-1873 commented on #540
I install igraph in python by the following steps:
[code]

[2022-05-25 13:53] LUCAS-1873 commented on #540
I try it，but even the igraph can't import
when I import cairocffi, the error happen:

[code]

I have successfully install cairocffi-1.3.0.

[2022-05-26 03:17] LUCAS-1873 commented on #540
Thank you for your reply, I successfully update my cairocffi package, and now my cairocffi version is same as yours. BUT the ERROR is still there.
[code]

[2022-05-26 03:55] LUCAS-1873 commented on #540
Yeah, I tried to install GTK3 with win-64 version which is not mentioned in https://cairocffi.readthedocs.io/en/stable/overview.html#installing-cairo-on-windows.
And now, I got the correct cairocffi module, and successfully resolve the problem! Thank for your ans~

[2022-05-26 05:46] dsoprea commented on #535
Not yet released. Until then, this issue appears to not be present in 0.9.9 .

[2022-05-26 07:57] szhorvat commented on #542
@iosonofabio Can you have a look? This was your code as far as I remember.

[2022-05-26 08:20] szhorvat commented on #542
@alexfdo Can you please produce a _minimal_ example where vertex names use only ASCII characters?

[2022-05-26 08:24] szhorvat commented on #542
You are using non-unique vertex names for the second graph. `'газирова'` appears twice. This is a good example of why it's important to always create a minimal example before submitting a bug report.

[2022-05-26 08:24] #542 closed

[2022-05-26 08:39] ntamas commented on #540
I'm glad that it worked in the end!

[2022-05-26 08:39] #540 closed

[2022-05-26 09:48] alexfdo commented on #542
IMHO you rushed to close my appeal. This will not fix the error.
Look closely at the following screenshot

![Выделение_999(273)](https://user-images.githubusercontent.com/29231622/170463272-150248d1-1fa0-4843-9d94-6252c6351cb3.png)

[2022-05-26 09:52] alexfdo commented on #542
Or do I need to re-open the issue so you can take care of the error?

[2022-05-26 09:55] alexfdo opened #543 "> You are using non-unique vertex names for the second graph. `'газирова'` appears twice. This is a good example of why it's important to always create a minimal example before submitting a bug report."
IMHO you rushed to close my appeal. This will not fix the error.
Look closely at the following screenshot

![Выделение_999(273)](https://user-images.githubusercontent.com/29231622/170463272-150248d1-1fa0-4843-9d94-6252c6351cb3.png)

_Originally posted by @alexfdo in https://github.com/igraph/python-igraph/issues/542#issuecomment-1138356970_

[2022-05-26 10:23] #543 closed

[2022-05-26 10:24] szhorvat commented on #542
Please do not open new issues for the same topic. The conversation can be continued here.

The `name` attribute must contain unique values for each graph, otherwise vertices are not distinguishable. Ideally there would be a check that prevents setting the same name for two vertices, but this is not yet implemented.

I closed this issue because it is not a bug in igraph, but a problem with your cod

[2022-05-26 10:31] szhorvat commented on #542
I will look into improving the situation so that `union` and `intersection` would reject graphs with invalid `name` attributes even before a more general check on duplicate names is implemented.

[2022-05-26 10:59] alexfdo commented on #542
Thanks a lot.
I saw my mistake. I checked the names between charts, but didn't notice any duplication within one. And now your first answer has become clear to me.
Excuse me for this fuss.
Sincerely, Alexander

[2022-06-06 06:05] benney-au-le opened #544 "Building for alpine linux"
**What is the feature or improvement you would like to see?**
Add alpine linux build for pre-compiled igraph c core binaries.

**Use cases for the feature**
We use alpine linux for our base container image. This distribution is popular amongst docker users due to its small size. However, existing binaries that are published to pypi don't support alpine linux. This means that we need to build it fr

[2022-06-06 06:07] iosonofabio commented on #544
Thanks @benney-au-le

It sounds like you know it builds *correctly* on alpine and passes tests, and you're asking just for the convenience. Is that correct?

Second Q: would it be possible for you to make a PR for this? Happy to review it.

[2022-06-06 07:57] szhorvat commented on #544
It might make sense to request this directly from Alpine.

https://wiki.alpinelinux.org/wiki/Alpine_Linux:FAQ#Can_you_build_an_apk_package_for_....3F

[2022-06-07 10:36] szhorvat commented on #544
All that said, it would be appreciated if you could support the project by requesting inclusion in Alpine.

[2022-06-07 13:27] ntamas commented on #544
@benney-au-le The build artifacts of [this CI run](https://github.com/igraph/python-igraph/actions/runs/2454343989) now contain `musllinux` wheels. Can you please test whether they work on Alpine Linux and report back? If everything is all right, I'll release python-igraph 0.9.11 with `musllinux` wheels on PyPI.

[2022-06-08 20:47] ntamas commented on #544
igraph 0.9.11 was recently uploaded to PyPI with pre-compiled `musllinux` wheels. Feel free to reopen this issue if they don't work for you.

[2022-06-08 20:47] #544 closed

[2022-06-15 19:14] ivirshup opened #545 "g.layout("fr") results change between 0.9.10 and 0.9.11"
**Describe the bug**

Results of the `fr` layout algorithm are different between versions 0.9.10 and 0.9.11 of this library

**To reproduce**

[code]

This will give the same result within a release, but results change with igraph 0.9.11. The actual use case is also passing fixed initial positions, and is still seeing this change.

IDK if it's important, I would just expect this to be exactly repr

[2022-06-15 19:43] ntamas commented on #545
This is due to underlying changes in the C core of the igraph library between 0.9.8 (C core version) and 0.9.9. The previous implementation of the Fruchterman-Reingold layout was buggy in multiple ways (xmin/xmax and ymin/ymax boundaries were not always respected, displacements were calculated incorrectly and so on), and we considered the changes we've made as bugfixes instead of breaking changes.

[2022-06-15 20:32] ivirshup commented on #545
Thanks for the info. Makes sense that it would change, and I think it makes sense as a bug fix in this case.

I agree, but this can be quite difficult to get right, especially when the layout algorithm is far downstream of raw data.

The tests in question are checking whether plots look similar, and were already fairly robust to random seed. These are much easier to write 😅

[2022-06-15 21:55] szhorvat commented on #545
There were multiple fixes to FR, including one that corrected a persistent drift in the coordinates. In earlier versions the result was not centred around (0, 0), but was gradually moving away from it. This may be one of the reasons why your test failed, despite trying to make it robust.

It is the nature of such layout algorithms that bugfixes are not possible without changing the output.

[2022-06-17 03:04] mkazanov opened #546 "Importing error after install on Mac High Sierra"
I am on Mac OS High Sierra (10.13)

After installing igraph I have the following error:
[code]

[2022-06-17 09:40] szhorvat commented on #546
@mkazanov Where did you get igraph from? Is there any reason you can't upgrade to macOS 10.14?

----

@ntamas You might find this helpful:

 - I tested that the PyPI version works on macOS 10.14.6. 10.14 is a milestone version that many people use, including myself. 10.15 broke compatibility with many older applications and removed 32-bit support entirely.
 - Wheels are built on 10.15 but it is po

[2022-06-17 15:25] ntamas commented on #546
One thing that I don't understand is that the wheels built in the CI environment seem to target macOS 10.9 (judging from the filename). I was under the impression that `cibuildwheel` sets the deployment target automatically and that's how the generated wheels end up with the `macosx_10_9` suffix. Maybe what happens is that the wheel itself is built for macOS 10.9 but not the C core of igraph. I ne

[2022-06-17 15:36] mkazanov commented on #546
I have the 2017-Mac Book Pro and upgrading to later macOS will results in slowing of all application. I have thousands of software packages on my computer and everything is working except for this package.

Will it work if I compile  igraph from source?

[2022-06-17 15:56] ntamas commented on #546
I think it should work, but if you don't want to compile but you can wait a day or two, I'll adjust the CI setup and you'll be able to download the pre-built wheels from Github Actions. I'll keep you posted.

[2022-06-17 16:12] mkazanov commented on #546
Thank you very much!

Meanwhile, I tried to compile from source and got this message
[code]
This is the content of the directory (there is no igraph.pc here):
[code]

[2022-06-17 16:14] ntamas commented on #546
After checking out the source, did you run `git submodule update --init --recursive`? This should have checked out the source code of the C core of the igraph library in `vendor/source/igraph`, and then running `python setup.py install` would compile the source code of the C core first into `vendor/build/igraph` and `vendor/install/igraph`, and it would pick up the igraph library from there when l

[2022-06-17 16:17] mkazanov commented on #546
I followed this instruction on python-igraph website (below). At what step I need to run `git submodule update --init --recursive`?
[code]

[2022-06-17 16:24] ntamas commented on #546
Well, the instructions on the homepage say that `pip install igraph` should work out-of-the-box in general, and the whole rest of that section refers to the case when you want to build `python-igraph` from source _and_ link to an _existing_, installed version of the C core that is already on your system and is discoverable with `pkg-config`. Your case is a bit special because neither of these two

[2022-06-17 16:36] mkazanov commented on #546
I tried this command, but still have the same error:
[code]

[2022-06-17 16:37] ntamas commented on #546
As the output says:

[code]

You'll need to uninstall the previous version first with `pip uninstall igraph` -- or you can probably force an upgrade with `pip install --no-binary :all: -U igraph`.

[2022-06-17 17:16] mkazanov commented on #546
Thank you very much! It finally works!

[2022-06-17 17:21] ntamas commented on #546
Awesome! In the meantime, I have updated our CI job to use `MACOSX_DEPLOYMENT_TARGET=10.9` when compiling the C core. The macOS wheels are already ready but the Linux i686 job is still running and the artifacts are not published until all jobs are done. It would be great if you could test the build artifact of [this CI job](https://github.com/igraph/python-igraph/actions/runs/2516797508) when it's

[2022-06-17 21:28] szhorvat commented on #546
Didn't read the whole thread but I think what happens is that `libomp.dylib` is copied over from Homebrew, and is targeting macOS 10.15 (as the error message indicates). Thus even if the rest of igraph is built for 10.9, this one dylib will potentially prevent operation on anything earlier than 10.15.

[2022-06-19 05:48] #510 closed

[2022-06-19 23:15] ntamas commented on #546
Indeed @szhorvat, that's the problem. I have checked the built wheel manually, and it includes a hidden `.dylibs` folder that contains a vendored copy of `libomp.dylib`, taken directly from Homebrew, which is part of the build environment in Github Actions. Since the oldest macOS image that I can use in Github Actions is 10.15, and Homebrew does not offer a way to build dependencies with an older

[2022-06-20 03:23] szhorvat commented on #546
Another alternative is to build libomp. I tried this locally on my machine, and installed it to a local prefix, then specified that prefix with `CMAKE_PREFIX_PATH`, and everything worked fine. Sources are here: https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.5 Hopefully cibuildwheel would discover the correct libomp.dylib to copy over. Actually, to avoid worrying about this, we coul

[2022-06-25 03:38] adamoppenheimer opened #547 "Seeming error when computing bridges"
I want to start by saying I am extremely grateful for your package - it is excellent! I've seen considerable speedups in my code after switching from `networkx` to `igraph`!

**Describe the bug**
I believe the method `graph.bridges()` is not giving the correct results.

I apologize for the long example code below, but I tried out the examples in the tests and they work for me, but the code I wrote

[2022-06-25 07:46] RicoFio opened #548 "Dijkstra algorithm time complexity"
**Describe the bug**
In the following sections of the documentation [get_shortest_path_dijkstra](https://igraph.org/c/doc/igraph-Structural.html#igraph_get_shortest_path_dijkstra), [get_shortest_paths_dijkstra](https://igraph.org/c/doc/igraph-Structural.html#igraph_get_shortest_paths_dijkstra), and (shortest_paths_dijkstra)[https://igraph.org/c/doc/igraph-Structural.html#igraph_shortest_paths_dijk

[2022-06-25 15:48] adamoppenheimer opened #549 "Method graph.components doesn't show up in the documentation"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [✓] This issue is for the Python interface of igraph.
- [✓] This issue is a bug report or a feature request, not a support question.

I have been using the method `graph.components` so that the terminology is similar to `graph.biconnected_components`, but I couldn't find it in the documentation.

Eventually I look

[2022-06-25 19:22] szhorvat commented on #547
Can you boil this down into a simple example, with _minimal_ Python code, in the following form?

 - This is my input graph
 - These are the bridges igraph computes
 - This is what I expect as the result instead

[2022-06-25 20:26] adamoppenheimer commented on #547
I don't know if this is exactly what you want, but this is the graph representation from the example I gave above:
[code]

The result I expect is:
[code]

However, the result igraph is giving is:
[code]

[2022-06-25 20:30] adamoppenheimer commented on #547
When I look at this, I see that the two edges that are included in the result I expect are duplicated in the graph, could that be the source of the discrepancy?

[2022-06-25 20:47] ntamas commented on #547
Yes, I'd say that's most likely the reason. An edge is a bridge if its removal increases the number of connected components in the graph. An alternative definition is that an edge is a bridge if and only if it is not part of any cycle. If there are two edges within the same pair of nodes in the graph, then the two edges themselves form a cycle, so neither can be a bridge.

If in your problem the r

[2022-06-25 20:50] adamoppenheimer commented on #547
Thank you for all the help! This seems to be the source of the discrepancy. I will be closing the issue.

[2022-06-25 20:50] #547 closed

[2022-06-25 20:54] ntamas commented on #549
Thanks for the feedback. Yes, this is a bit quirky; for historical reasons, the primary instance of this method is called `clusters` because it is `igraph_clusters()` in the underlying C library (but note that the C library will deprecate this name from version 0.10 and rename it to `igraph_connected_components()`, and the Python interface will eventually follow suit). PyDoctor does not include al

[2022-06-25 20:57] adamoppenheimer commented on #549
I think your idea would be a helpful change.

The issue I was having was that it doesn't show up in the documentation at all, so this would resolve that - thank you!

I'm not sure if I should leave this open until you update the documentation, so I won't close it for now.

[2022-06-26 07:55] szhorvat commented on #547
Yes, this was perfect and very helpful. Thanks!

@ntamas It would be useful if the Python interface could give access to the edges that make up a biconnected component. Then it would be possible to reimplement bridges in terms of biconnected components: it's those that have a single non-loop edge.

[2022-06-26 10:57] ntamas commented on #547
`biconnected_components()` in Python returns a [`VertexCover`](https://igraph.org/python/doc/api/igraph.clustering.VertexCover.html). It does not provide an easy way to access an edge sequence containing all the edges within a single vertex set in the cover -- would that help if we added one? Something like: `cover.es(idx)` would return an edge sequence containing the edges within the vertex set w

[2022-06-26 10:58] ntamas commented on #549
I have updated the docs in ce527fd and also deprecated `.clusters()` in favour of `.components()`.

[2022-06-26 10:58] #549 closed

[2022-06-27 21:36] vtraag opened #550 "None membership in VertexClustering"
**Describe the bug**
Passing in `None` values when constructing a `VertexClustering` works fine, but yields an error when calling `sizes()` function:
[code]

Presumably, it would be easiest to simply disallow `None` as a possible membership value. In case one wants to indicate no cluster for a certain node one could use `VertexCover`.

**To reproduce**
[code]

**Version information**
Which version

[2022-07-04 11:36] szhorvat opened #551 "Graph.Degree_Sequence should expose method to sample simple graphs uniformly"
**What is the feature or improvement you would like to see?**

`Graph.Degree_Sequence()` should expose the method to sample simple graphs uniformly. On C/igraph `master` it is called `IGRAPH_DEGSEQ_SIMPLE_NO_MULTIPLE_UNIFORM`, on `develop` it is `IGRAPH_DEGSEQ_CONFIGURATION_SIMPLE`.

On `develop`, please also expose `IGRAPH_DEGSEQ_EDGE_SWITCHING_SIMPLE`.

**Use cases for the feature**

Be up to da

[2022-07-04 12:12] ntamas commented on #551
Implemented in b8e0c21

[2022-07-04 12:42] szhorvat commented on #551
Re-opening as one more method still needs to be added on `develop`.

[2022-07-05 13:18] szhorvat opened #552 "Update modularity() to support resolution parameter"
**What is the feature or improvement you would like to see?**

Update `modularity()` to support resolution parameter

**Use cases for the feature**

 - Feature parity with C core
 - Working with Leiden community detection
 - `resolution=0` allows counting intra-community edges

[2022-07-05 13:36] szhorvat opened #553 "Update community_multilevel() to support resolution parameter"
**What is the feature or improvement you would like to see?**

Update `community_multilevel()` to support resolution parameter.

**Use cases for the feature**

Feature parity with C core.

[2022-07-05 13:44] szhorvat commented on #546
We never actually got to test if the solution to this issue works properly. @mkazanov can you help with this? Please pick the appropriate wheel for your platform [from here](https://cloud.mpi-cbg.de/index.php/s/1YFx5HQvJHlehvJ) and let us know whether it works correctly. If you have Python 3.8, you need `igraph-0.9.11-cp38-cp38-macosx_10_9_x86_64.whl`.

Feedback about this would be very much appre

[2022-07-10 18:43] lmeyerov commented on #536
(fwiw, still of interest there, just some interim priorities)

[2022-07-15 03:09] tristanlatr opened #555 "Pydoctor CSS is outdated"
**Describe the bug**
Looks like the `apidocs.css` file is overridden at some point. The latest css is not included in the api docs. So the user experience with the search bar is not great.

Directly overriding this file is not a supported manner of customizing the pydoctor css, I’d suggest to use the `extra.css` file instead.

https://pydoctor.readthedocs.io/en/latest/customize.html#tweak-html-tem

[2022-07-20 20:05] ntamas commented on #555
This is the latest CSS that we've included in the API docs:

https://github.com/igraph/igraph.org/blob/master/docs/python/api/master/apidocs.css

This seems identical to a version of the official `apidocs.css` around Apr 12, 2022; the diff between our `apidocs.css` and the head revision in `pydoctor` is as follows:

[code]

Note that we don't regenerate the API docs of _earlier_ versions, though,

[2022-08-01 02:59] #538 closed

[2022-08-01 03:00] #536 closed

[2022-08-01 03:01] #518 closed

[2022-08-01 03:02] #520 closed

[2022-08-04 10:28] gitxiaoning commented on #129
Thank you! This works :)

[2022-08-04 11:59] szhorvat commented on #129
You should use the latest version though, not 0.8.3.

[2022-08-04 17:19] tbuglc opened #556 "edge_label with matplotlib"
Is there a feature to display edge attributes with Matplotlib as with Cairo.

With Cairo
[code]
works perfectly however,
adding this line below in `visual_style` never worked.

[code]

[2022-08-04 23:10] tbuglc commented on #556
I tested the code from tutorial's gallery for [shortest](https://igraph.org/python/tutorial/develop/tutorials/shortest_paths/shortest_paths.html) path and this is what I got
![igraph](https://user-images.githubusercontent.com/19764908/182969938-b4979555-072f-4ce2-a6dd-0b54e367b456.png)

vs on tutorial's result

![igraph-2](https://user-images.githubusercontent.com/19764908/182970100-9fb42fcb-891c-

[2022-08-05 02:21] jmzhoulab opened #557 "PageRank Error: Fatal error at src/core/vector.c:126 : Assertion failed: size >= 0"
**Describe the bug**
Got an error when running PageRank algorithm on a scale graph.  The number of edge is 2658026604, the size of edge file is 51G, and the edge file format as follow
[code]

The machine configuration is that cpu cores is 32 and memory is 320G.

Here is the error message.
[code]

The test code is
[code]

**Version information**
python 3.7.12
igraph 0.9.10

[2022-08-05 04:33] iosonofabio commented on #556
Could you please try the develop branch of python-igraph?

[2022-08-05 05:59] szhorvat commented on #557
Version 0.9 does not support such huge graphs. 0.10 will. Please try with the development version and let us know if it works: https://github.com/igraph/python-igraph/#compiling-the-development-version

[2022-08-05 08:42] ntamas commented on #557
Also, do the expected vertex and edge counts match? I'm asking because it looks like your input file might have gaps in the IDs. igraph requires the numeric vertex IDs to be consecutive integers, so if you have an edge list that contains a single edge like `1 1000000`, you'll get 1000001 vertices, out of which 999999 will be isolates. If you have gaps in the IDs, load the file as "ncol", not edgel

[2022-08-05 09:02] szhorvat commented on #557
`2658026604` is _just_ over the 31-bit limit:

[code]

`igraph_pagerank()` can currently use one of two methods: PRPACK and ARPACK.

PRPACK requires an edge count less than 2^31. The expected behaviour in 0.10 is to throw an error. We might be able to patch PRPACK to work with larger graphs, but this will be quite some work and it probably won't happen in the short term.

ARPACK requires a vertex

[2022-08-08 03:40] jmzhoulab commented on #557
----
THX, I have some confusion that why the edge count less than 2^31. If it's using 32 bits unsigned integer as the index of vertor in storage, the max edge count is  2^32 (about 41 billion), but why limit 2^31 (about 21 billion). Is the vector index used 32 bits signed integer?

[2022-08-08 03:42] jmzhoulab commented on #557
----
@ntamas Thx, I got it, The max vertex id is 1682052736(less than 2^31) in my graph, But I'm not sure there are any isolated nodes. I try to use  load the file as "ncol" and run agian.

[2022-08-08 06:01] szhorvat commented on #557
Yes, it uses signed integers. Were you able to test with the development version and see if the ARPACK method works?

[2022-08-08 07:29] tbuglc commented on #556
I'll try it out over this week and update you

[2022-08-10 07:16] jmzhoulab commented on #557
It's a pity, when I tried  to rebuild the develop version and run pagerank algorithm in these days, which get a "Too many edges for PRPACK" error.

The develop version use the PRPACK, but I don't konwn how to use ARPACK method.

The detail error message
[code]

[2022-08-10 07:20] szhorvat opened #558 "Remove "power" from PageRank docs"
Remove "power" from PageRank docs:

https://igraph.org/python/api/latest/igraph.Graph.html#pagerank

[2022-08-10 07:20] szhorvat commented on #557
Use `implementation="arpack"`

https://igraph.org/python/api/latest/igraph.Graph.html#pagerank

[2022-08-10 07:34] szhorvat opened #559 "Consistent way to specify algorithm/method"
Some functions have several selectable implementation, or can perform an operation with several methods / algorithms. There should be a single predictable keyword argument name to select the method to use. Now different functions use different names, such as `implementation` (`pagerank`), `method` (`Degree_Sequence`) or `algo` (layout selection).

@ntamas I assume you want to postpone this until t

[2022-08-10 09:11] #558 closed

[2022-08-10 09:18] ntamas commented on #559
Adding this to 0.10.0 for the time being as I don't see yet how the stimulus-based rewrite will tie into the `python-igraph` repo. It might end up being such a fundamental change in API and everything that we'll need to think carefully about how to manage the transition.

As for t he argument naming -- in the stimulus-based rewrite (re-generation), the argument names will be taken directly from `f

[2022-08-10 09:29] szhorvat commented on #559
Isn't that too much of a burden on the C side? It's can't be pythonic enough and R-like enough and also suit Mathematica. There should be a higher-level layer in each of the host languages that makes the interface fit the host language well enough.

For example, in Mathematica, some of the things that are exposed as a "method" map to an enum, but some others map to choices of different functions (

[2022-08-10 09:33] ntamas commented on #559
I'm not thinking about completely doing away with a middle layer that provides "pythonic" access to igraph's core functions, I'm just trying to minimize the amount of code we need to write to implement that middle layer. Fixing the argument naming inconsistencies on the C side is one way of minimizing the amount of hand-written code (i.e. if the only reason why a function from igraph's C core cann

[2022-08-10 10:55] jmzhoulab commented on #557
Using implementation="arpack" raise an "Segmentation fault" exception and there is no stack information.

[2022-08-10 11:54] szhorvat commented on #557
Can you please double-check that your graph has strictly fewer vertices than $2^{31}$? Can you please report the vertex and edge counts here? Is the graph weighted?

[2022-08-10 12:23] szhorvat commented on #558
These should be removed from the Python interface C glue code as well.

[2022-08-10 12:25] szhorvat commented on #557
I looked at the code and I do not see any reason why this should fail, but I do not currently have access to a machine with enough memory to test it. I added a safety check for the vertex count. If you re-install the development version now, it should include that check. However, if your graph has fewer than $2^{31}$ vertices, it should make no difference.

Any tips here @ntamas ? I can't see anyt

[2022-08-10 12:45] flange-ipb opened #560 "wasm wheel"
Hi folks!

I'd like to use the igraph library inside the Pyodide environment. With their latest release, they [added the possibility to load binary wheels specifically built for WebAssembly](https://blog.pyodide.org/posts/0.21-release/#improvements-to-package-loading). Having such wheels deployed at PyPI would be fantastic.

I already figured out how cross-compile the igraph C library to wasm usin

[2022-08-10 12:52] ntamas commented on #560
It's amazing what you can do in the browser nowadays. I don't have any experience with these tools, but it seems quite sure that you also need to convert the C glue code in this module to `wasm`. This is just pure guesswork, but how about something like [`wasmpy-build`](https://pypi.org/project/wasmpy-build/)? It seems to be built for the purpose of compiling Python C extensions to `wasm`.

Some a

[2022-08-10 15:20] jmzhoulab commented on #557
Ok, I will check it again and give you feedback later.

[2022-08-11 06:33] jmzhoulab commented on #557
The maximum vertex id is 434943375，which far less than $2^{31}$.
The graph is unweighted. Read data from the file is ok. The graph object created successfully.

vertex count 434943376, edge count 2658026604

I rebuild the python-igraph development version using igraph-4d2a03c30d303f6e6b9a64c7bf0c334b856c3c8c. This igraph version is work?

The test code
[code]

The stdout log
[code]

[2022-08-11 09:35] jmzhoulab commented on #557
Switching to an another dataset(twitter-2010) was successful.

The stdout log
[code]

[2022-08-11 09:36] jmzhoulab commented on #557
The vertex count and edge count of twitter-2010 are fewer than `2^{31}`

[2022-08-11 18:32] ntamas commented on #557
Yes, that should work.

I'm thinking about two possibilities but I don't know yet whether any of these is relevant or not:

1. ARPACK may or may not support matrices with that many edges; I find the vendored ARPACK in igraph suspicious because it uses `integer` as the type all along the `f2c`-translated code, and `integer` is typedef'd to an `int`. So, if ARPACK uses an `integer` anywhere to repre

[2022-08-11 19:21] szhorvat commented on #557
I don't think (1) is possible because ARPACK never becomes aware of edges. We simply pass ARPACK a function that takes a vector and computes the action of the PageRank matrix on that vector. ARPACK does not need to represent that matrix—it just needs a function to compute its action.

Am I missing something @ntamas ?

[2022-08-11 19:27] ntamas commented on #557
That's true, but I cannot think of any other reason; that's why it would  be good to see a stack trace.

[2022-08-12 06:40] szhorvat commented on #560
Did you try this with version 0.9?

Would you be able to check whether it works without issues for the 0.10 pre-release as well? [Here's a tarball.](https://cloud.mpi-cbg.de/index.php/s/jFb9kyRyjIkc5hu)

[2022-08-12 07:23] flange-ipb commented on #560
@szhorvat
The cross-compile works for your 0.10 pre-release, for version 0.9.9 and for the current master.

[2022-08-12 08:49] flange-ipb commented on #560
No progress from my side yet. I'm collecting a few things:
- [CPython will support wasm in the upcoming version](https://docs.python.org/3.11/whatsnew/3.11.html#build-changes).
- [Pyodide also brings its own package builder](https://pyodide.org/en/stable/development/new-packages.html#building-python-wheels-out-of-tree).
- For the CI pipeline you're using here, [they already started discussing Pyod

[2022-08-12 14:59] flange-ipb commented on #560
Almost done (I think). I patched [setup.py](https://github.com/igraph/python-igraph/files/9320676/setup.py.diff.txt) to invoke emcmake and then run `pyodide build` instead of `python setup.py build`, which compiles the C extensions with emscripten. pyodide-build 0.21.0 requires Python 3.10, which is why I moved to Docker with the following Dockerfile:
[code]
Now, while linking of the C extensions

[2022-08-12 15:20] ntamas commented on #560
The issues about `igraph_*_yylex_destroy()` are probably easy to fix. We declare these functions on our own in our C files with a `void` return type, while it seems like `bison` generates them with an `int` return type. We can simply change our own declarations in `vendor/source/igraph/src/io/gml.c` and similar to return `int`.

As for `s_cat` and `s_copy`, they do not seem as straightforward beca

[2022-08-12 15:32] ntamas commented on #560
https://github.com/igraph/igraph/commit/c307fc4089435f95587df7394a56a0f443a804f1 changes the `yylex_destroy()` functions to return `int`; this should fix most of the problems above. The remaining two are about `s_cat` and `s_copy`; I need to test those more with and without vendored LAPACK, but in the meanwhile you can try this patch:

[code]

[2022-08-12 18:18] szhorvat commented on #560
This is Bison version dependent, we should not change it arbitrarily.

[2022-08-12 18:35] szhorvat commented on #560
I don't remember the details but I seemed to recall that we've been here and changed that return type back and forth at least once. This function is generated by Flex. I checked that both the latest _released_ version as well as the ancient version included with macOS use `int`, so I might be misremembering.

Note that we use these functions with `IGRAPH_FINALLY`, which assumes a return type of `v

[2022-08-12 20:38] szhorvat commented on #560
Did you provide a custom `arith.h` when cross-compiling?

Or does this method of compiling produce actually runnable exectuables?

[2022-08-13 17:06] ntamas commented on #560
Flex generates `int` as the return type, although I have no idea why - a well-behaved "destroy" function shouldn't fail. `IGRAPH_FINALLY()` is okay with such a function, it will simply ignore the return value. So I recommend keeping things this way.

[2022-08-13 20:00] ntamas commented on #560
The attached patch now makes the compilation work with the most recent `master` revision of igraph. I have no idea whether the output makes sense.

[igraph.patch.zip](https://github.com/igraph/python-igraph/files/9332096/igraph.patch.zip)

[2022-08-14 06:24] szhorvat commented on #560
@flange-ipb Do you know why `wasm-ld` complains about this? Is this really just a warning that's turned into an error by a flag? Or is it a true error?

@ntamas If it is truly a hard requirement that the signatures should match, I worry that there will be problems with the code that casts functions to a different signature before calling them. Specifically, the flex destructors that were changed t

[2022-08-14 12:15] ntamas commented on #560
Sanitizers did not reveal anything so I'm pretty convinced that it doesn't cause problems. But, just to be on the safe side, we can wrap them in a wrapper that truly returns `void`, and put that on the `FINALLY` stack.

[2022-08-14 12:21] szhorvat commented on #560
At least in C89, it is legal to call functions with no prototype at all. So this _should_ be fine, no?

As for the changes to `s_copy()` and co., the prototype clearly doesn't match, so I guess we can commit this patch to the main repo once @flange-ipb confirms that it's sufficient, right?

[2022-08-14 12:25] ntamas commented on #560
Re the changes to `s_copy()` and `s_cat()`: these are internal f2c functions (not native Fortran ones), but there are variants floating around where they clearly return an `int` (even though it's always zero):

https://github.com/juanjosegarciaripoll/f2c/blob/master/lib/s_cat.c

So I dug around a bit more, and it turns out that there's a macro named `VOID` that you can define when compiling `f2c`

[2022-08-14 12:28] szhorvat commented on #560
The `VOID` macro is used for the K&R style prototype. Does K&R C even support `void`? Maybe it doesn't, or some older versions don't, which is the reason why it was done this way?

[2022-08-14 12:29] szhorvat commented on #560
P.S. We definitely don't want to activate using the ancient K&R style definitions.

[2022-08-14 12:35] szhorvat commented on #560
The last paragraph of [this Wikipedia article section](https://en.wikipedia.org/wiki/C_(programming_language)#K&R_C) confirms that the original K&R C did not support the `void` return type. Instead, people were free to omit the return type and the compiler assumed it to be `int`.

This is almost certainly the reason for this setup in f2c, which means that we should go ahead and just change to `int

[2022-08-14 12:52] ntamas commented on #560
Committed the prototype changes and updated the Python interface so now both the `master` and the `develop` branch should compile in the Docker container as outlined above, without any patches to igraph's source code.

[2022-08-15 08:42] flange-ipb commented on #560
Amazing! So much activity here. :smiley:
Let me proceed slowly.

@szhorvat
I repeated my initial build of igraph (develop branch) with
[code]
During build configuration there is a warning:

Nevertheless, the build does not fail.

The following `arith.h` is generated in `build/vendor/f2c`:
[code]
I guess it is generated via the following rule in `build/vendor/f2c/CMakeFiles/f2c_vendored.dir/build.m

[2022-08-15 08:56] flange-ipb commented on #560
I also ran the tests with `cmake --build . --target check`: 354 of 491 failed, most of them with a "Permission denied" error. I have the feeling some program is missing in my Docker container.
From `build/Testing/Temporary/LastTest.log`:
[code]
`/usr/bin/diff` and `/usr/bin/cmake` exist, all permissions seem to be ok in the igraph directory. I can execute `/emsdk/node/14.18.2_64bit/bin/node /igrap

[2022-08-15 08:56] szhorvat commented on #560
Thank you, this answers my question. Unlike during normal cross-compilation, the system is able to run `arithchk.js`, so it is not necessary to set an `arith.h` header manually.

This means that we still need to test igraph in a more traditional cross-compilation environment before the 0.10 release.

[2022-08-15 09:13] szhorvat commented on #560
Tests whose output is verified are executed differently, through `run_legacy_test.cmake`, which uses `execute_process`. It is likely trying to execute the `.js` directly without prefixing it with the `node` command. `arithchk` is run in a different way, through `add_custom_command`, which is somehow made to work correctly by `emcmake`.

We'll get back to this in time, but there may be a pause in a

[2022-08-15 09:15] szhorvat commented on #560
The key is probably to use [CROSSCOMPILING_EMULATOR](https://cmake.org/cmake/help/latest/prop_tgt/CROSSCOMPILING_EMULATOR.html#prop_tgt:CROSSCOMPILING_EMULATOR) when using `execute_process`.

[2022-08-15 10:38] flange-ipb commented on #560
The information necessary for the detection Emscripten is not available in `run_legacy_test.cmake` at the moment. `CROSSCOMPILING_EMULATOR` is also undefined.
What I have in `build/CMakeFiles/3.18.4/CMakeSystem.cmake` looks interesting:
[code]
`Emscripten.cmake` can be found [here](https://github.com/Emscripten-core/Emscripten/blob/main/cmake/Modules/Platform/Emscripten.cmake). I guess the path of

[2022-08-15 11:57] flange-ipb commented on #560
Alright, I'm able to the wasm wheel with the current master branch of igraph. :smiley:
I'll try to include it in my web project now. (We only call the BLISS algorithm for a Graph converted from NetworkX.)

With igraph's develop branch I get a few compilation errors for the C glue code, see the [log](https://github.com/igraph/python-igraph/files/9336968/pyodide-build.log) from my `pyodide build` ru

[2022-08-16 07:22] flange-ipb commented on #560
Looks better, but 36 tests failed. [Here](https://github.com/igraph/python-igraph/files/9348586/test.log) is the log.

If you want to setup an Action CI workflow, then [mymindstorm/setup-emsdk](https://github.com/mymindstorm/setup-emsdk) might be an option. That's the one [suggested by the Pyodide developers](https://pyodide.org/en/stable/development/new-packages.html#building-python-wheels-out-of

[2022-08-16 08:41] flange-ipb commented on #560
I proceeded loading the wasm wheel with Pyodide and new problems appeared. A simple project is deployed [here](https://flange-ipb.github.io/igraph-wasm-wheel/).
The browser debug console logs the following:

[2022-08-16 08:43] szhorvat commented on #560
Thank you! Would you mind running it once more with the last fix and posting the log again, if not too much trouble? I accidentally broke the failure reporting.

Most of these have to do with opening external files for reading/writing, but a few are not, and it'd be great to see what's wrong with those few. I'm travelling at the moment and can't set up emscripten locally.

[2022-08-16 09:02] flange-ipb commented on #560
Sure, [here](https://github.com/igraph/python-igraph/files/9349301/test-7bcb3f26186058f5afbc88ce9541b8ffb66c5a8c.log) is the log.

[2022-08-16 09:35] szhorvat commented on #560
There are four types of failures here:

 - External files cannot be accessed because of sandboxing. This we can look at later. This is responsible for the majority of failures.
 - Thread-local storage does not seem to be working. Not sure if this is supported?
 - The `strvector_set_len_remove_print` test fails. This test incorrectly disabled the error handler so I can't see why it fails.
 - The `i

[2022-08-16 10:21] hoodmane commented on #560
The current error is due to an ABI change between Emscripten v3.1.18 and Emscripten v3.1.14. In particular, `time_t` changed from 32 bit to 64 bit. The error you see: `LinkError: imported function 'env.time' signature mismatch` is because your package expects to import a function `time` with signature `(i32) -> i64` but the `time` function Pyodide defines is `(i32) -> i32` using the older 32 bit `

[2022-08-16 10:27] flange-ipb commented on #560
WOW, thanks for your quick feedback, I will try with 3.1.14.

I'm responsible for that junk, because I was playing with different commits of python-igraph and igraph and quickly lost overview. Sorry for that.

[2022-08-16 10:34] hoodmane commented on #560
If you want a valid wheel name you could name it eg
`igraph-0.9.11+7f028d6_231bb65-cp310-cp310-emscripten_3_1_14_wasm32.whl`

[2022-08-16 11:21] hoodmane commented on #560
Also, I recommend testing against the debug build https://pyodide-cdn2.iodide.io/v0.21.0/debug/console.html if you get any weird errors. Perhaps we should add a comment about the debug build to the Pyodide docs...

[2022-08-16 11:43] flange-ipb commented on #560
@szhorvat
[Test log](https://github.com/igraph/python-igraph/files/9350577/test-d3d4e594c076f5831a891e7cf87d9bf3b528edab.log) for igraph's develop branch (commit d3d4e594c076f5831a891e7cf87d9bf3b528edab), configured with `emcmake cmake .. -DCMAKE_BUILD_TYPE=Debug -DUSE_SANITIZER=Undefined -DIGRAPH_WARNINGS_AS_ERRORS:BOOL=OFF`

[2022-08-16 12:25] szhorvat commented on #560
Thanks @flange-ipb ! Now both of those two tests pass. This is quite strange, as all I did was add a final newline to the output.

[2022-08-16 12:26] szhorvat commented on #560
@hoodmane Is thread local storage supposed to work with emscripten?

[2022-08-16 12:34] hoodmane commented on #560
We don't build with threading enabled because it doesn't work correctly with dynamic linking right now. Thread local storage should work because it should just fall back to global storage.

[2022-08-16 13:43] flange-ipb commented on #560
@hoodmane
Superb! Pyodide can load the wasm wheel compiled via Emscripten 3.1.14. The igraph dependency also works smoothly in my web project.

[2022-08-17 11:46] ntamas commented on #552
It's already done in the `develop` branch, and since igraph 0.10.0 is close to a release now, I'd rather wait until igraph 0.10.0 is out, and then merge the `develop` branch here into `master` and make a `python-igraph` release as well (even if not all the new stuff in igraph 0.10.0 will have a Python interface by then).

[2022-08-17 11:53] flange-ipb commented on #560
@hoodmane
I'm in the process of cleaning up the mess done to python-igraph's setup.py. You can see in my previous [patch](https://github.com/igraph/python-igraph/files/9320676/setup.py.diff.txt) that `emcmake` needs to be invoked for configuring the build of the vendored igraph C-library. This should be done only for the wasm build, of course. Is it possible to detect the invocation of `pyodide bu

[2022-08-17 11:59] ntamas commented on #560
I just wanted to post something similar; it seems like supporting wasm builds is near-zero effort from our side, we just need to have a reliable way of detecting whether we are being invoked from `pyodide build`. An environment variable would be great, or something in the `sys` or `platform` modules that would allow us to detect that this is a wasm build.

[2022-08-17 12:00] hoodmane commented on #560
Our documentation currently suggests:
[code]
https://pyodide.org/en/stable/usage/faq.html#how-to-detect-that-code-is-run-with-pyodide

[2022-08-17 12:07] flange-ipb commented on #560
I should have kept my eyes open. :facepalm:

@ntamas Do you want to add it or should I PR it? (to the develop branch or to master?)

[2022-08-17 12:13] ntamas commented on #560
Please send a PR to `develop`.

[2022-08-17 13:48] ntamas commented on #525
Added `Graph.list_triangles()` in the `develop` branch in 29aea1b

[2022-08-17 13:48] #525 closed

[2022-08-17 19:41] tbuglc commented on #556
I just tried the compiling from `develop` branch and it seems to work well.
Could we have it on PyPI release as well?

[2022-08-18 06:08] iosonofabio commented on #556
We redesigned the whole plotting interface in `develop` so it's not easy to do that. Version 0.10 of the C core is out as pre-release and will be release ASAP, after that `python-igraph` 0.10 will follow in a matter of days (I hope).

[2022-08-18 14:24] szhorvat commented on #524
This is broken again. Some tests fail without matplotlib.

[2022-08-18 18:54] ntamas commented on #524
Should be fixed again in e653676 ; please try it and close if it works for you.

[2022-08-21 13:06] RicoFio opened #562 "GML float attribute inconsistencies"
**Describe the bug**
The GML format, by [definition](https://docs.yworks.com/yfiles/doc/developers-guide/gml.html), should be able to handle floating point / double edge or vertex attributes. However, when writing an igraph `Graph` object to a `gml` file, the floating point precision is capped to 16 digits after the comma.

**To reproduce**
[code]
When then loading the same graph from the two diff

[2022-08-21 13:13] szhorvat commented on #562
Please test with the development version from the `develop` branch (to become 0.10). Compilation/installation instructions are [here](https://github.com/igraph/python-igraph/#compiling-the-development-version). The GML reader/writer has undergone major refactoring for 0.10.

[2022-08-21 13:32] szhorvat commented on #562
I just checked, and the behaviour is the same in the latest version. I did in fact look at this when overhauling the GML writer. It writes [`DBL_DIG`](https://en.cppreference.com/w/c/types/limits) _decimal_ digits. This is the number of decimal digits guaranteed to be preserved after a decimal -> binary -> decimal conversion round-trip.

You seem to be asking to write enough digits for a lossless

[2022-08-21 13:37] szhorvat commented on #562
P.S. Regarding "the GML standard", there isn't one. What you linked to describes yEd's handling of GML files. The original description of the GML format by its authors is long gone, and only accessible through archive.org, https://web.archive.org/web/20190207140002/http://www.fim.uni-passau.de/index.php?id=17297%26L=1  So there is little point in talking about complying with the standard. Instead,

[2022-08-21 14:12] RicoFio commented on #562
Ha, you were quicker! Thanks for checking.

Okay, I see where this comes from now and I would definitely agree with you that changing this to a non-compatible format would be counter-productive. However, I would still put a warning in the documentation because it was quite disheartening when I discovered that results differed between in-memory graph and GML-file loaded graphs _on the day of my mas

[2022-08-21 14:13] RicoFio commented on #562
Yeah, I figured that out by now. I'm using `picklez` now but I might switch to HDF5.

[2022-08-21 14:35] szhorvat commented on #562
Changing edge lengths by a relative amount on the order of $10^{-15}$ should not cause a difference in results if the problem is well formulated and the calculation is solid. You say that such a change leads to results which are wrong. Are you sure that the original results were correct?

Is it possible that your graph has several shortest paths of equal length between some pairs of vertices? For

[2022-08-22 12:21] szhorvat commented on #562
There is one more thing concerning this that came to mind.

Numbers that are representable in decimal are not necessarily exactly representable in binary as well. This leads to unusual effects such as `printf("%.17g\n", 100.1)` outputting `100.09999999999999` instead of `100.1`. Truncating to `DBL_DIG` digits, i.e. using `printf("%.15g\n", 100.1)` prevents this. Generally, people expect that numbe

[2022-08-22 12:37] szhorvat commented on #562
Added a comment in the source code in case this comes up in the future:

https://github.com/igraph/igraph/blob/3e9e3dbacb9788fbb00f3035e5aaea4625b539f3/src/core/printing.c#L32

[2022-08-22 13:25] ntamas commented on #556
Yes, that's the plan. If things go according to plan, igraph 0.10 will be released as soon as I get back from holidays in September, and the Python interface will follow in a day or two.

[2022-08-22 14:30] tbuglc commented on #556
Alright, thank you all. We'll be waiting then.

[2022-08-22 14:30] #556 closed

[2022-08-23 06:10] adamoppenheimer opened #563 "Segmentation fault from method `.bridges()`"
**Describe the bug**
When `.bridges()` is run on very large datasets, it causes a segmentation fault.

**To reproduce**
I apologize since I don't know how to simply generate a large graph, but I will be happy to go through the details of the following code, and also explain how to extract the graph used in the code.

This code uses the method `.bridges()` and causes a segmentation fault when I run

[2022-08-23 08:04] szhorvat commented on #563
The linked issues says that the error message was: "Windows fatal exception: stack overflow"

This is likely the same as this: https://github.com/igraph/igraph/issues/1336

[2022-08-23 14:58] szhorvat commented on #563
`igraph_bridges()` has now been refactored to avoid recursive calls. It should no longer crash with stack overflow on large graphs. This improvement will be released with the next version of python-igraph, perhaps in 2-3 weeks.

[2022-08-23 14:58] #563 closed

[2022-08-24 14:45] szhorvat commented on #563
@adamoppenheimer You can test the fix right now yourself if you compile python-igraph from source. Instructions are here: https://github.com/igraph/python-igraph/#compiling-the-development-version  The `master` branch contains the 0.9 series and the `develop` branch the soon-to-be-released 0.10 series. Both have this fix.

If you could test and report back that would be much appreciated!

[2022-08-24 21:10] adamoppenheimer commented on #563
I apologize that it took me a while to respond!

At first I tried installing from both the master branch and dev branch and they still both gave a segfault on my code.

However, then I tried uninstalling igraph before compiling from source. This was more work than I expected, since I had to install cmake! But once it installed, I tried out both branches and they work!

Thank you for the fast work,

[2022-08-25 07:04] szhorvat commented on #563
Thank you for checking!

[2022-08-25 14:18] cyberillion commented on #535
Issue still present in version 0.9.11.
I'm getting the  same error with almost the exact [reproduction](https://github.com/igraph/python-igraph/issues/535#issuecomment-1117865187):
[code]

[2022-08-25 14:35] szhorvat commented on #535
This was released with 0.9.11. Double-check the version you are using. If you still see problems, please share a minimal example that demonstrates them.

[2022-08-29 15:11] iosonofabio opened #564 "igraph.Layout should accept 2D numpy arrays"
**Describe the bug**
`igraph.Layout` should accept 2D numpy arrays.

**To reproduce**
[code]
What work is to convert the array to list first:
[code]

**Version information**
`0.9.11` - happy to test `develop` if nobody recalls fixing this

[2022-08-31 16:23] cyberillion commented on #535
You were right, this was a faulty package version inside venv, I
reinstalled the package and the bug disappeared - I removed my comment from
the discussion.
I'm very excited for new plotting features!

On Thu, Aug 25, 2022 at 6:40 PM Fabio Zanini ***@***.***>
wrote:

[2022-09-06 06:50] #564 closed

[2022-09-06 16:22] Jonghyun-Yun opened #565 "Error when ploting in 0.10.0"
The below throws `NameError: name 'plot' is not defined` in `igraph 0.10.0`.
[code]

[2022-09-06 16:48] szhorvat commented on #565
Plotting works fine on my end with 0.10.0. To determine what goes wrong on your computer, please show a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2022-09-06 18:37] iosonofabio commented on #565
Is matplotlib installed in that environment?

[2022-09-06 18:43] szhorvat commented on #565
@iosonofabio This is not related to matplotlib. It happens because when doing `from igraph import *` instead of `import igraph as something`, only those symbols will be imported which are in `__all__`: https://github.com/igraph/python-igraph/blob/master/src/igraph/__init__.py#L1127

[2022-09-06 19:05] ntamas commented on #565
Hmmm, yes. We did not have `__all__` in 0.9 or before and therefore everything that the top-level igraph module imported from elsewhere was automatically re-exported. We started sorting this out in 0.10 by specifying an explicit `__all__`, and apparently we missed this :( I'm making a diff of the namespace between 0.9.11 and 0.10.0 to see what we missed and I'll sort it out soon.

[2022-09-06 19:07] ntamas commented on #565
Stuff that is missing from `__all__` in 0.10.0:

[code]

Some of these are indeed not needed (like `sys` or `math`, which are simply modules that the old 0.9.11 igraph module imported for its own purposes), while others should be exported (like `plot` or `compare_communities`).

[2022-09-06 19:11] szhorvat commented on #565
@ntamas If you are planning a 0.10.1, consider doing one with the C core at the same time.

[2022-09-06 19:15] iosonofabio commented on #565
I'd be in favour of releasing a 10.0.1 independent of the C core, since it's not API breaking except for bugfixes

[2022-09-06 19:20] ntamas commented on #565
There are pending fixes in the 0.10 branch of the C core and I guess @szhorvat wants to get those out as well if we are making a new release anyways.

[2022-09-07 07:02] iosonofabio commented on #565
Got it, thanks both

[2022-09-08 08:44] mcleantom opened #566 "Cannot convert networkx graph to igraph using `ig.Graph.from_networkx`"
**Describe the bug**
Code which used `ig.Graph.from_networkx` worked in `0.9.11` fails in `0.10.0`

**To reproduce**
Steps or minimal example code to reproduce the problem.

Run the following code:

[code]

And the following error occurs:

[code]

**Version information**
[code]

[2022-09-08 08:58] ntamas commented on #566
Thanks, I'll look into this soon; we are about to release 0.10.1 in the next few days to fix a few breakages with the 0.10.0 release and I hope to get this done for 0.10.1.

[2022-09-08 09:42] iosonofabio commented on #566
@ntamas I'm having trouble compiling igraph ATM because of some submodule magic but if the fix is in the draft PR. Let me try to sort out the issue on my machine and then we can test it.

[2022-09-08 09:59] mcleantom commented on #566
I think the fix is to use an iterator to get the first key:

So replace:
[code]

with:
[code]

But I am at work so cant currently do a PR/test it

[2022-09-08 11:16] iosonofabio commented on #566
Hehe that's basically my PR

[2022-09-08 11:30] mcleantom commented on #566
great minds think alike

I tried your PR method first but on my version of networkx, it wouldn't let me do
[code]
Saying that `g.nodes` is not iterable

[2022-09-09 07:39] ntamas commented on #566
Fixed in #567

[2022-09-09 07:39] #566 closed

[2022-09-11 10:39] ntamas commented on #565
Fixed in e99e084

[2022-09-11 10:39] #565 closed

[2022-09-11 10:40] #524 closed

[2022-09-11 10:41] szhorvat commented on #524
Sorry, yes, it worked for me.

[2022-09-11 10:45] #552 closed

[2022-09-11 13:34] ntamas commented on #184
Implemented in 562c05f

[2022-09-11 13:34] #184 closed

[2022-09-11 13:40] ntamas commented on #559
Short enumeration:

* `implementation` is used by `Graph.Barabasi`, `Graph.pagerank`, `Graph.personalized_pagerank`, `Graph.induced_subgraph` and `Graph.community_spinglass`
* `algorithm` is used by `Graph.eigen_adjacency`
* `method` is used by `Graph.Degree_Sequence`, `Graph.Realize_Degree_Sequence`, `Graph.Tree_Game`, `Graph.feedback_arc_set`, `power_law_fit` and `compare_communities`

Given the

[2022-09-11 15:46] ntamas commented on #521
Working on this, see 1d5a310 (more to come)

[2022-09-12 17:53] #550 closed

[2022-09-12 17:55] ntamas commented on #550
I decided to keep the possibility of having `None` in the membership vector because even certain test cases relied on it (e.g., the normalized mutual information can be calculated between clusterings with `None` values).

[2022-09-12 17:57] ntamas commented on #521
Fixed ultimately in a30ca7c

[2022-09-12 17:57] #521 closed

[2022-09-14 02:39] btrantruong opened #568 "TypeError when passing niter into personalized_pagerank()"
**Describe the bug**
passing argument for 'niter' causes an error for personalized_pagerank()

Below is the error:
`TypeError: 'niter' is an invalid keyword argument for this function`

However, niter is a legal parameter when I check the parameter names:

[code]

**To reproduce**

[code]

**Version information**
python=3.8.13
igraph=0.10.1
igraph installed using `pip3 install python-igraph`

[2022-09-14 09:55] ntamas commented on #568
`niter` and `eps` are not valid parameters any more, and in fact earlier versions ignored these arguments unless you used `implementation="power"`, which was based on a naive power iteration and it was deprecated a long time ago. igraph 0.10.0 removed lots of deprecated stuff so this method is not available any more. I will fix the documentation so these arguments do not appear there. The solution

[2022-09-14 13:01] #568 closed

[2022-09-17 17:45] schlegelp opened #570 "`.decompose()` fails fatally for directed graphs"
**Describe the bug**
Decomposing a directed graph kills Python interpreter (see example).

**To reproduce**
Minimal example:
[code]
Above code works if `directed=False`.

**Version information**
Tested with iGraph versions `0.10.0` and `0.10.1`. `0.9.11` does not appear to have the issue.

I was able to reproduce this on:
- OSX with Python 3.9
- Linux with Python 3.7
- Linux with Python 3.8

[2022-09-17 18:17] szhorvat commented on #570
ASan report:

[code]

The bug is in the Python interface, not the C core.

[2022-09-18 15:29] iosonofabio commented on #570
I'll take a look ASAP, might be some corner case that is not covered by unit tests

[2022-09-18 16:10] iosonofabio commented on #570
Assigned to @szhorvat since he seems to understand memory ownership in greater depth

[2022-09-18 17:19] #570 closed

[2022-09-18 17:21] ntamas commented on #570
Thanks for the report, this is now fixed in the master branch. A new version of `python-igraph` is likely to be released in the near future; I'll just wait a bit more to see if there are any other issues coming up during the next week so I could batch them in a single release.

[2022-09-18 18:26] iosonofabio commented on #570
thanks @ntamas

[2022-09-21 18:54] lambo4jos opened #571 "Installing igraph tutorial from website: AttributeError: 'AxesSubplot' object has no attribute 'arc'"
I have python 3.8.13, igraph 0.10.1, with matplotlib 3.6.0, and when running the sample scripts from the install page on the website, I am receiving an error. The scripts can be found here: https://igraph.org/python/tutorial/latest/install.html

I am referring to the following

I receive the following errors at the ig.plot(g, target=ax) line:

------------------------------------------------------

[2022-09-21 21:09] iosonofabio commented on #571
Thank you for reporting. Let me take a look later today and I'll get back to you.

[2022-09-22 06:57] ntamas commented on #571
Could this be related to API changes between Matplotlib 3.5.x and 3.6.0? I have noticed that several test cases also broke when the CI system updated Matplotlib 3.5.x to 3.6.0; this might be another instance of incompatibility between the two versions. @lambo4jos Can you try downgrading to Matplotlib 3.5.x to see if that resolves the problem?

[2022-09-22 08:53] lambo4jos commented on #571
@ntamas Down grading to Matplotlib 3.5.3 solved the issue encountered and the code now works as expected and the graphs are drawn as well.

@iosonofabio seems to be Matplotlib 3.6.0 is the culprit

[2022-09-22 10:51] iosonofabio commented on #571
I just met Thomas Caswell yesterday, bad timing 😅

Jokes apart, I can just put in an if/else

[2022-09-22 11:20] iosonofabio commented on #571
Just made a fresh install using `igraph 0.10.1` and `matplotlib 3.6.0` and cannot reproduce the bug. My code:

[code]

and then in the Python interpreter:

[code]

and it works like a charm:

![igraph_mpl_issue](https://user-images.githubusercontent.com/1200640/191733471-078bb197-ea21-49cc-912a-b6a211951078.png)

@lambo4jos are you sure matplotlib 3.6.0 was installed correctly in your environment?

[2022-09-22 12:27] iosonofabio opened #572 "[WISHLIST] Use custom artist for mpl plotting"
**What is the feature or improvement you would like to see?**

Using a custom artist simplifies a few things when plotting or animating graphs in matplotlib. @tacaswell just referred me to this:

https://github.com/networkx/grave/blob/af475f04f48b8d193091cc510b447c264580b766/grave/grave.py#L221

So let's keep it in mind for the next refactoring of our plotting codebase.

[2022-09-22 20:44] lambo4jos commented on #571
@iosonofabio conda must have not installed the package correctly, as I upgraded back to 3.6.0 and things are now working as expected. this is really weird behavior

[2022-09-22 23:59] iosonofabio commented on #571
No problem at all 😊 I'll close the issue, please reopen if that's not ok

[2022-09-22 23:59] #571 closed

[2022-09-24 15:17] lorenzobn opened #573 "Link to the API reference is broken"
Hello everyone!

This is the first time I am writing here, so please apologize if I am in the wrong place.

**Describe the bug**
It's about the website and the docs. I was looking for the latest API reference. Clicking on the link in the website, it returns a "Page not Found" error.

**To reproduce**
1) Go here: [https://igraph.org/python/tutorial/latest/](https://igraph.org/python/tutorial/latest

[2022-09-24 18:06] ntamas commented on #573
Thanks for the report!

@iosonofabio This actually indicates a deeper problem with the generated documentation; basically, whenever we refer to the API docs from the "main" docs, it seems like we assume that `api/` is a subfolder of `tutorial/`, which is not the case when the site is deployed with Jekyll. I can start sorting this out some time next week, but this is like the millionth HTML-rewrite

[2022-09-24 21:26] iosonofabio commented on #573
Agreed: readthedocs would be the way to go if possible.

[2022-09-24 21:32] iosonofabio commented on #573
@ntamas let me take this one anyway: it has to do with a quirk of the API parser I believe, shouldn't take me long

[2022-09-25 01:06] iosonofabio commented on #573
Ok, if I just git pulls `master` and runs `scripts/mkdoc.sh -j` I get a bunch of docstring errors, additionally the api reference link is broken.

I'll investigate the cause for both the errors and the breakage now. @ntamas: this script should run flawlessly before we make a new release to avoid situations like the current one. Any place where you could put a note about that since you're the one p

[2022-09-25 18:47] Paebbels opened #574 "igraph can't be installed on MSYS2/MinGW64"
**Describe the bug**
When installing igraph via pip on MSYS2/MinGW64 an error is raised due to a non supported platform name.

[code]

Error message:

**To reproduce**
Start MinGW64 and run:
[code]

This error is posted here, because normal build and installation instructions work, but installing via package manager doesn't.

Manual compilation is not an option for multi-platform CI runs testing i

[2022-09-25 18:55] ntamas commented on #574
This is not an igraph issue but an issue with MSYS2. MSYS2 ships a patched copy of `distutils` to allow for the customized `--plat-name` option that MSYS2 uses. However, since `setuptools` version 60, `setuptools` ships its _own_ vendored copy of `distutils`, which does not include the MSYS2 patches, hence the error message above.

As far as I know the workaround is to use `SETUPTOOLS_USE_DISTUTIL

[2022-09-25 18:57] Paebbels commented on #574
I'll try it.

----------
Btw. it also compiles >800 sources files, even if igraph is already installed in MinGW64 and
[code]
was used.

I understood the instructions in a way, that build effort should be less.

[2022-09-25 19:07] ntamas commented on #574
The `--use-pkg-config` route is not tested much as all the pre-compiled wheels on PyPI use a vendored copy; it might be the case that there's a bug there, but before we go down that road, can you check whether the output of `pkg-config --cflags --libs igraph` seems to be correct?

[2022-09-25 19:11] szhorvat commented on #574
FWIW `--use-pkg-config` works fine in MacPorts, and I assume in most Linux distros (since most of them use it).

[2022-09-25 19:19] Paebbels commented on #574
I admit, I haven't checked all compile outputs - I'm not used to what igraph produces.

I could restore outputs from console logs:

**Output of `pkg-config --cflags --libs igraph`:**
[code]

**Output of `python setup.py build --use-pkg-config`:**
[code]

**Output of `python setup.py install`:**
[code]

[2022-09-25 19:23] szhorvat commented on #574
Try to pass `--use-pkg-config` to `install` as well.

[2022-09-25 19:28] Paebbels commented on #574
This output looks now shorter.

**Output of `python setup.py install --use-pkg-config`:**
[code]

[2022-09-25 19:30] szhorvat commented on #574
Yes, it's linking to `igraph` in MSYS2.

Since you want to use the MSYS2 version of igraph, you should be aware that there were some issues on this platform:

 - https://github.com/msys2/MINGW-packages/issues/8399
 - https://github.com/igraph/igraph/issues/1850

[2022-09-26 13:13] ntamas commented on #574
Yes, that's unfortunate but one needs to do both; `python setup.py install` runs `python setup.py build` as a dependency, and if you don't pass `--use-pkg-config`, `build` will build the vendored C core even if you built the extension earlier with an external C core.

@Paebbels did you test the wheel that was built with the changes above, does it work now? If it does, I guess that the only action

[2022-09-26 20:22] iosonofabio commented on #573
Just a quick heads up.

I found how to repair the broken link here and found several other ones and fixed them too. The nice thing about how we build the docs in the `igraph.org` repo is that we can hotfix old versions post facto. Therefore, I'm spending a little more time to make the docbuilding more sustainable in the future.

1. `pydoctor` as it stands now requires the API docs to be in a subfo

[2022-09-26 20:24] Paebbels commented on #574
I think in a first step, applying `--use-pkg-config` twice could be added to the documentation.

For testing it, it's a bit complicated on my side. The CI setup is quite complex, because it's planned to be used in a matrix run. I think I'll do a temporary change and then run all jobs with that environment variable.

Or I investigate how to add python-igraph to MinGW as a package, then it would be

[2022-09-27 21:05] ntamas commented on #573
@iosonofabio sorry for the late reply, I've had classes on Monday and today and I needed to set some time aside to investigate this as well. (And I'm afraid that it's a bit hard now to find a time window where both you and me are awake so we'll probably have to roll with async communication). Here are my thoughts:

1. Yes, readthedocs is the way to go if we can massage the documentation into a for

[2022-09-27 21:08] iosonofabio commented on #573
@ntamas thank you for your answer. No need from the input at this stage: I have it working on my machine, will make a PR later today.

Long term, let me experiment with readthedocs a little bit.

[2022-09-28 07:49] BaseMax opened #575 "404 Page: API reference"
https://igraph.org/python/tutorial/latest/api/index.html link is available on https://igraph.org/python/tutorial/latest/.

[2022-09-28 07:55] iosonofabio commented on #575
Thank you, I'm on it.

[2022-09-28 11:41] iosonofabio commented on #575
duplicate, so closing, thank you for reporting.

[2022-09-28 11:41] #575 closed

[2022-09-28 11:44] iosonofabio commented on #573
Just pushed the PR which fixes this and a bunch of other bugs in the docs.

Since we are on the topic, I am planning the following improvs for the python docs:

- Jupyter notebook examples using sphinx-gallery
- a few long tutorials covering distinct scientific disciplines
- translation into Spanish

All of those are on my radar, so stay tuned.

[2022-09-28 13:44] sombreslames opened #576 "get_k_shortest_paths availability in python-graph"
Hello,
I would like to know if it is planned to make available the following function :
https://igraph.org/c/doc/igraph-Structural.html#igraph_get_k_shortest_paths
Or another implementation of the k-shortest-paths algorithm?

I would need these features to propose alternative paths on a DAG, as edge random deletion could happen in our problem.

Let me know if I can help in that.

Best regards, Léo

[2022-09-28 14:20] szhorvat commented on #573
Very nice!

Will you do this yourself, or will you hire someone?

Once concern is ending up with outdated translations that we are unable update. Do you have a plan to deal with this? For example, keep it in a form that makes it very easy for users to submit correction (best is probably a wiki, next-best is something that's editable using GitHub's online interface)

[2022-09-28 20:25] iosonofabio commented on #573
I have already hired someone 😋

We'll try with a pilot in which they translate a few tutorials only and I set up a branch of the repo that includes the html to show little flags and whatnot.

Outdated docs are indeed the concern. My plan is to run a diff on the English docstring and it's nonempty display a banner in Spanish that says "this function might have changed, check the English docs _here_

[2022-09-28 20:34] iosonofabio commented on #576
@sombreslames thanks for requesting.

If you can make a PR I'd be happy to help you polish it to our sky-high coding standards 😋

The general process involves:
- adding a CPython function in `src/_igraph/graph object.c` that talks to Python and calls the C function
- writing a docstring
- writing a test in `tests`

If you are interested, open a draft PR against `master` ASAP and I'll keep an eye o

[2022-09-29 08:30] ntamas commented on #573
Also, if we plan to migrate to readthedocs in the near future, I was wondering whether it would be possible to put one of those "Edit this page on Github" buttons on the doc pages? Ideally, the button would open Github's editor interface with the appropriate source file and then anyone could easily make a PR with doc fixes without having to clone the repo.

[2022-09-29 08:34] iosonofabio commented on #573
Happy to look into it

[2022-09-29 09:25] sombreslames commented on #576
Hello Fabio,
I am trying to do so. Sorry but I never did that, I created a fork and a pull request on the fork.
Please see (https://github.com/sombreslames/python-igraph/pull/1)
Should I create it on this repo? If yes I do need specific right no?
Best regards,
Léon

[2022-09-29 09:31] iosonofabio commented on #576
No worries.

Fork is good. Making a PR is good, but a PR is not *on* a repo, is *between* a (new) branch in your repo and an (existing) branch on ours. You don't need special rights to do that.

I think if you click in the github interface right below the PR name and number it will let you change the *destination* repo and branch. Please select *this* repo and the *master* branch. If it works, you

[2022-09-30 10:36] ntamas commented on #573
The links on the homepage should now be fixed, although not all old links might be valid any more as we have reshuffled things a bit since 0.10. Please try accessing the API docs from https://igraph.org/python/; it should be okay now. Feel free to reopen if this is still not the case.

[2022-09-30 10:36] #573 closed

[2022-10-01 12:07] dange-academic opened #580 "return FittedPowerLaw(*_power_law_fit(data, xmin, force_continuous)) TypeError: __init__() missing 1 required positional argument: 'p'"
**Describe the bug**

`power_law_fit()` throws exception in version 0.10.1. It works correctly in version 0.9.11.

**To reproduce**

The example code:

[code]

igraph==0.9.11, the output results as follows:

[code]

igraph ==0.10.1, an error appears as follows:

[code]

**Version information**

 - python-igraph 0.10.1

[2022-10-01 12:17] szhorvat commented on #580
Can you please edit this report and fill out all sections of the bug report template?

[2022-10-01 12:37] dange-academic commented on #580
The following error occurred using igraph=0.10.1:

**return FittedPowerLaw(*_power_law_fit(data, xmin, force_continuous))
TypeError: __init__() missing 1 required positional argument: 'p'**

But this error does not occur when igraph==0.9.11

[2022-10-01 12:39] szhorvat commented on #580
Can you please include steps to reproduce the issue? A simple but complete code example would be useful.

[2022-10-01 12:46] dange-academic commented on #580
The example code:
`from igraph import *

g = Graph.Barabasi(n=5000,m=1)
result = power_law_fit(g.degree())

print(result)
print(result.alpha)`

igraph==0.9.11, the output results as follows:
`Exponent (alpha)  = 3.146555
Cutoff (xmin)     = 5.000000

Log-likelihood    = -805.694601

H0: data was drawn from the fitted distribution

KS test statistic = 0.022472
p-value           = 0.993125

H0 could

[2022-10-01 13:06] szhorvat commented on #580
Thank you for providing the example. This is helpful. I moved the example to the top post and hid the comments above to avoid duplication. We will look into the problem.

[2022-10-01 13:11] dange-academic commented on #580
Thank you very much

[2022-10-01 18:02] ntamas commented on #553
This has been added already in 0.10 so closing.

[2022-10-01 18:04] szhorvat commented on #553
It's not in the docs: https://igraph.org/python/versions/latest/api/igraph.Graph.html#community_multilevel

[2022-10-01 19:38] ntamas commented on #553
Darn, thanks. I really need to do something about this. The resolution parameter is implemented in the low-level `GraphBase` class, but the `Graph` class overrides it to provide a more pythonic return value, and the overridden function does not declare this argument. I'll fix this next week.

[2022-10-02 15:59] Ch0ngWang opened #581 ""path" is an invalid keyword argument for "get_eids""
**Describe the bug**
When calling the function "**get_eids**" (https://igraph.org/python/versions/latest/api/igraph.GraphBase.html#get_eids) with the keyword argument "**path**", I get a TypeError.

`TypeError: 'path' is an invalid keyword argument for this function`

But the arguments of this function returned by `help()` are as follows.

`<function Graph.get_eids(pairs=None, path=None, directed=

[2022-10-03 21:22] #581 closed

[2022-10-03 21:24] ntamas commented on #581
Thanks for your report; unfortunately the `path` argument was removed from the `get_eids()` function in the C core of igraph so we decided to follow suit in the Python interface as well.

You can easily generate an appropriate `pairs` argument if you have a path; all you need to do is:

[code]

Sorry for the inconvenience that this may have caused.

[2022-10-03 21:57] #553 closed

[2022-10-03 22:33] ntamas commented on #580
Phew, this is going to be tricky.

igraph 0.9 and earlier contained a slightly flawed version of the p-value estimation. It was quite fast, but it was less rigorous than the original approach proposed in the Clauset-Shalizi-Newman paper, and it did not yield the same results on the same set of inputs. igraph 0.10 updated its vendored `plfit` library to a newer version, which now contains the corre

[2022-10-03 22:40] #580 closed

[2022-10-04 02:15] dange-academic commented on #580
Thank you very much for your answers.

[2022-10-04 02:25] Ch0ngWang commented on #581
Ok I see, thanks for your reply.

[2022-10-04 02:26] Ch0ngWang commented on #581
Ok I see, thanks for your reply.

[2022-10-04 06:57] ntamas commented on #574
Okay, I have documented in the README that you need `SETUPTOOLS_USE_DISTUTILS=stdlib` and you need to use `--use-pkg-config` for both the `build` and the `install` step. Feel free to reopen if you are still having problems with the MSYS2 build.

[2022-10-04 06:57] #574 closed

[2022-10-06 00:49] BaseMax opened #587 "Error: AttributeError: 'str' object has no attribute 'arc'"
**Describe the bug**
[code]

**To reproduce**
[code]

**Version information**
0.10.1

[2022-10-06 00:50] BaseMax opened #588 "Error: igraph.drawing.cairo.plot.cairo.MemoryError: out of memory"
Copy from https://github.com/igraph/igraph/issues/2230

**Describe the bug**

[code]

**To reproduce**

[code]

**Version information**
0.10.1

[2022-10-06 00:56] BaseMax commented on #588
My problem was solved by converting the graph to networkx and using networkx to draw, but I think it's good to keep this issue to report this bug when we want to use igraph to draw and don't want to use networkx.

[code]

[2022-10-06 01:03] iosonofabio commented on #588
Then you for reporting. I'll take a look ASAP, it looks mighty weird.

Do you know what Cairo backend library are you using?

[2022-10-06 01:04] iosonofabio commented on #587
Thank you for reporting.

@ntamas didn't you just fix this one recently?

[2022-10-06 01:20] BaseMax commented on #588
Thank you. About the Cairo library, Yes I installed it today by using `pip install`.

[2022-10-06 01:45] iosonofabio commented on #588
Yes... *which* Cairo library did you install using pip? The are two out there that we support

Thank you

On Thu, Oct 6, 2022, at 12:20, Max Base wrote:

[2022-10-06 01:54] BaseMax commented on #588
**Q:** Can you tell me the names of both libraries that igraph supported?

I just runned:
[code]

[2022-10-06 02:09] iosonofabio commented on #588
Thank you, that's fine. I'll try to reproduce this afternoon and get back to you

[2022-10-06 06:24] iosonofabio commented on #588
I installed `igraph==0.10.1` and `pycairo==1.21.0` in a virtual environment on my machine and cannot reproduce the error. In fact, I get the plot below:

[myfile.pdf](https://github.com/igraph/python-igraph/files/9721760/myfile.pdf)

which looks just fine.

I'm on Linux and you're likely on some Windows version, however the plotting code itself does not rely on any OS-specific tricks explicitely (

[2022-10-06 06:30] iosonofabio commented on #587
@BaseMax This is a bug, thanks for digging it out.

Technically, I never thought of the possibility that someone might want to use `matplotlib` while also specifying a file as `target`. The `plot` function docstring is a little unclear but does hint to the fact that if you specify a string as a target, you'll be using Cairo instead of matplotlib. I'll improve the docs and logic a little so that yo

[2022-10-06 06:42] ntamas commented on #587
we fixed something similar (it might have been you, not me), but that one involved `igraph` mis-detecting that you were plotting on a Matplotlib context and it somehow used the Cairo backend -- but it didn't have a filename in the equation. It had to do something with the `isinstance()` checks that we were doing to detect Matplotlib figures _and_ the recent changes in Matplotlib 3.6.0 that somehow

[2022-10-06 06:50] ntamas commented on #588
I cannot reproduce this issue either on my machine (with Cairo 1.21.0), but it's definitely weird. Trying to reproduce the problem in a clean virtualenv on Windows would definitely help.

[2022-10-06 07:30] BaseMax commented on #587
The following are working:

[code]

But your solution not works:

[code]

And the error:
[code]

[2022-10-06 08:27] iosonofabio commented on #587
It works on my machine, I think you forgot to set the backend to matplotlib first. So you have to:

1. Set the backend to matplotlib
2. Plot without a target: the function returns an `Axes` which has the `figure` property which itself has the `savefig` method.

Alternatively, you can create your own matplotlib `Axes`:

[code]

In any case, I've made a PR that fixes the original bug, will be there

[2022-10-08 00:38] ntamas commented on #576
Linking PR #577 here

[2022-10-11 06:34] #576 closed

[2022-10-11 08:53] ntamas commented on #129
And the package on PyPI is now called igraph, not python-igraph; python-igraph is planned to be deprecated in September AFAIK.

T.

[2022-10-13 02:14] salotz-sitx opened #592 "Local installation with external deps fails with pip"
**Describe the bug**

When attempting to install locally with pip I can't get the `--use-pkg-config` to take effect.

**To reproduce**

[code]

When I run with `python setup.py install --use-pkg-config` it seems to be fine (although I hit other probably unrelated errors).

Running some debugging statements in the `setup.py` I can see that in the `def process_args_from_command_line` that the `sys.a

[2022-10-13 02:32] salotz-sitx commented on #592
I was able to work around this mostly by running:

[code]

However this has the potential side effect of still allowing the fallback directories to be added to my gcc calls. Which shouldn't be a problem for me, but also shouldn't happen. So changes to the way that the fallback directories are activated should be implemented. And I would recommend you just skip having `--use-pkg-config` and just se

[2022-10-13 06:32] szhorvat commented on #592
Try using `--global-option` instead of `--install-option` and let us know if that worked.

[2022-10-13 08:48] vtraag commented on #592
This is presumably related to what is said here:  https://github.com/igraph/python-igraph/issues/574#issuecomment-1258022997. Presumably, `pip` does not pass the option `--use-pkgconfig` during both `build` and `install` phases.

FYI, @ntamas, in order to make this work with an external `igraph` C library, I also introduced a `--external` flag, instead of `--use-pkgconfig` (also because `pkg-confi

[2022-10-13 10:41] ntamas commented on #592
Okay, I've read the thread; let me summarize what's being proposed here so we can agree that we are on the same page.

Proposal nr. 1 is to stop using command line arguments and start relying on environment variables instead as they cannot be swallowed by `pip`. So we would have something like `IGRAPH_USE_PKGCONFIG=1` and then the `setup.py` script would look for that, right?

Proposal nr. 2 is to

[2022-10-13 14:59] szhorvat commented on #592
Very likely, a lot of package managers depend on this already.

If you remove this, I hope you will help me fix the MacPorts port when it breaks ...

[2022-10-13 15:01] vtraag commented on #592
Yes, indeed, I also tried this and also didn't work for me.

[2022-10-13 15:03] szhorvat commented on #592
I deleted that soon after posting, you must have gotten it in email. I didn't look carefully, just checked the recipe here: https://github.com/macports/macports-ports/blob/master/python/py-igraph/Portfile#L48 The `--global-option` there is something different though.

[2022-10-13 15:14] salotz-sitx commented on #592
Just for your information I am making a package for [Spack](https://spack.io/).

My only suggestion would be to support an environment variable as an alternative to any flags you want to keep. So if you do add `--external` please add an equivalent environment variable.

That said I think the "modern" way to pass arguments to the build backend is to use the `config_settings` as described in PEP 517

[2022-10-13 15:17] salotz-sitx commented on #592
And I guess as a general wish, flags that turn off all "guessing" on the part of the build script is really great for packagers :) I do understand the desire for other use cases to have the magic discovery, but it makes a packager's job much harder.

[2022-10-14 14:17] ntamas commented on #592
See the commit referenced above; this one tweaks the setup script so you can now use `IGRAPH_USE_PKG_CONFIG=1` instead of `--use-pkg-config`.

I'm about to release a new version soon so I was wondering if you could test this with your setup in Spack to see if it satisfies your needs.

[2022-10-14 16:20] ntamas commented on #555
Closing this as we are migrating to hosting the docs on RTD and we are not going to tweak the PyDoctor CSS any more (as far as I know).

[2022-10-14 16:20] #555 closed

[2022-10-14 16:21] #546 closed

[2022-10-14 16:42] ntamas commented on #338
This should be solved now that the C core has transitioned to 64-bit representations internally. I'm closing the issue, but feel free to reopen if you experience something similar with versions 0.10 or above.

[2022-10-14 16:42] #338 closed

[2022-10-14 16:46] ntamas commented on #392
For the record, I tried this again on Google Colab with the following script:

[code]

It still complains about Cairo as that one is the default plotting backend. `matplotlib` is installed in Google Colab by default, so I was wondering whether we should try to be smart and select a plotting backend based on what's available (while still preferring Cairo for the time being if the user has both, for

[2022-10-14 16:48] #435 closed

[2022-10-14 16:57] ntamas commented on #530
I think this has been done; a quick grep for `malloc` and `calloc` revealed only a few places where we use dynamic allocations and they make sense in that context.

[2022-10-14 16:57] #530 closed

[2022-10-14 17:07] folded opened #594 "casting pointers to int* to call igraphmodule_PyObject_to_enum in convert.c is not safe"
The general pattern of calling `igraphmodule_PyObject_to_enum` involves taking the address of a local and casting it to `int*`. for `igraphmodule_PyObject_to_enum` to use as an out parameter.

In several cases the size of this local is not == `sizeof(int)`; e.g.: `typedef unsigned char igraph_edge_type_sw_t;`, leading to a buffer overflow.

[2022-10-14 17:12] szhorvat commented on #594
Not arguing with the main point, but `igraph_edge_type_sw_t` is an `unsigned int` though. If you find any typedef comparable to this one in the igraph C library (not Python) that is not an `int` or `unsigned int`, please open an issue for it at https://github.com/igraph/igraph/issues/new/choose

[2022-10-14 17:21] salotz-sitx commented on #592
I will test it today

[2022-10-14 17:35] ntamas commented on #594
This is what I'm doing now.

[2022-10-14 17:37] folded commented on #594
igraph_edge_type_sw_t was an unsigned char in igraph 0.9.3 (which was what
I was compiling against). Many of the types are also enums, and while in
practice that means it will be represented by an int, the C specification
appears pretty vague about whether it has to be if the set of values would
be representable by a narrower type.

Another observation in the same general area: having a code path

[2022-10-14 17:39] szhorvat commented on #594
Is there any reason you are using such an old version? Many problems have been fixed since then.

I have tested C/igraph with MSan. If you encounter any problems at all with the latest version, please do open an issue.

[2022-10-14 17:52] folded commented on #594
There isn't a great reason other than because upgrading a package like
igraph at a large company is a lot of work.

On Fri, Oct 14, 2022 at 6:39 PM Szabolcs Horvát ***@***.***>
wrote:

[2022-10-14 18:09] szhorvat opened #595 "Null dereference error in igraphmodule_i_Graph_isomorphic_vf2_callback_fn()"
This looks like a NULL dereference error:

https://github.com/igraph/python-igraph/blob/master/src/_igraph/graphobject.c#L9329

[code]

`map21_o` is `NULL` at `Py_DECREF(map21_o);`

[2022-10-14 18:22] szhorvat commented on #594
Well, if you come across anything else that looks off, do let us know.

If you could post the MSan output for that case, it would be appreciated.

[2022-10-14 19:22] iosonofabio commented on #392
What about:

If you don't have Cairo but you have matplotlib and your config is set to Cairo, we print a warning message immediately telling the user how to set mpl as backend?

[2022-10-14 19:51] ntamas commented on #594
CI passed for 10a5fb0 and the code is now free of casts to `int*` so I'm closing this issue.

[2022-10-14 19:51] #594 closed

[2022-10-14 20:45] salotz-sitx commented on #592
My initial test is failing, and is not finding the libraries. I will do some more debugging as time allows.

[2022-10-14 20:47] salotz-sitx commented on #592
Actually the problem is on my end, but leads to another question on version compatibility between python-igraph and igraph itself. Is there any compatibility matrix anywhere?

[2022-10-14 20:53] salotz-sitx commented on #592
Okay I can confirm that the new option works, but I would appreciate an answer to the compatibility matrix for writing my packaging recipe. Before I was just using the same version number.

[2022-10-14 21:00] iosonofabio commented on #592
I don't think we advertise an official matrix. If you pair commit tags in this repo with the hash of the C core git submodule you can get a pretty extensive matrix though.

[2022-10-14 21:03] szhorvat commented on #592
For version numbers of the form `0.x.y`, `x` must match between python-igraph and the C library.

Additionally, try to use the same version of C igraph that is bundled with each python-igraph. There are experimental functions in igraph which may change between 0.10.y releases, and break compatibility. We try to avoid breakages, but sometimes it becomes necessary, and in the _next_ release (0.10.3)

[2022-10-14 22:14] ntamas commented on #595
Fixed in https://github.com/igraph/python-igraph/commit/648a2bb5710f4fe515172d3494b42b5985136168

[2022-10-14 22:14] #595 closed

[2022-10-16 09:56] szhorvat commented on #557
I have not been able to test this as I simply don't have access to a machine that has enough memory.

If you can build and test the latest version with AddressSanitizer that would be very immensely useful @jmzhoulab. Instructions for building and running python-igraph with AddressSanitizer are here: https://github.com/igraph/igraph/wiki/Using-sanitizers-to-find-bugs#python-igraph

Alternatively, i

[2022-10-17 08:40] ntamas commented on #392
I was wondering how we could test for the presence of `matplotlib` without importing it. I'm a bit worried that importing `matplotlib` directly has side effects like the initialization of Matplotlib's plotting backends, which might take too much time _and_ might do stuff that we don't want (e.g., starting an X server on macOS?).

[2022-10-17 08:43] szhorvat commented on #392
Loading matplotlib also breaks checking for leaks with LeakSanitizer.

[2022-10-17 08:45] ntamas commented on #392
Maybe this?

[code]

[2022-10-17 09:01] iosonofabio commented on #392
yes:

https://stackoverflow.com/questions/14050281/how-to-check-if-a-python-module-exists-without-importing-it

[2022-10-18 09:03] szhorvat opened #597 ""Edit on GitHub" button does not work on RTD"
There's an "Edit on GitHub" button in the top right of pages like this on RTD:

https://igraph.readthedocs.io/en/master/tutorials/erdos_renyi.html

Clicking it goes to a 404 regardless of whether I'm on master, latest or 0.10.2

Can you also let me know where the source actually is, so I can make some quickfixes @iosonofabio?

[2022-10-18 09:13] ntamas commented on #597
I think it affects the gallery pages only as those are generated from other source files. Links on other pages ((like here)[https://igraph.readthedocs.io/en/master/analysis.html]) are okay.

[2022-10-18 09:23] szhorvat commented on #597
Where's the source file for this one?

[2022-10-18 09:24] ntamas commented on #597
https://github.com/igraph/python-igraph/blob/master/doc/examples_sphinx-gallery/erdos_renyi.py

[2022-10-18 15:31] salotz-sitx commented on #592
I think this can be closed unless there were other features to be implemented.

[2022-10-18 15:31] #592 closed

[2022-10-18 20:44] filipinascimento opened #600 "Plot using lgl layout crashing on 0.10.2 python 3.8"
**Describe the bug**
iGraph is crashing if plot is used with lgl layout

**To reproduce**
Just run this in 0.10.2 (clean environment, latest python-igraph installed from pip)

[code]

this results in

[code]

Not sure if it can be an issue with the C API.

**Version information**
python-igraph: 0.10.2
python: 3.8
macOS: 12.6

[2022-10-18 21:13] ntamas commented on #600
Thanks for the report. I'll fix this soon; until then, the workaround is to specify a root vertex for the LGL layout explicitly:

[code]

[2022-10-19 13:09] #600 closed

[2022-10-20 21:26] alejandrocca opened #601 "GraphBase.get_eids() does not have argument "path""
Latest documentation for [python-igraph](https://igraph.org/python/versions/latest) 0.10.1 says parameter "path" should exist:
https://igraph.org/python/versions/latest/api/igraph.GraphBase.html#get_eids

Inspection of the function as following:

inspect.getargspec(GraphBase.get_eids)
ArgSpec(args=['pairs', 'directed', 'error'], varargs=None, keywords=None, defaults=(None, True, True))

[2022-10-20 21:58] ntamas commented on #601
Duplicate of #581

[2022-10-20 21:58] #601 closed

[2022-10-22 03:12] iosonofabio opened #602 "UMAP attractive force and positive sampling scheme"
**Describe the bug**
I found a few bugs in our current, experimental implementation of UMAP.

Basically, we currently attract a vertex each epoch with force mu * force, where mu is the weight of the edge. Instead, what we should be doing is to attract it with force (without the mu), but only every mu epochs. It makes a difference because the learning rate is decreasing, and it also makes it faster

[2022-10-22 09:30] szhorvat commented on #602
Sounds like a C core issue, but you opened it in the Python repo. If it was a mistake, please transfer it.

[2022-10-22 09:32] iosonofabio commented on #602
Good catch, yes that's correct, thank you!

[2022-10-22 09:34] #602 closed

[2022-10-22 13:55] szhorvat commented on #602
For the future, there's a transfer button on the right.

[2022-10-24 14:01] szhorvat commented on #592
The answer to this is now given in the README. See the "warning" at the end of this section: https://github.com/igraph/python-igraph/#linking-to-an-existing-igraph-installation

[2022-10-24 16:00] salotz-sitx commented on #592
I ended up just pinning them 1:1. You usually don't want to do that for general dependencies, but I figured in this case it was okay since they are so tightly coupled. In fact I'm guessing this is why a lot of projects develop them in the same repo.

[2022-10-30 10:07] include-akshay opened #603 "No support for polytree generation"
Polytree have been used as a graphical model for probabilistic reasoning. If a  Bayesian network  has  a structure of polytree, then belief propagation may be used to perform inference efficiently.
Please add this functionality.

[2022-10-30 11:54] szhorvat commented on #603
It is not very clear what you are asking for. When you opened the issue, there was a template for feature requests, which you skipped. Please meet us half way: edit the description and fill out the template in detail, making sure to include a _mathematically precise_ description of the requested functionality.

[2022-10-30 16:56] yangfangqun opened #604 "Hope to add centrality API to python- igraph"
**What is the feature or improvement you would like to see?**

In the igraph C library, there are centrality methods (see to : igraph/src/centrality/). But I can't find this API in python-igraph.
The centrality methods are very useful for network analysis.  Although there are corresponding methods in networkX. But its efficiency is very low.  Hope to add centrality  API to python- igraph.

**Use c

[2022-10-31 07:38] szhorvat commented on #604
These functions are already exposed in python-igraph.  Take a look at the methods of the `Graph` and `GraphBase` classes in the documentation to find them. Alternatively, use the search bar on the documentation start page. A few examples:

https://igraph.readthedocs.io/en/0.10.2/api/igraph.GraphBase.html#betweenness

https://igraph.readthedocs.io/en/0.10.2/api/igraph.GraphBase.html#closeness

http

[2022-10-31 07:38] #604 closed

[2022-10-31 07:42] yangfangqun opened #605 "Please expose subset betweenness"
C/igraph 0.10 added the `igraph_betweenness_subset()` function. Please expose this in the Python interface of igraph.

[2022-10-31 07:54] yangfangqun commented on #605
Thank you for your reply. I have searched through the documentation carefully.
Yes, there is already some of these functions in the Graph and GraphBase classes.
However, I'm talking about like this:    betweenness_centrality_subset(G, sources, targets)
/**
 * \ingroup structural
 * \function igraph_betweenness_subset
 * \brief Betweenness centrality for a subset of source and target vertices.
 *

[2022-10-31 07:58] szhorvat commented on #605
Please do not use over-long issue titles and do not open new issues when you simply want to respond to a comment.

I'll edit your post to turn it into a feature request for subset beteweenness.

[2022-11-01 10:46] szhorvat commented on #603
I am closing this as the description is not sufficiently clear to be able to tell what is being requested.

The following will sample polytrees on `n` vertices uniformly at random, in case this is what you meant:

[code]

[2022-11-01 10:46] #603 closed

[2022-11-02 07:45] ntamas commented on #560
PR pending so removing stale label.

[2022-11-07 12:38] DDMMeng commented on #605
That's a good suggestion. Our team also needs this function.

[2022-11-07 13:05] Adriankhl opened #607 "Support pandas "Int64" type"
**What is the feature or improvement you would like to see?**
This produces an error:
[code]

The error message:
[code]

`Int64` is a nullable pandas int data type. I believe the type check is too strict. As long as the `Int64` does not contain any null value, the dataframe should be able to convert to an igraph object. The error message is also not precise for this case.

**Use cases for the feat

[2022-11-07 16:33] n8willis opened #608 "SVG output should preserve vertex/edge attributes"
**What is the feature or improvement you would like to see?**
Graphs can currently support arbitrary attributes on each vertex and edge. Furthermore, graphs written to some external file formats (such as GraphViz .dot) support attaching `id` and `class` and other SVG attributes. But iGraph's SVG writer drops these attributes.

Preserving attributes, primarily, `class`, in SVG output would allow us

[2022-11-07 17:58] ntamas commented on #608
SVG is actually sort of a special case in the plotting subsystem. Both the Cairo backend and the Matplotlib backend can export figures in SVG format, but at that point all references to igraph itself are lost; you only have a generic "figure" that you can save into SVG.

However, igraph also has a `write_svg()` method on the `Graph` class; the implementation currently resides in `src/igraph/io/ima

[2022-11-07 18:35] n8willis commented on #608
Well, when I was writing my reply, it just said "what interface of igraph are you using".  Certainly not objecting to the move; I merely don't want to be the one that the pitchfork-wielding Rillagers come after if the feature-sets drift apart....

Back to the main point, if I can clarify this:

(a) The `class` attribute is, by far, the one that matters the most. For the CSS/JS access mentioned. It

[2022-11-07 19:49] iosonofabio commented on #608
@n8willis as @ntamas mentioned, there are art least two ways to get svgs out of igraph, i.e. using matplotlib or via write_svg.

Which one are you trying/have you tried to use?

[2022-11-07 19:54] iosonofabio commented on #607
Thank you for reporting. I didn't know this type exists and have never used it in my 15 years of Python - hence the absence of support 😋

Let me look into it, sounds reasonable at face value but also not very high priority and there's an obvious workaround.

Can you open a PR? That'd speed things up

[2022-11-07 20:29] n8willis commented on #608
Neither method supports preserving attributes, @iosonofabio.

This is not something I'm "trying" and failing to use; it's behavior that is not currently supported. Hence the feature request.

[2022-11-07 20:34] iosonofabio commented on #608
Ok no immediate need, that's good to know.

I recommend you also ask matplotlib whether they can include custom attributes in their SVG, that'd be the preferred route AFAIAC.

[2022-11-08 13:11] szhorvat commented on #608
Apparently there is some support for this in matplotlib: https://stackoverflow.com/a/46040257/695132

[2022-11-08 19:28] iosonofabio commented on #608
Great to hear! @n8willis why don't you look up or ask the mpl folks about class and once we have an answer we see how to best implement it?

[2022-11-09 07:50] #607 closed

[2022-11-13 19:26] ivan-marroquin opened #610 "graph layout matrix expected"
**Describe the bug**
I want to generate a layout for a graph using this command:
layout= G.layout_graphopt(niter= 500, node_charge= 0.001, node_mass= 30,
                              spring_length= 0, spring_constant= 1, max_sa_movement= 5, seed= 1969)

it gives this error message:
File "/home/ivan/python_3.9.0/lib/python3.9/site-packages/igraph/layout.py", line 689, in result
    layout = func(*

[2022-11-13 22:44] GroteGnoom commented on #610
The seed parameter is supposed to be

https://igraph.org/python/versions/0.10.1/api/igraph.GraphBase.html#layout_graphopt

[2022-11-14 10:44] szhorvat opened #611 "Documentation search can be confusing"
Here I'm noting down some potential barriers to using the docs and the doc search, that we discovered with @iosonofabio a while ago.

First, note that the search box on https://igraph.readthedocs.io/ does not search the API.  In order to search the API, one must go to https://igraph.readthedocs.io/en/0.10.2/api/index.html  There, we get live results while typing into the search box.

Suppose we se

[2022-11-14 14:29] szhorvat opened #612 "RTD doc pages have version encoded in their URL"
The docs on RTD have the version encoded in their URL. If I go to https://igraph.readthedocs.io/, it redirects to https://igraph.readthedocs.io/en/0.10.2/ This is not ideal as it will lead to many links around the internet pointing to outdated (and often incomplete) documentation. See the situation with CMake.

Some other projects use a version-agnostic URL by default, such as "stable" or "latest"

[2022-11-14 16:57] ntamas commented on #612
Okay, I thought I've configured this properly, but it looks like I didn't (or I configured something else :)). But I think it's okay now. Note that due to in-browser caches you might still get the old redirect if you browse to https://igraph.readthedocs.io/, but this is what I get from the command line:

[code]

[2022-11-14 17:12] ntamas commented on #611
That's an unfortunate side effect of trying to use a PyDoctor theme that matches the default theme of the "main" documentation generated by Sphinx independently of PyDoctor. (Basically, the documentation you see is actually two documentations stitched into one). Note how PyDoctor does the same thing; this is the main readthedocs page of PyDoctor: https://pydoctor.readthedocs.io/en/latest/ -- and t

[2022-11-14 17:29] #612 closed

[2022-11-14 18:01] ntamas commented on #611
This seems like it's not a character count issue but something else (maybe a similarity threshold)? Searching for `close` yields results much earlier than `between`.

[2022-11-14 18:03] ntamas commented on #611
Also note that searching for `bet*` switches Lunr from term search mode to substring search mode and then you start getting results much earlier.

[2022-11-15 02:01] ivan-marroquin commented on #610
Hi @GroteGnoom ,

Many thanks for your prompt answer. As you pointed out, a much clearer error message will be beneficial.

Could you provide an example of how this matrix for the seed can be generated following the example code that I provided?

Best regards,
Ivan

[2022-11-15 07:19] szhorvat commented on #610
The `seed` parameter specifies the initial vertex coordinates from which to start the calculation. You don't need to specify this and can leave it a the default `None`. If you just want deterministic results, leave it at `None` at set a random seed instead (`random.seed()`).

[2022-11-15 18:03] GroteGnoom commented on #610
The reason I wanted to leave this open was to see if we could make the error message clearer. Is that not a good idea?

[2022-11-15 20:15] ntamas commented on #610
I'll do something with it on Thursday. The biggest problem is that these error messages are coming from generic conversion functions in the C layer that do not know (at the moment) what the name of the parameter is that they are converting, so they cannot include it in the error message. We would need to pass the name of the parameter down to the function in every place where we do conversions lik

[2022-11-15 20:27] szhorvat commented on #610
Since this is not a critical issue, it would make sense to postpone it to the new Python interface, unless it's an easy fix. What do you think @ntamas ?

[2022-11-17 15:53] ntamas commented on #610
I've improved the error message a bit for matrix conversions:

[code]

The documentation clearly states that `seed` has to be matrix:

[2022-11-17 16:13] #610 closed

[2022-11-18 01:32] AnZhuoKaiFaZhe commented on #605
Sometimes we need to approximate the betweenness centrality, so that function is very useful.

[2022-11-18 08:55] ntamas commented on #605
We're working on this and will be part of the next release.

[2022-11-22 14:18] szhorvat opened #614 "Incorrect claim in PageRank docs"
In multiple places, the PageRank docs claim that

This is not true and should be removed.

[2022-11-22 18:05] #614 closed

[2022-11-24 11:21] mok33 opened #615 "igraph.GraphBase.cohesive_blocks incorrect output"
The following graph was generated from an image using pixels 8 connectivity.

![image](https://user-images.githubusercontent.com/1212871/203779848-20ed6bbf-9f3b-4d41-81c3-7539261d3d83.png)

When I apply [igraph.GraphBase.cohesive_blocks](https://igraph.readthedocs.io/en/stable/api/igraph.GraphBase.html#cohesive_blocks), I get the following cluster :

![image](https://user-images.githubusercontent.

[2022-11-24 12:20] szhorvat commented on #615
I'm sorry, I can't follow your description.

Can you produce a [_small_ and _complete_ example](https://stackoverflow.com/help/minimal-reproducible-example), show the actual output, and show the output you expect instead?

`cohesive_blocks()` does not produce a clustering. It outputs a list of overlapping (and nested) vertex subsets.

It's unclear what this refers to.

Having degree-3 vertices doe

[2022-11-24 12:25] mok33 commented on #615
I am referring to this node :
https://github.com/mok33/igraph-issue/raw/main/Cohesive_Blocks.PNG
I will provide you with an example to reproduce the problem shortly

[2022-11-24 12:34] mok33 commented on #615
this code reproduces my argument : https://github.com/mok33/igraph-issue/blob/main/main.py

[2022-11-24 12:50] szhorvat commented on #615
I get a crash with your code, which we will look into.

Until then, can you try to produce an example with a smaller graph where we can follow what is happening visually? For example:

[code]

Can you indicate what block memberships you see for this vertex (since I can't run the code)?

[2022-11-24 12:56] mok33 commented on #615
Sorry, you have to download the "rabbit.net" file https://raw.githubusercontent.com/mok33/igraph-issue/main/rabbit.net. And place it in the same folder.
I get the following output when I execute my code :
`[0, 6]
[0, 6, 15]
[1044, 1060, 1073]
[1028, 1029, 1059]`
which illustrate my point.

[2022-11-24 12:59] mok33 commented on #615
When I execute your code, I get the following _clusters :
[code]
[code]

[2022-11-24 14:57] szhorvat commented on #615
You say that the vertex you marked with an arrow (degree 3) is not in all the same blocks as its top left neighbour (degree 2). I don't see why this wouldn't be correct. This situation is analogous to vertex 5 not being part of the exact same blocks as vertex 6 in the above small test graph.

Can you show an example you believe is incorrect with a small graph, ideally one having fewer than 15 vert

[2022-11-24 15:02] mok33 commented on #615
the top left neighbour degree is 3 here. (diagonal pixels are connected  in the graph)
See my comment earlier: https://github.com/igraph/python-igraph/issues/615#issuecomment-1326416415

[2022-11-24 15:07] szhorvat commented on #615
That does not imply that they need to be members of the same block. You are claiming that the result is incorrect, but do not clearly explain why. I do not see why it would not be correct, but it's difficult to discuss such a large graph that. I don't think we can proceed here without a small example.

[2022-11-24 15:11] mok33 commented on #615
Ok, I think my understanding is incorrect.
From the definition :
`For a given graph G, a subset of its vertices S is said to be maximally k-cohesive if there is no superset of S with vertex connectivity greater than or equal to k.`
If the orange cluster is the a subset S 3-cohesive, I can define a superset by adding the node I point in blue (https://github.com/igraph/python-igraph/issues/615#issue

[2022-11-24 15:32] mok33 commented on #615
I see, thank you for the clear explanation. And I apologize for the inconvenience.
I will have to manually remove the blue point-like nodes for my purpose.

[2022-11-24 15:36] szhorvat commented on #615
Opening this issue led to the discovery of a bug (https://github.com/igraph/igraph/issues/2261) so something good came out of it :-)

[2022-11-24 15:36] #615 closed

[2022-11-29 09:06] szhorvat opened #616 "Walktrap misbehaves with disconnected graphs"
`community_walktrap()` misbehaves with disconnected graphs:

[code]

I fixed [a related issue in the C core](https://github.com/igraph/igraph/issues/2042) a while ago, but this one is specific to py-graph. Does it have to do with how the `optimal_count` value is set to 1 instead of actually finding the max modularity? I don't quite understand this conditional and when it takes the `False` branch:

[2022-11-29 09:23] szhorvat commented on #616
This line here:

https://github.com/igraph/python-igraph/blob/master/src/igraph/clustering.py#L830

should probably be the number of merges + 1 instead of the vcount.

[2022-11-29 09:32] szhorvat commented on #616
The issue is that the number of components needs to be taken into account when calculating the `optimal_count` values. The problem is that `optimal_count` is calculated in many places. In general, when we have something like this:

[code]

it should be instead:

[code]

This appears not just in walktrap but in all functions that produce dendrograms, as well as in the `optimal_count()` method of `V

[2022-11-29 09:37] ntamas commented on #616
It is a manifestation / duplicate of #17, the root cause is that incomplete dendrograms are not handled yet by the `VertexDendrogram` class. (The class assumes that the dendrogram is complete). An easy hack is to "fix" the dendrogram by connecting the components in arbitrary order, but I'm not quite satisfied with this solution.

[2022-11-29 09:53] szhorvat commented on #616
Isn't it sufficient though to just do this in community finding functions?

[code]

Checking `qs` for being empty isn't even necessary because the `modularity` vector returned by the C core should never be of zero length, not even for the null graph. The last element of the modularity vector will give the modularity when no partitioning was done at all. Thus there is always at least one element. T

[2022-11-29 12:06] szhorvat opened #617 "VertexCover should accept vertex names in constructor"
**What is the feature or improvement you would like to see?**

`VertexCover` should accept vertex names in its constructor. Now it only accepts integer IDs.

**Use cases for the feature**

It is reasonable to expect that wherever vertices are expected, one may use either names or IDs.

**References**

 - https://stackoverflow.com/q/74597504/695132