[2020-07-29 10:22] szhorvat opened #317 "Overhaul installation instructions on website"
Some concerns about the installation instructions on the website:

https://igraph.org/python/#startpy

 - Should it mention conda? I was surprised that it does not, since @vtraag is actively supporting it. https://anaconda.org/conda-forge/python-igraph
 - It says, use 0.8.0 with Python 2.7, but as far as I understand, we didn't drop 2.7 support in the 0.8 series. So it should day `0.8` and not `0.

[2020-07-29 10:26] iosonofabio commented on #317
We could mention conda, why not. And as of the other change, definitive EOL for Pyhton 2.7 is end of 2020, so yes we can change it into 0.8 or change it to 0.8.3 (the next minor release) since that will most likely be the last one we get through.

Oh I can't wait letting that stone fall.

[2020-07-29 11:49] RocketRider opened #318 "import of igraph causes numpy to crash"
Python 3.7.8
igraph 0.8.2
numpy 1.19.1
stable-baselines 2.10.0
tensorflow-gpu 1.15.3
Windows 10 Enterprise 2004

I try to use igraph in an reinforment learning project.
But as soon as I import igraph tensorflow does not work anymore.

Error:

Code to reproduce the issue:
[code]

[2020-07-29 11:53] ntamas commented on #317
I have zero experience with Conda so that's why it was not included so far. If @vtraag is committed to supporting it for the foreseeable future, I am happy to include a short paragraph about it - just send a PR if there are any Conda-specific instructions that I should add.

As for the 0.8.0 vs 0.8 issue, I have now replaced 0.8.0 with 0.8.x so it should be okay.

[2020-07-30 07:17] RocketRider commented on #318
Just a node to others who encounter this:
I created a own process for the igraph with a multiprocessing pool. That is the only way I get both running at the moment.

[2020-07-30 09:02] iosonofabio commented on #82
#310 deals only with union/intersection, not disjoint union, however it seems easy enough to include that one as well. @ntamas?

[2020-07-30 09:04] iosonofabio commented on #29
We have now implemented ways of reading from pandas dataframes, so you can read the CSV into pandas and then come into igraph that way.

Since CSV is not a standardized graph format, reinventing the wheel and also designing new file formats seems like a questionable endeavour given the pandas support.

So I'm going to close this one.

[2020-07-30 12:33] ntamas commented on #318
Unfortunatelz I could not get the complex tensorflow+numpy+igraph setup to work on two of my machines (one running macOS, another one running Linux) so I cannot confirm this yet. What I can see is that the error happens when trying to calculate the SVD of some matrix with Gaussian noise. I have no idea how this could be related to simply _importing_ igraph, but before we go further, can you please

[2020-07-30 12:37] ntamas commented on #318
Update: I managed to get it to run on Linux, but I did not manage to reproduce the crash, not even when importing `igraph`. It has been running for ~85000 timesteps so far. For how long I need to run the script to observe the crash?

[2020-07-30 13:29] ntamas commented on #82
I'd be very grateful if you could add disjoint union as well. I promise to get it reviewed as soon as possible; I have a very long backlog right now but eventually I'll get to it. Thanks a lot!

[2020-07-30 21:48] iosonofabio commented on #82
No worries mate, I'll add disjoint union. Let me figure out what it is

[2020-07-31 04:29] RocketRider commented on #318
Thank you for trying to reproduce it.
I forgot to mention that I am using Windows 10.
And you don't need to run it for long as it is crashing before it starts to train.

The gaussian_noise looks ok too me with and without igraph.

I can reproduce it just with numpy:
[code]
The data is now 100% the same. They are both calling the "_umath_linalg.svd_m_s" with the same data.
But if the igraph is impo

[2020-07-31 04:44] RocketRider commented on #318
I am not sure if this is maybe connected to this numpy issue: https://github.com/numpy/numpy/issues/16744

[2020-07-31 09:14] ntamas commented on #318
Thanks for the info. The fact that it only depends on NumPy and not the entire Tensorflow machinery makes it somewhat easier to debug this issue. On the other hand, the fact that it seems to be Windows 10 only makes it a bit harder as I don't have a Windows machine at hand :)

One thing that I could think of right now is that both NumPy and igraph includes a copy of LAPACK. NumPy needs it for the

[2020-07-31 10:22] bashtage commented on #318
This is 100% numpy/numpy#16744. The solution for now if you are on 2004 is to use Anaconda-provided NumPy or an another NumPy build that uses MKL.

[2020-07-31 10:23] bashtage commented on #318
It is Windows only and then only on 2004 or later (build 19041+). It does not appear on Windows 10 1909 (which was 18xxx).

[2020-07-31 10:46] ntamas commented on #318
Thanks for the useful insight @bashtage. Do you have an explanation why it seems like `import igraph` is triggering the bug? @RocketRider reported that the exception is not thrown if he is not importing `igraph`.

[2020-07-31 10:53] bashtage commented on #318
Without any explicit checking: tensorflow _might_ have its own SVD that it uses if something else hasn't already imported NumPy linalg.

[2020-07-31 10:54] bashtage commented on #318
It may be the case that the order of import matters as well.

[2020-07-31 15:24] RocketRider commented on #318
I have no idea why igraph is triggering it. But When I use the mkl version from anaconda it is running fine.
Still really strange. But thank you for looking into it.

[2020-07-31 15:27] #318 closed

[2020-08-04 00:03] iosonofabio commented on #295
closed via #315

[2020-08-04 00:03] #295 closed

[2020-08-04 00:04] iosonofabio commented on #9
closed via #319

[2020-08-04 00:04] #9 closed

[2020-08-04 00:07] iosonofabio commented on #302
Let's close this one. It's a general problem and in no way specific to our python interface. We might possibly do something like adjustText or GraphViz in the future, but it's probably a Summer Of Code on its own since it depends on fontsize and -width, alignment, etc. etc.

[2020-08-04 08:43] #302 closed

[2020-08-04 09:52] szhorvat opened #321 "Plotting: multiple self-loops on a vertex are plotted on top of each other"
When a vertex has multiple self-loops, they are plotted on top of each other. The graphs `0-0` and `0-0, 0-0` are not visually distinguishable when plotted.

These two graphs look the same:

[code]

Related: https://github.com/igraph/rigraph/issues/407

[2020-08-04 09:56] szhorvat commented on #321
I realize this is not easy. For some inspiration, Mathematica visualizes these like this:

<img width="1202" alt="image" src="https://user-images.githubusercontent.com/1212871/89280874-8b861b80-d649-11ea-994b-9a18c6280a00.png">

[2020-08-05 06:43] #229 closed

[2020-08-10 01:15] remysucre opened #322 "`community_spinglass` returns "unconnected graph" error on connected input"
Running `community_spinglass` on the [LiveJournal community dataset](https://snap.stanford.edu/data/com-LiveJournal.html) gives the following error:

`igraph._igraph.InternalError: Error at /project/vendor/source/igraph/src/clustertool.cpp:284: Cannot work with unconnected graph, Invalid value`

However I can verify the input graph is connected.

Python code to replicate:

[code]

- [x] This issue

[2020-08-10 06:32] szhorvat commented on #322
`Read_Edgelist` assumes that vertices are labelled with consecutive integers starting with 0. Is this true  for your dataset? It appears to me that it is not. Assuming this property gives you many isolated (0-degree) vertices.

[2020-08-10 15:31] remysucre commented on #322
That makes sense. For now I can first convert to GML with networkx and re-import with iGraph. It would be great if the function can take an optional argument that specifies one of the two behaviors (create 0-degree nodes or not). At least the current assumption should be documented (I couldn't find it in either the C or python manual).

[2020-08-10 15:49] szhorvat commented on #322
The python-igraph documentation [says](https://igraph.org/python/doc/igraph.GraphBase-class.html#Read_Edgelist):

While the description could be expanded, I think this makes it pretty clear that vertices are consecutive integers starting at 0.

[2020-08-10 15:53] ntamas commented on #322
You can also use `Read_Ncol`. The limitation that the vertices are indexed from zero and that vertex IDs must form a continuous range comes from the underlying C library and there's nothing we can do about that in the Python interface. `Read_Ncol` works around this by creating a vertex attribute named `name` that contains the original numeric ID that was found in the input file, cast into a string

[2020-08-10 16:03] szhorvat commented on #322
I clarified the documentation a bit on the C side: https://github.com/igraph/igraph/commit/6df74ee241da60796a43396110edabe10c129bb7

[2020-08-10 16:05] remysucre commented on #322
@ntamas that would work great for me. @szhorvat I made a PR #323 for the python doc expanding it.

[2020-08-10 16:36] #322 closed

[2020-08-10 16:50] remysucre opened #324 "Confusing documentation for VertexClustering.giant()"
`Graph.clusters()` returns a `VertexClustering` object which should be the connected components, but `VertexClustering.giant()` is said to return a community in the doc. The source of `giant` does not seem to involve community detection, so is it actually just returning the largest connected component?

[2020-08-10 19:58] ntamas commented on #324
Thanks, I'll fix this somehow. `VertexClustering` is used to represent the result of a decomposition of a graph into connected components as well as the result of a community detection, and I have forgotten about the first use-case when I wrote the documentation for `giant()`.

[2020-08-13 22:06] #324 closed

[2020-08-18 18:43] yurivict opened #325 "Example from the tutorial fails: TypeError: iterable must return pairs of integers or strings"
With python-igraph-0.8.2 I am trying this example from the tutotial https://igraph.org/python/doc/tutorial/tutorial.html#creating-a-graph-from-scratch :+1:
[code]

Failure log:
[code]

[2020-08-18 18:44] #325 closed

[2020-08-19 19:05] fbrundu opened #326 "Is it possible to use vertex pie in python?"
- [x] This issue is for the Python interface of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

I would like to draw graphs with multicolored vertices such as in [this answer](https://stackoverflow.com/a/33896091/41977).
I looked over the documentation at [this page](https://igraph.org/python/doc/igraph.Graph-class.html#__plot__), but I couldn't find the cor

[2020-08-20 09:24] vtraag commented on #317
I will add a paragraph on `conda` in the near future. Good idea to include it in the installation instructions indeed.

[2020-09-02 12:08] ntamas commented on #29
@iosonofabio The CI build is failing with a recent version of Pandas, see [here](https://travis-ci.org/github/igraph/python-igraph/jobs/723406293). As I am not familiar with Pandas, can you please take a look at what's wrong there?

[2020-09-07 17:14] istvanftoth opened #327 "topological sorting"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [ x] This issue is for the Python interface of igraph.
- [x ] This issue is a bug report or a feature request, not a support question.

Hi, I would like to know the name or a reference to the algorithm, which was used in the topological_sorting() function of python-igraph. Specifically I would like to know the spe

[2020-09-07 18:35] ntamas commented on #327
Closing as this is a support question, not a bug report or a feature request. Next time please send support questions in the [discussion forum](https://igraph.discourse.group).

Regarding the original question: I don't think that this algorithm has a specific name; we simply keep on removing source nodes from the graph until there are either no more nodes or all the remaining nodes have at least o

[2020-09-07 18:35] #327 closed

[2020-09-08 07:03] vtraag commented on #327
For what it's worth, I think the algorithm is called [Kahn's algorithm](https://en.wikipedia.org/wiki/Topological_sorting#Kahn's_algorithm). The alternative DFS implementation may be slightly faster, so perhaps it makes sense to switch to that implementation at one point. Note that neither implementation guarantees anything about a particular ordering.

[2020-09-10 14:37] alezok opened #328 "Port igraph_bridges function to Python"
Could anyone port to Python the `igraph_bridges` function (with the ability of handling multi-graphs) that is already present in the C igraph repository?

[2020-09-10 14:40] szhorvat commented on #328
@ntamas This is a rather simple function. Perhaps it would be good to take the opportunity to write up a short guide on how to integrate existing C core functions into the Python interface? Hopefully then people will be more willing to contribute in the future.

[2020-09-10 22:00] iosonofabio commented on #328
I could help doing this one, both the specific function and writing the guide.

Any opinion as of where such a guide could land? Possibilities:

- igraph.org
- wiki of this repo

[2020-09-10 22:02] iosonofabio commented on #328
@alezok do you have any bandwidth to help with this or is this a zero-effort request?

Not trying to be confrontational, just thinking of the best way to approach this as we are all busy people.

[2020-09-10 22:57] alezok commented on #328
I slightly modified the code provided for simple graphs in https://www.geeksforgeeks.org/bridge-in-a-graph/ (also referenced in the https://github.com/igraph/igraph/issues/1180) and it seems to work, but I don't know understand how to make it work for multi-graphs (possibly useful https://github.com/igraph/igraph/pull/1335). Bandwidth close to zero, but the my main problem is that being not profic

[2020-09-10 23:42] iosonofabio commented on #328
Alright thank you, let's see what @ntamas thinks and I can try and have a look in my spare time

[2020-09-11 08:12] szhorvat commented on #328
`igraph_bridges` fully supports multigraphs, and requires no changes.

[2020-09-11 08:18] ntamas commented on #328
I'll take care of the implementation today; it look like we basically need to copy `igraphmodule_Graph_articulation_points()` only and add some test cases.

[2020-09-11 08:19] iosonofabio commented on #328
Awesome thank you!

[2020-09-11 08:41] #328 closed

[2020-09-11 09:55] ntamas commented on #328
As for documenting the addition of new functions from the C core to the Python interface: the current process is quite involved as you need to be familiar not only with the internals of the igraph C core (which are complicated enough) but also with the intricacies of writing extensions to Python in C (including all the reference counting magic and whatnot). It takes a lot of time to document all t

[2020-09-11 21:19] iosonofabio commented on #328
YES! 😊

On Fri, Sep 11, 2020, at 19:56, Tamás Nepusz wrote:

[2020-09-13 03:11] ZeZhouAalto opened #330 "installation issue, cannot read GraphML file"
I want to install igraph module at anaconda 3,8 on Windows system. But GraphML support is disabled, I cannot read GraphML file.
So I decided to compile igraph package following the instructions on how to compile from source on Windows(https://igraph.org/python/). Everything goes well until " Open the MSYS2 shell, enter this folder and run python setup.py build_c_core". After running the command, I

[2020-09-13 05:51] vtraag commented on #330
I am closing this issue in favour of discussing the issue at our discussion forum, where you also [posted](https://igraph.discourse.group/t/windows-installation-issue/437) the issue. Better to keep the discussion in one place. Moteover, this issue tracker is meant for reporting bugs.

[2020-09-13 05:51] #330 closed

[2020-09-14 14:39] ntamas commented on #225
@vtraag Any updates on this? Is this still an issue?

[2020-09-22 21:10] iosonofabio commented on #72
This one was done in #274, closing.

[2020-09-22 21:10] #72 closed

[2020-09-22 21:12] iosonofabio commented on #29
Yep, I found it too. It was a combination of a few small typos. I included the fixes in #310 - which now passes CI happily. So I'd say when that goes through we can close this one again too.

[2020-09-23 10:08] #29 closed

[2020-09-25 01:21] Puumanamana opened #331 "Different outputs between igraph and leidenalg with self loops"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [x] This issue is for the Python interface of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

Hi,
I have recently discovered that the leiden clustering algorithm was included in python-igraph, and this is very helpful for me. It mostly produces very similar results as the `l

[2020-09-25 06:29] ntamas commented on #331
Summon @vtraag :)

[2020-09-25 07:44] vtraag commented on #331
This essentially goes back to the fact that self-loops are included twice in incident edges in `igraph`. I correct for this in `leidenalg`, but I don't correct for this in the `community_leiden` implementation. I should probably call `igraph_inclist_remove_duplicate` to remove those duplicates.

It is good that the docs are now clear on this (after https://github.com/igraph/igraph/issues/1396). Pe

[2020-09-25 20:02] vtraag commented on #331
To clarify the situation a bit further. When aggregating the graph, the self-loops are necessary in `leidenalg` to ensure that the quality of the singleton partition on the aggregated graph is identical to the quality of the original partition on the original graph. For that purpose, the weight of a self-loop must be counted only once, not twice. This is why that contribution is halved in `leidena

[2020-09-25 20:19] Puumanamana commented on #331
I'm not sure I fully understand, are you saying Leiden treats a vertex differently if he has a self-loop or not? Or do you mean that you need a self-loop on all edges anyway to make the singletons partition "quality" (CPM or modularity I guess) comparable to non-singleton partitions?
In the general case, I'm not sure why self-loops would matter in a community detection algorithm.

[2020-09-25 20:34] vtraag commented on #331
No, I just meant to clarify why the two implementations use a different approach. In general, the self-loops should not matter for determining the community with the maximum improvement indeed: moving a node moves along the self-loops as well. However, in the `leidenalg` implementation, the setup is more general so that all different kinds of objective functions can be maximised. Because of this,

[2020-09-30 12:51] topl0305 opened #333 "Wrong behaviour of adding two graphs"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [X] This issue is for the Python interface of igraph.
- [X] This issue is a bug report or a feature request, not a support question.

Lets say I create empty graph and then I want to add a lot of smaller graphs created with vertices' names. After adding graph with names they will be lost! That defies logic of havi

[2020-10-04 05:03] bayesfactor opened #335 "python equivalent for head_of and tail_of"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [x ] This issue is for the Python interface of igraph.
- [x ] This issue is a bug report or a feature request, not a support question.

The R igraph package has very handy `head_of` and `tail_of` functions to find edges of a directed graph. I cannot find equivalents in python-igraph. It would be very nice to have

[2020-10-04 06:46] iosonofabio commented on #335
I'd be happy to take this one if that's ok for everyone else

[2020-10-04 07:16] vtraag commented on #335
I believe this is actually already possible in Python using `G.es.select(_source=i)` or `G.es.select(_target=i)`. See https://igraph.org/python/doc/igraph.EdgeSeq-class.html#select. @bayesfactor , does this do what you want? If so, we can close this issue.

[2020-10-04 07:19] iosonofabio commented on #335
I'd be happy to try and add a function to mimick the R API if you think that's useful. That way people migrating from R would have an easier time

[2020-10-04 07:22] vtraag commented on #335
I think the R API is quite bit different because there are typically no functions on objects. This is how many things are implemented in Python. Both languages have their own structures and idiosyncrasies, and I think it makes sense that the interfaces reflect that.

[2020-10-05 09:22] ntamas commented on #335
I don't think it's worth mimicking the R API -- `g.es[i].source` and `g.es[i].target` gives you the tail and the head of the `i`-th edge, it is a different syntax but it is more natural in Python than the functional form (`head_of()` and `tail_of()`). We can maybe add `head` and `tail` as aliases here if that is more natural in English than `source` and `target`.

[2020-10-05 09:24] szhorvat commented on #335
I always get confused by "head" and "tail", probably because of the expression "head to tail" which is the opposite of how a directed edge would go. I think source/target are less ambiguous. But of course it's subjective to some extent.

[2020-10-05 14:34] ntamas commented on #333
Most of the graph operators did not handle attributes, not even in version 0.8.2. We have recently merged a pull request into `master` that adds support for attributes for union and intersection. Excerpt from the terminal:

[code]

A new version with this feature is due in a few days at most, so stay tuned. If you really need this feature, you can install `python-igraph` directly from Github with

[2020-10-05 21:36] szhorvat commented on #335
Sinks/sources are easy to find: they are vertices with zero out- and in-degree, respectively. No recursion is needed, no graph traversal is needed.

[2020-10-05 21:48] iosonofabio commented on #335
True, so I'm confused about the original question then.

[2020-10-06 18:37] portaljumper007 opened #336 "I'm unable to install Python-IGraph"
Below is the error I receive, even after adding sh.exe to my path, regardless of what I do I'm now unable to install igraph via pip or pycharm, using cloning the github or "pip install python-igraph"

[code]

[2020-10-06 18:39] portaljumper007 commented on #336
Using pycharm, I receive the following error:
[code]

[2020-10-06 19:16] #281 closed

[2020-10-06 19:16] #333 closed

[2020-10-06 19:31] ntamas commented on #336
`pip install python-igraph` should work as we provide precompiled Python wheels for most of the common platforms, including `win-amd64-3.8` that you seem to use. It seems like `pip` does not try to use the precompiled wheel from PyPI and tries to compile `python-igraph` on its own, and then fails because you most likely don't have a working C compiler setup on your computer. You should try to figu

[2020-10-07 08:35] portaljumper007 commented on #336
Okay, so it turned out an option in the pycharm environment creation was breaking it - make packages accessible to all other environments, globally. It seems Pip wasn't able to see the c compiler because of it, which is weird.

[2020-10-07 10:40] #336 closed

[2020-10-11 07:08] #306 closed

[2020-10-29 13:45] HTenkanen opened #337 "Shortest paths: Accumulating "extra" information from selected edge attributes?"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [x] This issue is for the Python interface of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

Hi!

And first of all thanks for the great work with this library 💪

I am interested whether it would be possible to add a feature to python-igraph / igraph that would allow to accu

[2020-10-30 08:13] szhorvat commented on #337
Can you explain why you cannot compute this with the current available tools? For simple graphs, it should be possible.

[2020-10-30 08:22] szhorvat commented on #337
@ntamas It would probably be useful to have functions which return not the list of vertices, but the list of edges that make up a shortest path. Having the edge indices directly available would make as OPs task easier.

More importantly, if the graph contains multi-edges, it is not possible to tell which of a set of parallel edges belongs to the shortest path. When the graph is weighted, it will b

[2020-10-30 09:33] vtraag commented on #337
Note that in [`get_shortest_paths`](https://igraph.org/python/doc/igraph.GraphBase-class.html#get_shortest_paths) you can indicate that you want edge indices to be returned (`output = 'epath'`), so I believe this is already implemented.

[2020-10-30 09:37] HTenkanen commented on #337
@vtraag Ah, awesome! Was reading the docs yesterday but somehow missed this small piece of important information! Thanks a lot for pointing this out! 🙏  I think this should do exactly what I was looking for. 🙂

[2020-10-30 09:37] #337 closed

[2020-11-02 20:41] slowkow opened #338 "negative number of edges with g.ecount()"
I get a negative number of edge weights when my graph is very large.

Do you know of a way to work around this?

Let's start with a large adjacency matrix:

[code]

Convert it to a graph:

[code]

So, what did we get?

[code]

Uh oh. A negative number of edges?

This might be the source of the problem when I try to set edge weights:

[code]

[code]

[code]

[2020-11-02 20:50] slowkow commented on #338
Uh oh, I guess I went over the 2 billion edge limit mentioned here:

https://lists.nongnu.org/archive/html/igraph-help/2016-04/msg00032.html

[2020-11-02 20:51] szhorvat commented on #338
There is no way around this limit, but in future versions this will be addressed.

[2020-11-02 20:53] slowkow commented on #338
Thanks! Looking forward to it. For now, I will find a way to reduce my edges.

For those of us who hit this limit, it would save us time to see a warning message like:

[code]

I was scratching my head for a few days before I arrived at the negative edge number.

[2020-11-02 21:31] szhorvat commented on #338
Yes, better error checking will also be included in the fix.

[2020-11-07 06:57] shardulc opened #339 "Text shows up as boxes"
When I run the following:
[code]
I get [this](https://user-images.githubusercontent.com/10349624/98434196-665adc00-2082-11eb-9e24-3fe87069bc57.png). Note that the text is displayed as boxes, except for the punctuation which appears as normal. I discovered this issue when trying to draw a graph with vertex labels which had the same issue.

**Version information**
 * python-igraph 0.8.3
 * cairocffi

[2020-11-10 03:49] godjb opened #342 "Graph.Read_GraphML() ERROR"
g = Graph.Read_GraphML("test_graphml.graphml")
NotImplementedError: Error at c:\projects\python-igraph-jst2e\vendor\build\igraph\igraph-0.8.3-msvc\src\foreign-graphml.c:1446: GraphML support is disabled, Unimplemented function call

[2020-11-10 10:31] ntamas commented on #339
It is definitely not the fault of `cairocffi` -- I just tried the same thing on my computer and it worked perfectly. The only difference between your setup and mine is that I'm on macOS 10.15.

I suspect that there's something wrong with `cairocffi` itself; can you try assembling a short test script that uses `cairocffi` only to draw text, and run that?

[2020-11-10 17:41] shardulc commented on #339
I installed pycairo and ran into the same issue. I tried running this script:
[code]

This also gives the same issue, regardless of which cairo package is imported. Strangely, nobody else on the Internet seems to be having this problem with cairo and fonts! So while this isn't an issue with igraph, I would appreciate any insight :)

[2020-11-10 19:06] vtraag commented on #339
The problem might be with the actual C Cairo library. How did you install the C library, and which version is that?

[2020-11-10 20:04] shardulc commented on #339
@vtraag Cairo was installed using `apt` as usual (on Ubuntu). Packages `libcairo2` and `libcairo2-dev` are at version 1.15.10 (the latest available according to apt). I haven't had font issues before, but then again, I don't know if I've used a purely Cairo-based application before either.

[2020-11-10 20:27] ntamas commented on #339
@shardulc Can you try selecting a font face explicitly in your toy example with `context.select_font_face(...)` -- I think it should accept installed font names as the first argument as well as the generic `"sans-serif"`, `"serif"`, `"cursive"`, `"fantasy"` and `"monospace"` aliases. Do you get the same boxes no matter which font you select? (Documentation for `select_font_face` is [here](https://

[2020-11-11 07:21] shardulc commented on #339
That worked! The generics "sans-serif", "cursive", and "fantasy" do not work (i.e. produce boxes). The generic "serif" produces text in a font that I can't quickly identify, but it works. Providing an actual font face name works as intended.

If possible, I'd like to submit a PR that lets an igraph user choose what font labels are displayed in. Any nuances I should be aware of before I do so? Than

[2020-11-11 07:49] ntamas commented on #339
@iosonofabio is working on improving the tutorial page and the documentation now (and I am deeply grateful for that), so this will be added soon. Thanks for the suggestion!

[2020-11-11 07:49] #339 closed

[2020-11-11 09:30] ntamas opened #343 "igraph_tree_game() should be exposed in the Python interface"
**What is the feature or improvement you would like to see?**

`igraph_tree_game()` from the C library should be exposed in the Python interface.

**Use cases for the feature**

Well, to generate random trees :)

[2020-11-11 09:31] ntamas commented on #343
As requested by @szhorvat in #340

[2020-11-17 19:59] oresthes opened #344 "Hierarchical Random Graphs"
**What is the feature or improvement you would like to see?**
Hierarchical Random Graph methodology (Clauset et al. 2008) has been implemented on the C version
and R version of this package, but not in Python as far as I can see.
Is there a plan to add it here?

**References**
http://tuvalu.santafe.edu/~aaronc/hierarchy/

[2020-11-17 20:38] ntamas commented on #344
There are plans, but unfortunately my resources are limited, so I cannot promise any deadline in the near future. The HRG API surface in the C layer of igraph is pretty large and that's primarily what kept me from adding it to the Python interface (it is easier to tackle smaller issues when you don't have large uninterrupted chunks of time for productive work).

I guess it would help me a bit if y

[2020-11-20 03:04] shiyi-pan opened #345 "create a python_igraph-0.8.3-cp35-cp35mu-manylinux2010_x86_64.whl version"
Hi, I want to install python_igraph from the source code but faild . I figured that I need to install the automake ,autoconf and libxml2 first . So I installed the automake and autoconf . But when I installed the libxml2, I met the following error:

types.c: In function 'libxml_PyFileGet':
types.c:34: warning: implicit declaration of function '_PyVerify_fd'
types.c:34: warning: nested extern decla

[2020-11-20 05:49] vtraag commented on #345
Python 3.5 has reached end-of-life on  September 5, 2020. We therefore dropped support. The easiest is simply to upgrade to Python 3.6 or up. Is there any reason why you are unable to upgrade?

[2020-11-20 08:09] ntamas commented on #345
Also, these compiler errors seem to have nothing to do with Igraph; for me it looks like they are related to libxml2. We cannot provide support for compiling libxml2 from source.

[2020-11-20 08:09] #345 closed

[2020-11-24 06:20] tristanlatr commented on #268
Hello,
If you wanna help your markup, [pydoctor](https://github.com/twisted/pydoctor) supports Epytext and it's actively used and maintained by the twisted community :)

[2020-11-24 07:33] tristanlatr commented on #268
And here is what it would be like: https://tristanlatr.github.io/python-igraph/

[2020-11-24 08:16] ntamas commented on #268
Looks good! I'll give it a go soon, hopefully for the next release, once we are finished with the transition to CMake in the main igraph repo. I'll need to work a bit on the integration with the main igraph.org site, though.

[2020-11-27 23:30] kushasareen opened #346 "Issue with plotting in Jupyter"
I've installed python-igraph, cairo, py2cairo, and cairocffi on my Windows 10 machine. I installed them through pip and also tried through the unoffical binaries on Christoph Gohlke's website (https://www.lfd.uci.edu/~gohlke/pythonlibs/). I'm able to import and use cairo in my notebook and don't have it installed on multiple versions of Python (I've checked). I read through another post on here an

[2020-11-28 00:02] iosonofabio commented on #346
Hi @kushasareen

I'm working on a plotting function that just works with plain matplotlib independent of backend. Hope to have it in a development branch in a week or two for you to try.

[2020-11-28 00:50] kushasareen commented on #346
Thanks! Just as an update, re-installation using conda fixed the issue and I was able to get it to plot using python from the command line. Plotting in the notebook still doesn't work (no error message but also no plot). It seems to me that this is cairo/cairocffi issue but I'm not going to bother trying to fix the installation.

[2020-12-03 03:25] alexwwang opened #347 "node names in vertex dataframe type not consistent with ones generated from edge in Graph.DataFrame method"
**Describe the bug**
In Graph.DataFrame method, on line 3125
[code]
this is used to check if number of nodes passed in from vertices dataframe equals to ones counted from edges.

If we don't set the type of `source` and `target` columns in edge dataframe to `str`, but leave them to `int`,
this will raise the error below:
[code]
However no document mentioned this before.

**To reproduce**
[code]

*

[2020-12-03 07:28] ntamas commented on #347
Summon @iosonofabio -- can you please check when you have some time?

[2020-12-03 07:30] iosonofabio commented on #347
Yes will check

On Thu, Dec 3, 2020, at 18:28, Tamás Nepusz wrote:

[2020-12-03 07:50] iosonofabio commented on #347
@alexwwang almost correct. That line checks if the specified vertices *contain* the ones inferred from the edges, there could be more vertices that have no edges (singletons).

Independent of that there is a bug. It is a little unclear what the expected behaviour is though. The first two columns of the `edges` argument can refer to two different things:

1. vertex *ids*, i.e. 0,1,2,3...
2. vertex

[2020-12-03 07:54] iosonofabio commented on #347
@ntamas @vtraag @szhorvat if any of you wanna quickly jump on Teams I'd be happy to decide and fix

[2020-12-03 11:41] ntamas commented on #347
That's okay, this is a convention that is used throughout the entire library. In the long term I would be happier if we could hide the existence of numeric vertex IDs completely so the user would be able to use arbitrary Python objects as vertices (just like in NetworkX), but that would require a complete overhaul of the API of `python-igraph`, so it is not going to happen any time soon.

For the

[2020-12-03 12:15] #347 closed

[2020-12-04 18:30] tristanlatr commented on #268
PyDoctor is almost a drop in replacement for Epydoc, so if your current setup works well with Epydoc it won't be a lot of work.

[2020-12-05 18:48] #335 closed

[2020-12-06 05:53] iosonofabio commented on #346
Great. We also support plotting with matplotlib now if you pass in a `pyplot.Axes` so that should fix these kind of issues.

[2020-12-06 05:53] #346 closed

[2020-12-06 05:56] iosonofabio commented on #317
Hi guys,

It was recently brought to my attention by the networkx/networkx#4404 folks that our "Installation from source" instructions are currently somewhat terse:

https://igraph.org/python/doc/tutorial/install.html#compiling-igraph-from-source

Since there's ont PR from @vtraag ATM I'll make one that at least includes some info on that and streamlines the rest a little. If that's not ok please

[2020-12-06 06:18] iosonofabio opened #349 "Matplotlib plotting and vertex size is None"
The recent PR on matplotlib plotting is basically untested, so a few youth bugs are emerging (e.g. in networkx/networkx#4404)

The first one is that the shrink vertex function requires a list of vertex sizes and crashes otherwise.

[2020-12-06 06:41] iosonofabio commented on #349
Alright, this and a few related got fixed in 90e5625, which I pushed directly to master.

[2020-12-06 06:41] #349 closed

[2020-12-06 20:49] ntamas commented on #317
See my comments on #351; in theory, the installation should be much simpler (no need to install `igraph` separately), and if it does not work, it's a bug and we need to work on that -- the installation instructions should still say that `pip install` should work.

[2020-12-14 11:26] mehditlili commented on #291
@ntamas the installation is just broken. The readme clearly refers to pip install python-igraph as "install" and not compilation. Can you suggest an alternative on how to install it otherwise?

Here is where it fails

[code]

[2020-12-17 11:28] FatemeMirzaeii commented on #129
I've got this error in google colab. after installing and importing pycairo, problem still exists.

[2020-12-17 13:15] vtraag commented on #129
@FatemeMirzaeii, could you explain how you installed this in Google Colab? If I run `!pip install python-igraph leidenalg cairocffi` in Google Colab, this works correctly, and I can show `igraph` plots afterwards.

[2020-12-17 13:22] vtraag commented on #129
Note that for `pycairo` I get an error on Google Colab: `ERROR: Could not build wheels for pycairo which use PEP 517 and cannot be installed directly` Using `cairocffi` works well as an alternative.

[2020-12-17 16:34] FatemeMirzaeii commented on #129
yes I've got this error for installing pycairo too, so I installed it using these 2 commands from its documentation:
!apt install libcairo2-dev pkg-config python3-dev
!pip install pycairo

and it worked, but unfortunately still won't draw a plot. ('plotting not available')

and about cairocffi:
I've installed it using your command:
!pip install python-igraph leidenalg cairocffi

it would run witho

[2020-12-17 21:17] iosonofabio commented on #129
FYI the latest version comes with matplotlib plotting via pyplot. You can try installing python-igraph from the master branch or wait for a new release and then happily use that.

Btw the python-igraph docs on installing from master and on plotting via matplotlib have also been added, they should be online in a few days if they aren't already (@ntamas)

[2020-12-17 21:58] ntamas commented on #129
Just pushed them today - see [here](https://igraph.org/python/doc/tutorial/visualisation.html#plotting-graphs-within-matplotlib-figures).

[2020-12-18 11:32] FatemeMirzaeii commented on #129
@iosonofabio @ntamas thank you both, I will try these.

[2020-12-19 09:33] Rahul30032 commented on #129
@FatemeMirzaeii  I am not able to plot graphs even after using ` !pip install python-igraph leidenalg cairocffi` .
`igraph.plot(g, out_fig_name, **visual_style)` this is where it shows the following error : TypeError: plotting not available.
I am running it on colab. Please help me out if things worked out for you. @ntamas @vtraag

[2020-12-19 11:00] iosonofabio commented on #129
See my last comment, there's matplotlib support now so no need to mess with cairo unless that's your concept of fun

[2020-12-19 14:03] Rahul30032 commented on #129
`!pip install --upgrade python-igraph`
`import matplotlib.pyplot as plt `
 `fig, ax = plt.subplots()`
 `igraph.plot(g, target=ax)`

After using these commands I still am not able to plot it, getting the following error:
TypeError: plotting not available

P.S.   my graph summary (directed, 24441 vertices, 3203472 edges)
IGRAPH DNW- 24441 3203472 -- attr: name (v), weight (v), weight (e)

I am not a

[2020-12-19 16:18] vtraag commented on #129
@Rahul30032, the matplotlib interface is not yet available from the release on PyPI. You will need to build the package yourself from source from the GitHub master branch.

[2020-12-19 19:57] iosonofabio commented on #129
as @vtraag says, which was also in my last comment. Here the new (aesthetically somewhat suboptimal, but overall correct) documentation on how to install from the master branch:

https://igraph.org/python/doc/tutorial/install.html#compiling-python-igraph-from-source

or if that sounds too complicated, please wait until the next release. If this is absolutely urgent and essential for your work, ple

[2020-12-19 21:34] Rahul30032 commented on #129
thanks @iosonofabio @vtraag . I will try to follow the instructions to install from master branch, meanwhile eagerly waiting for the next release.

[2021-01-01 22:32] thierry-FreeBSD opened #353 "Adding an image viewer for FreeBSD"
python-igraph works fine on FreeBSD, but the configuration for an image viewer is missing.
This simple patch provides it:
[code]

[2021-01-02 02:10] ntamas commented on #353
Awesome, thanks a lot!

Can you submit this as a PR so you can get proper credit for it in the commit log automatically when I merge it? Alternatively, I can add it myself, but then I can only mention your name in a comment.

[2021-01-02 10:30] #353 closed

[2021-01-11 21:52] vtraag commented on #342
Please note that GraphML support is not enabled on Windows at the moment. We are working on a new build system for the igraph C core. Once that is done, we should be able to properly support GraphML on Windows as well.

[2021-01-16 23:18] iosonofabio opened #357 "Graph constructor from scipy.sparse adjacency matrix"
**What is the feature or improvement you would like to see?**
Large, sparse graphs are often represented using `scipy.sparse` adjacency matrices. Currently `igraph.Graph.Adjacency` expects a list of lists, it would be great to teach it to load the standard scipy matrix formats.

Even a single format (e.g. COO) would be great, because one can (somewhat expensively) convert between formats in `scipy

[2021-01-18 20:27] AbhayGoyal commented on #344
Hey, maybe I could help out a bit here. I have not really used HRG anywhere but am really interested in it. Could you help me start with it?

[2021-01-19 10:12] ntamas commented on #357
This would be a great addition. There are two things to watch out for:

1. Currently `Graph.Adjacency` is implemented in the C glue code. You need to override it in the Python layer and use `super()` to fall back to the original implementation if you did _not_ receive a SciPy sparse matrix.

2. When testing for `scipy.sparse.spmatrix` with `isinstance()`, you need to import `scipy.sparse.spmatrix`

[2021-01-19 20:53] iosonofabio commented on #357
Good point and yes - that's the plan. I'll write a PR then! Thx

[2021-01-19 20:54] jfmalloy1 opened #358 "Graph.contract_vertices() combine_attrs parameter throws a segmentation fault"
The "first", "last", "random", and "median" parameters of the `combine_attrs` parameter in Graph.contract_vertices() all cause a segmentation fault, while the "min", "max", and "concat" parameters throw separate errors. "Sum", "product", and "average" all work as expected.

`G.contract_vertices(mapping, combine_attrs="first")` -> segmentation fault
`G.contract_vertices(mapping, combine_attrs="last

[2021-01-21 13:48] ntamas commented on #358
Can you show me the contents of `mapping` and maybe the edge list of a small graph on which I could reproduce the issue? I tried this now on my machine and it works just fine:

[code]

I suspect that there's something wrong with the `mapping` vector that you try to use; this should nevertheless not crash the Python extension so it's a genuine bug and I'd like to investigate further.

[2021-01-21 20:42] jfmalloy1 commented on #358
Of course! Here's the test graph I'm using. I'm generating the mapping within the function itself, but since it works with sum, I imagine this isn't the issue?

`
import igraph as ig
num_nodes = 8
G = ig.Graph(num_nodes, directed=True)
G.vs["name"] = [x for x in range(num_nodes)]

#Incoporate edges
G.add_edges([(1,3), (1,4), (1,5), (1,7)])
old = [2, 3, 4]
center = 1
G.contract_vertices([center if

[2021-01-22 21:58] ntamas commented on #358
I still suspect that the `mapping` is problematic; your code indeed crashes on my machine as well, but replacing `[0, 1, 1, 1, 1, 5, 6, 7]` with `[0, 1, 1, 1, 1, 2, 3, 4]` as the mapping seems to work.

I guess that the problem is the following. igraph has its roots in a C library where the node indices are consecutive integers from 0 to |V|-1. A mapping vector like `[0, 1, 1, 1, 1, 5, 6, 7]` ther

[2021-01-23 01:20] iosonofabio commented on #358
Want me to take this one?

[2021-01-26 10:20] ntamas commented on #358
Hang on, I'm currently working on bringing the master branch up-to-date with 0.9. After that I'll probably tackle this on my own.

[2021-01-26 15:38] #358 closed

[2021-01-28 09:29] vtraag opened #361 "Avoid dependency on bison & flex."
At the moment, the `python-igraph` source tarball release requires `bison` and `flex`. This is a bit strange compared to `igraph` source tarball releases, for which `bison` and `flex` are not required. Preferably, we should ensure that a `python-igraph` source tarball does not require `bison` and `flex` either.

The new upcoming CMake build system might make it a bit easier to do this. Perhaps one

[2021-02-04 14:49] Silmathoron opened #362 "Add python wrapper for the new harmonic centrality functions"
Harmonic centrality has been implemented at the C level (see [this thread](https://igraph.discourse.group/t/user-defined-distance-for-unconnected-node-in-closeness-and-harmonic-centrality/183/11)) and will be part of the next release so it would be nice if the associated wrapper could be included in the python release.
You can ping me if you need reviewers.

[2021-02-05 21:09] iosonofabio commented on #362
Hi @Silmathoron, fellow Tuebingen dweller, I did my PhD at the MPI for Dev Bio next door!

I've make a PR #364

Cheers,
Fabio

[2021-02-06 15:07] Silmathoron commented on #362
Hi there and thanks for the PR :)
I'd love to help with the review but I'm afraid I'm unable to install this branch with the `develop` branch of igraph... I get a bunch of errors about ``igraph_harmonic_centrality`` (incompatible types for arguments 3 and 5 and too many arguments)...

[2021-02-06 23:52] iosonofabio commented on #362
Don't worry too much, we are in the middle of releasing an API-breaking update on the C core of igraph, so it'll take a few days to sort this one out. We'll get it tested on CI and once that works you can clone the master branch and test it yourself.

[2021-02-09 15:24] Luxxii opened #366 "Get All Simple Paths from a graph, without high memory usage"
Hi everyone,

the current implementation of `get_all_simple_paths`  [provided here](https://github.com/igraph/python-igraph/blob/2332e35922763253b4e3a656045e230a13f3eb95/src/igraph/__init__.py#L845) currently fills a list with all simple paths, which are stored in memory.

In my case: The generated graphs do have to many simple paths between `src`and `dst`, so that it cannot fit anymore in memory.

[2021-02-09 15:58] szhorvat commented on #366
The reason why it uses a lot of memory is that there are lots of paths.

No, this would require a rewrite of the underlying C function, in such a way that it is still useful and usable for other languages than Python.

However, I do agree with you that what they call a "generator approach" in Python is probably the best solution for any combinatorial enumeration problem. We discussed this before.

[2021-02-09 17:11] ntamas commented on #366
I think the question here for the OP should be: would it be useful for you if we provided a callback-function-like approach? This is relatively easy to do in the underlying C library (although chances are we won't be able to make it before the next release, scheduled for next week). It would look something like this:

[code]

The above example would keep on iterating the paths and stop as soon as

[2021-02-09 17:23] szhorvat commented on #366
The reality is that if you run out of memory with this, then you will likely also run out of time trying to process all paths. Either the callback or the generator approach would be practically useful only if it would be acceptable for your application to terminate the enumeration early.

[2021-02-09 18:26] Luxxii commented on #366
@ntamas @szhorvat  The python implementation is only an example on how i would solve it currently. A callback function would be sufficient, as long as entries can be skipped (e.g.: skip paths longer than `x`. A stopping at the first occurrence of a path of length `x` would not be sufficient. But @ntamas example could be modified accordingly). Such a callback would be great, especially when its mor

[2021-02-10 10:43] ntamas commented on #366
To put things into context, this is the [current implementation](https://github.com/igraph/igraph/blob/develop/src/paths/simple_paths.c#L65) in C. The path is added to the result vector [here](https://github.com/igraph/igraph/blob/develop/src/paths/simple_paths.c#L149). This part of the code could be replaced with a call to a callback function that returns a boolean. The question is what to do if

[2021-02-11 00:19] ntamas commented on #362
#364 is merged into master now.

[2021-02-11 00:19] #362 closed

[2021-02-11 07:46] Luxxii commented on #366
I observed during experimenting that the `self._get_all_simple_paths()`method (the C implementation) returns a vector with results separated by `-1`.  Currently it would be sufficient to stop and retrieve all paths which reaches an length up to `x`. So a callback at this point would be great, instead of appending/returning a large vector.

Would this not allow the user to decide on how to search t

[2021-02-14 01:45] matrixfang opened #367 "Bug with g.vs.find() function"
**Describe the bug**
Can't find the name of vertex if the name is int.

**To reproduce**

[code]

the result should be 2, but I can only get 0. If replace the int name with char, the expected results can be obtained.

**Version information**
Which version of `python-igraph` are you using and where did you obtain it?
I'm using python-igraph-0.8.3 with python3.7.3 on mac

[2021-02-15 11:36] #367 closed

[2021-02-15 11:45] ntamas commented on #367
Should be fixed now. `python-igraph` 0.9 is expected in a few days (after igraph 0.9) so I won't make a patch release for it now; it will be in 0.9

[2021-02-15 13:46] kolumdium opened #368 "shortest_paths() terminates unexpectedly."
**Describe the bug**
Unexpected crash of the python-kernel / python environment when calculating shortest_paths() for big enough graphs.

Under Linux the following error is thrown:
python3: ../../../source/igraph/src/dqueue.pmt:286: igraph_dqueue_push: Assertion `q->stor_begin != 0' failed.
Aborted

Under Windows it just dies silently.

Similar Issue to #28

**To reproduce**
[code]

**Version info

[2021-02-15 14:55] szhorvat commented on #368
Can you clarify what size graph it crashes with?

I am not sure what you mean by "n = 10.000 entries".  The example you show goes up to 10^n with n=10, which is 10 billion (i.e. not reasonable).

[2021-02-15 15:18] szhorvat commented on #368
I cannot reproduce this on macOS with 30,000 vertices. I don't have enough memory to test larger cases.

Note that with `k` vertices, you need `k^2*8` bytes _just to store the result_ (even forgetting the computation time, and memory for additional data structures). That's ~0.75 GB for 10,000 vertices, ~7 GB for 30,000 and 75 GB for 100,000. Thus one cannot go very high with all-pairs shortest pat

[2021-02-15 15:33] kolumdium commented on #368
Okey let me rephrase.

It crashes after n = 5 so it does work with 10000 verticies.
However n = 6 does not work.

I see that I missjudged the size.

My Issue with this is that the process dies silently (on Windows).
Shouldn't it issue a warning if there is not enough memory?
Or atleast not crash the python-kernel?

[2021-02-15 15:49] ntamas commented on #368
Crashing the Python kernel is definitely a problem; I'll look into what we can do here. The C core of igraph should return an `IGRAPH_ENOMEM` error code for out-of-memory conditions and it should simply be turned into an exception.

[2021-02-15 16:32] ntamas commented on #368
@szhorvat has found a place in the codebase where `igraph_matrix_resize()` (which is used to allocate the required output matrix) does not check the return value of an underlying vector resize operation so an out-of-memory error can go undetected here. I'm pretty sure this is the reason why we are seeing an error here.

On the other hand, if you are planning to do shortest path calculations on gra

[2021-02-16 08:35] kolumdium commented on #368
Ok, thank you for your help.
I just want to spare someone else the search I underwent to find out what was wrong.

I am definetly going to rethink my approch though.

[2021-02-19 20:24] Thopic opened #369 "`fixed` argument in layout_drl"
The optional argument 'fixed' in the layout_drl function does not seem to work,
[code]
Is this behavior expected? Could I bypass it by using directly the C library?
Thanks for your help,

I'm using version 0.8, obtained through pip.

[2021-02-19 20:26] szhorvat commented on #369
Upstream issue: https://github.com/igraph/igraph/issues/916

[2021-02-19 20:27] szhorvat commented on #369
The Fruchterman-Reingold algorithm allows for specifying a bounding box for each node, so you can effectively fix their positions.

[2021-02-19 20:30] Thopic commented on #369
Thanks! Forgot to check the main repo

[2021-02-19 21:47] szhorvat commented on #369
Re-opening because the documentation of the Python interface is inaccurate. I'll leave it to @ntamas to decide how to deal with this.

[2021-02-20 20:22] ntamas commented on #369
Documentation fixed in 9f8ba30

[2021-02-25 08:41] JiazhengZhang commented on #129
In colab ,By doing this , you can successfully plotting the network.
!pip install python-igraph==0.8.3
!apt install libcairo2-dev pkg-config python3-dev
!pip install python-igraph leidenalg cairocffi

[2021-02-26 10:54] ntamas commented on #268
FYI @iosonofabio I have started working on the migration to PyDoctor now that I tagged 0.9.0 and I realized that I cannot generate the docs anymore :)

[2021-03-02 17:26] ntamas commented on #268
It seems like there is a bug in PyDoctor that prevents it from parsing the docstrings in `igraph._igraph`. I have started a discussion over in the PyDoctor issue tracker [here](https://github.com/twisted/pydoctor/issues/287#issuecomment-789075622) and I'm hoping to get an answer soon about how to proceed.

[2021-03-04 09:11] vtraag opened #370 "Plotting VertexClustering fails when targeting matplotlib"
**Describe the bug**
Ordinarily, one could plot a `VertexClustering`, for example using

[code]
![image](https://user-images.githubusercontent.com/6057804/109939568-7c477900-7cd1-11eb-9e0c-1f2a971d1794.png)

However, when doing `ig.plot(comms, target=ax)`, where `ax` is a `matplotlib` `Axes`, this throws the error
`AttributeError: 'VertexClustering' object has no attribute 'layout'`.

**To reprodu

[2021-03-04 09:12] vtraag commented on #370
@iosonofabio, presumably there is simply no support yet for this functionality. I am not sure how difficult it is to include this, but it would be nice to have. Alternatively, if this is really complicated, it would be nice to raise an error that this functionality is not (yet) supported.

[2021-03-04 21:22] iosonofabio commented on #370
Sure, I'll take care of it! Let me have a look and I'll get back to you

[2021-03-05 00:25] iosonofabio commented on #370
![graph_clustering_test](https://user-images.githubusercontent.com/1200640/110049134-5a1f2b00-7da5-11eb-8bcf-c46aa5f1dd95.png)

That's how it looks here, with default parameters. Colors can be set manually from outside on a per-vertex basis, or default to equally spaced "viridis" otherwise.

@vtraag is this good enough or shall I add some more things since I'm at it?

[2021-03-05 07:54] vtraag commented on #370
Looks great, thanks! I was thinking that maybe the option `mark_groups` would be nice to implement, but I now see this is broken also in the default plotting, at least when passing in a `VertexClustering` object. I will open another issue for that.

[2021-03-05 07:56] iosonofabio commented on #370
How would you like the groups marked?

[2021-03-05 07:58] vtraag opened #372 "mark_groups in plotting is failing"
**Describe the bug**
Plotting a graph with the `mark_groups` option fails with the error `NameError: name 'long' is not defined`.

**To reproduce**
[code]

The same problem also appears when using
[code]

**Version information**
`python-igraph` version 0.9.0.

[2021-03-05 08:00] vtraag commented on #370
The [`mark_groups` option](https://igraph.org/python/doc/igraph.Graph-class.html#__plot__) draws a (convex) polygon around the nodes in the same community. I opened an issue for the `mark_groups` problem in https://github.com/igraph/python-igraph/issues/372.

[2021-03-05 08:05] iosonofabio commented on #370
I understand roughly. A naive version is easy to implement, could do it right now:

- find the convex hull
- add a matplotlib patch with the right color

Or do you want like a 5% "expansion" to make it more pretty?

The color means solid face color of the whole polygon (probably with some 30% opacity?) or a transparent-filled polygon with colored border?

[2021-03-05 08:57] iosonofabio commented on #370
Here the options:

1. face color and border, no expansion

![graph_clustering_test4](https://user-images.githubusercontent.com/1200640/110091591-b8bbc780-7dec-11eb-9897-26a58575d342.png)

2. face color and border, 15% expansion

![graph_clustering_test3](https://user-images.githubusercontent.com/1200640/110091588-b8233100-7dec-11eb-81f2-fab475b0ab16.png)

3. just border, 15% expansion

![graph_clu

[2021-03-05 09:26] vtraag commented on #370
Nice! Personally, I think option 2 looks best...

[2021-03-05 12:28] ntamas commented on #372
This is probably a leftover from Python 2.x; `long` used to be a separate type there but there is no such type any more in Python 3.x. I'll take care of this.

[2021-03-05 12:31] #372 closed

[2021-03-05 21:21] iosonofabio commented on #370
Alright, going for option 2 plus now it understands the `mark_groups` option (in theory). I'll write tests and it should be done

[2021-03-08 14:01] ntamas commented on #370
@vtraag This will be merged into master in a few minutes; can you test a bit to see if it meets your expectations?

[2021-03-09 10:42] ntamas commented on #277
I think this issue became stale now that the C core has switched to CMake. Closing.

[2021-03-09 10:42] ntamas commented on #225
@vtraag is this still relevant to the conda package?

[2021-03-09 10:43] #317 closed

[2021-03-09 10:47] ntamas commented on #368
The underlying issue has been fixed in `igraph` and `python-igraph` 0.9.0 already includes the fix so I'm closing this. Feel free to reopen if the issue resurfaces.

[2021-03-09 10:47] #368 closed

[2021-03-09 10:56] #82 closed

[2021-03-09 10:57] ntamas commented on #269
Implemented in #310 so closing.

[2021-03-09 10:59] ntamas commented on #247
Closing this as the issue is in the C core and it already has an issue there.

[2021-03-09 12:24] cmabastar opened #374 "Documentation site is down or unavailable"
**Describe the bug**
Docs for python-graph is unavailable.

**To reproduce**
Search google for python igraph docs
or
Visit : https://igraph.org/python/doc/igraph.Graph-class.html

**Version information**
N/A

[2021-03-09 15:41] vtraag commented on #225
This works with the latest `python-igraph` version from `master` and the latest `igraph` version from `master` using `python setup.py install --use-pkg-config --static`.

 In fact, I don't think it ever had anything to do with `conda`, but just my lack of understanding. That is, the static `igraph` library was compiled without position independent code, something I now again ran into. At least in

[2021-03-09 15:41] #225 closed

[2021-03-10 13:29] ntamas commented on #173
Calling `plot()` without a filename is now deprecated in 13e0436. The feature will be removed in 0.10.0 or 1.0.0, whichever comes first.

[2021-03-10 13:29] #173 closed

[2021-03-10 13:29] #374 closed

[2021-03-10 13:30] #370 closed

[2021-03-10 13:38] ntamas commented on #173
`plot()` returns an object of type `Plot`, which has a magic method named `_repr_svg_()` that provides an SVG representation. Jupyter uses that to show the plot. In `plot()` we actually check whether we are running inside Jupyter / IPython and we don't invoke the default image viewer there.

The deprecation warning is added to the `show()` method of the `Plot` object, which is indeed called only w

[2021-03-10 14:08] ntamas commented on #361
I think this is now solved in https://github.com/igraph/python-igraph/commit/f4ddb0086c66324f0e3ea93c16aa2d5d0c355634

[2021-03-10 14:11] #361 closed

[2021-03-10 16:27] ntamas commented on #357
I had to fix a few corner cases in the tests (the number of vertices must be taken explicitly from the size of the input matrix in case we have all-zero rows or cols at the end, and the `min` case had to be treated in a special manner because all items that are missing from the sparse matrix are implicitly zeros, which affects the outcome of `min()`). I think it's okay now -- take a look at my rec

[2021-03-10 16:28] ntamas commented on #357
The relevant commit is https://github.com/igraph/python-igraph/commit/ddc53b66c03cdf0ced19836addfa81fc045c1aab

[2021-03-10 21:34] iosonofabio commented on #357
Thank you, yes I hadn't covered those.

Cheers,
Fabio

On Thu, Mar 11, 2021, at 03:28, Tamás Nepusz wrote:

[2021-03-12 10:28] vtraag commented on #370
Yep, looks good to me! Thanks @iosonofabio!

[2021-03-16 10:53] flying-sheep commented on #169
Can be circumvented by doing `conda install icu=58`, but really should be fixed on the anaconda side.

[2021-03-17 11:23] szhorvat opened #376 "Expose new modes of to_directed from 0.9 C core"
**What is the feature or improvement you would like to see?**
`to_directed` should support all four modes implemented in the C core:

https://igraph.org/c/doc/igraph-Structural.html#igraph_to_directed

Currently it only has a Boolean flag to control creating mutual edges.

https://igraph.org/python/doc/api/igraph._igraph.GraphBase.html#to_directed

[2021-03-18 18:49] vtraag commented on #169
@flying-sheep is this currently still a problem in Anaconda? We now provide a supported build through the`conda-forge` channel. If this is still an issue, please do let us know.

[2021-03-18 23:50] flying-sheep commented on #169
A friend of mine recently encountered it, but I don’t know what in his environment led to it, just that this made it work. I assume it works for most people, and others either find it or will be able to help debugging a possible issue.

[2021-03-20 07:44] vtraag commented on #169
Ok, thanks for the update. If there is any additional information, we might be able to fix it in the `conda-forge` feedstock.

[2021-03-26 10:14] dotlambda opened #379 "Test failure with Python 3.9"
**Describe the bug**
[code]

**To reproduce**
[code]

**Version information**
igraph: 0.9.1
python-igraph: 0.9.1

[2021-03-26 10:17] ntamas commented on #379
Is this deterministic? We have occasionally seen ARPACK failures with certain centrality scores (hub/authority scores are the most typical) that point to convergence problems in ARPACK itself, but these appear rarely and also depend heavily on whether you are using an external or a vendored ARPACK library.

[2021-03-26 10:18] dotlambda commented on #379
It is not, indeed.

[2021-03-26 10:18] #379 closed

[2021-03-26 10:21] szhorvat commented on #379
@ntamas Maybe you can set a random seed?

Most ARPACK-using functions set a starting vector which includes a tiny random perturbation. It is not unusual for ARPACK to fail, depending on the starting vector. With PageRank, I've seen failure rates between 0.01% 0.1% with the vendored ARPACK and lower still with ARPACK-NG 3.8.

[2021-03-26 10:27] dotlambda commented on #379
It occurred a second time right now, which makes two out of four times building it on Python 3.9 for me.

[2021-03-26 10:35] szhorvat commented on #379
What ARPACK and BLAS/LAPACK versions/implementations are you using?

[2021-03-26 10:43] vtraag commented on #342
GraphML is now supported on Windows in `python-igraph` 0.9.1 using the binary wheels from PyPI. In other words, you should be able to simply install `pip install python-igraph` and get GraphML support.

[2021-03-26 10:43] #342 closed

[2021-03-26 10:44] dotlambda commented on #379
ARPACK is https://github.com/opencollab/arpack-ng/
BLAS is OpenBLAS

[2021-03-26 13:22] szhorvat commented on #379
I can't seem to reproduce this on macOS 10.14 x86_64, when using ARPACK-NG 3.8.0 and OpenBLAS 3.14 from MacPorts. I ran it maybe 20 times or so.

However, I notice that when compiling python-igraph with the vendored C/igraph, there is an inconsistency with linking. `setup.py` takes the libraries to link to from the pkg-config file. Right now, that is always `-lblas -llapack`. On my system, these a

[2021-03-26 13:23] szhorvat commented on #379
In order to coerce it to actually link to OpenBLAS on my system, I needed to (1) change that `-lblas -llapack` to `-lopenblas` (2) get rid of Anaconda's OpenBLAS, as it kept picking up that one instead of the one from MacPorts.

[2021-03-29 20:35] vtraag commented on #342
In addition, GraphML is also supported in builds from the `conda-forge` channel from `python-igraph` 0.9.1 onwards.

[2021-03-29 20:36] vtraag commented on #330
For anyone coming across this issue for the GraphML support, please see https://github.com/igraph/python-igraph/issues/342.

[2021-03-29 20:57] vtraag commented on #283
I decided to no longer include `pycairo` as a dependency in the `conda-forge` build from version 0.9.1 onwards, and users should install it separately indeed. It is also a bit strange to have a separate build for this just for the sake of the dependency, people should just be able to install it indeed if necessary.

@ntamas, in order to avoid future questions around the ["Plotting not available"](

[2021-03-30 08:54] ntamas commented on #379
Luckily it's not the case; the C core links properly to OpenBLAS:

[code]

However, the macOS wheel does not use igraph from Homebrew so it probably links to Apple BLAS/LAPACK.

[2021-04-08 17:00] yurivict opened #382 "0.9.1: Python bindings fail to compile"
[code]

FreeBSD 12.2

[2021-04-08 17:05] ntamas commented on #382
Are you sure the headers in `/usr/local/include/igraph` are up-to-date? For instance, the `IGRAPH_MULTI_SW` identifier that the compiler is missing is clearly present in `igraph_graphicality.h`, which I just verified in a pristine tarball of igraph-0.9.1 downloaded from the homepage. `src/_igraph/igraphmodule.c` includes `igraph.h`, which in turn includes `igraph_graphicality.h` so the identifier

[2021-04-08 17:21] szhorvat commented on #382
Just to make this explicit: are you sure you are building python-igraph 0.9.1 against igraph 0.9.1? This is necessary: it won't work properly with any earlier igraph version. It looks like it was built against igraph 0.8.x, as `IGRAPH_LOOPS_SW` is new in 0.9.

[2021-04-08 17:29] yurivict commented on #382
Sorry for the noise - the igraph package wasn't updated.

[2021-04-08 17:29] #382 closed

[2021-04-18 16:02] gus0k opened #384 "Can't plot graph in Google Colab"
**Describe the bug**

I loaded the graph from a GraphML file and when I try to plot it, I get the following error:

[code]

Plotting was working with other graphs.

**To reproduce**

[Link to Minimal Colab](https://colab.research.google.com/drive/1Cfaj98xcKxpsqKnvy0fVSXFd4PG_vFpj?usp=sharing)

**Version information**

[code]

[2021-04-18 22:41] iosonofabio commented on #366
Hi @Luxxii

We're hoping to modernize the Python interface over the next year or so - if funding becomes available - and this kind of questions is useful to know what to aim for, thanks for that.

In your specific case, my advice would be:

- You mention you need it to be "as fast as possible". Alright, then code it in C, of course.
- If you can't do that because of time constraints, then "cutoff"

[2021-04-18 22:44] iosonofabio commented on #338
@szhorvat @ntamas Since we are now moving to 64 bit integers, this might just wait until then.

Otherwise I'd be happy to push a quick commit that adds a warning when the graph reaches the max number of edges/nodes, what do you think?

[2021-04-18 22:45] #357 closed

[2021-04-19 07:07] ntamas commented on #338
I'm wondering what the best place for that warning would be. In the end, all vertex / edges additions should trickle down to `igraph_add_vertices()` or `igraph_add_edges()` in the C core, so ideally we should add it there and not to the Python layer. What do you think?

(Of course if we do it in the C layer, then it would be nice not to hard-code the limit but rely on `sizeof(something)` and power

[2021-04-19 07:10] iosonofabio commented on #338
yes, those functions are where the action is. With the whole discussion about int64 taking place, I'll open an issue on the igraph repo and make it dependent on the int64 PR.

[2021-04-19 07:39] ntamas commented on #384
This is unrelated to Colab, it also happens with plain `python-igraph` in the command line.

The reason why you are getting this message is because your graph contains a `color` numeric vertex attribute. igraph uses this vertex attribute to set the colors of vertices on the plot; however, since the attribute is numeric, igraph would also need a _palette_ to convert numbers to colors. There are thr

[2021-04-19 07:41] #384 closed

[2021-04-19 08:05] ntamas opened #387 "Deprecate inexact matches for string-to-enum conversions"
**What is the feature or improvement you would like to see?**

`igraphmodule_PyObject_to_enum()` converts Python strings to members of igraph enums based on a string-to-member mapping table. However, it also allows inexact matches, which can yield misleading results sometimes. We should deprecate the inexact matching feature ASAP and get rid of it in the next version.

**Use cases for the feature*

[2021-04-19 09:01] Luxxii commented on #366
Hi @iosonofabio

Yes, C would be an option for this, but i would like to remain in Python for this use-case. Maybe the Python interface of igraph can be called via Numba. This could be faster than my current approach. However, i never tried this and am not sure if Numba recoginzes igraph.

Yes, the `cutoff` is designed for paths, which are not longer than `x`. I am NOT constrained by time, since i

[2021-04-19 09:22] szhorvat commented on #366
another effective request for callbacks: https://stackoverflow.com/q/66995867/695132

C core function should also return vector_ptr instead of flat list with -1 separators

[2021-04-19 09:27] iosonofabio commented on #366
Thanks for the explanation.

You seem a little confused as of how numba, Python, CPython, and igraph are all working.

I think the take-home message for us is that having a callback attached to a map-reduce (custom counting) operation would be useful across languages (that applies also to @szhorvat 's last link).

In practice though, if I were you I would just implement the thing in C rather than

[2021-04-19 09:31] iosonofabio commented on #366
Agree @szhorvat, ideally we would use a pointer to paths (vectors) instead of the -1 sep trick

[2021-04-19 11:26] #316 closed

[2021-04-19 22:57] iosonofabio commented on #321
Is this still present in the matplotlib interface?

[2021-04-20 05:11] jvail opened #388 "Plottig broken in jupyter lab and chrome"
I found a very bizarre behavior with plotting in jupyter lab (3.0.14), igraph (0.9.1) and google chrome (90.0.4430.72) both on linux and windows: Whenever I plot a graph it tries to render the complete jupyter lab UI, it seems. Does not happen in firefox or classical notebooks.

I am not entirely sure if it is an igraph (maybe cairo) issue. But all other libraries/widgets I use in the notebooks wo

[2021-04-20 05:24] iosonofabio commented on #388
Can confirm on Chromium + `python-igraph` 0.9.1, not a problem on Firefox as described.

I'm a little confused because I never use jupyterlab, but I'll take a look at the DOM and see if there's anything suspicious going on.

[2021-04-20 08:03] ntamas commented on #388
The `iframe` thing can be turned off by editing `igraph/drawing/__init__.py` a bit. In the `_repr_svg_()` method of the `Plot` class, the return value looks like this:

[code]

Removing `{"isolated": True}` will turn off the `iframe` and the generated SVG will be inlined. I believe this is what @iosonofabio sees for 2-3 seconds. The problem with inlining becomes apparent when you try to plot multi

[2021-04-20 08:16] agoose77 commented on #388
Here's a reproducer (cross-posted to JupyterLab issues) https://mybinder.org/v2/gist/agoose77/9bce8bcbc3ca393d216c9afce3efdcc4/HEAD?urlpath=lab/tree/reproducer.ipynb

[2021-04-20 08:56] jvail commented on #388
It seems, according to @agoose77,  it is not an issue in igraph. I''ll close and thank you for the super quick response.

[2021-04-20 08:56] #388 closed

[2021-04-20 09:03] agoose77 commented on #388
For posterity, [here is the JupyterLab issue](https://github.com/jupyterlab/jupyterlab/issues/10121).

[2021-04-22 18:25] ntamas commented on #343
Implemented by #385

[2021-04-22 18:25] #343 closed

[2021-04-27 06:54] iosonofabio commented on #36
Now that matplotlib is an accepted plotting engine for python-igraph, you can use its PNG (or other) static raster backends to achieve this. I'd be for closing this one and telling people to use mpl. But @ntamas this is just my personal preference.

[2021-04-27 07:27] iosonofabio opened #389 "function parity with igraph C core"
We should aim, as a continuous self-improvement kind of goal, to close the gap in function availability between the igraph C core and the Python interface. To help with that, let's try and keep track of what functions:
- are missing from the Python interface
- would be useful to have there
- are already implemented in the C core

Other igraph folks: please feel free to edit the list adding functio

[2021-04-27 13:16] szhorvat commented on #389
I am not completely comfortable with the "graphlet" functions. I looked into the paper, and could never quite make sense of what igraph's function returns. Finally I decided it's not worth spending the time on as it is very niche functionality. This use of the word "graphlet" is also an outlier. Most commonly, "graphlet" is used as an alternative name for motifs (what igraph calls "motifs"). This

[2021-04-27 13:34] szhorvat commented on #389
I added a few that came to mind, but without much organization. Feel free to remove/reorganize/rewrite as needed. In many cases, some functions are already exposed, but not with their full feature set.

[2021-04-28 08:44] ntamas commented on #36
Let's go back to the beginning of this thread. If I understand correctly, the original motivation for this patch was this:

The question is: is this still a problem, and if it is, is this solved with the Matplotlib backend? If Matplotlib solves this, then we can safely close this issue. Otherwise we should attempt to find a solution somehow, first by figuring out where the performance bottleneck i

[2021-04-28 11:22] Caeph opened #390 "Using lambda function in combine_vertices dictionary of cluster_graph causes memory leak"
Hello,
When using lambda function in the _combine_vertices_ attribute of _cluster_graph_ method (see code) I discovered a memory leak: after deleting the condensed graph, a section of memory is still unreachable. If no lambda function is used, the memory leak does not happen.

`strongly_connected = graph.clusters(mode="strong")`
`condensed = strongly_connected.cluster_graph(
        combine_vertic

[2021-04-28 11:29] ntamas commented on #390
Thanks a lot, I'll look into this! It looks like `python-igraph` is accidentally holding on to a reference of a Python object that should otherwise be freed.

[2021-04-28 20:32] ntamas commented on #390
So I've spent a bit of time debugging the problem, but I could not reproduce it so far.

My setup was:

* python-igraph `master` branch (but no related change since 0.9.1 so it should be the same as 0.9.1)
* Python 3.9
* macOS 10.15.7

I used the following script to test things:

[code]

I then used the Leaks module of Instruments.app to take snapshots of allocations every 10 seconds, but I could

[2021-04-28 21:13] Caeph commented on #390
Thank you for such a quick response! I only encountered a measurable leak on a graph with ~200 000 vertices. When I was running the program on smaller graphs (up to 10 000 vertices) I did not have much trouble there. I think the memory leak is relatively small. It took me quite some time to pin it down.

Attributes you used are pretty similar to mine, the _name_ is a short string (up to 10 charact

[2021-04-29 21:00] ntamas commented on #390
Sorry, still no luck -- I have now tried on a graph with 200K vertices and 800K edges, and the memory usage seems to fluctuate around 180MB, sometimes a bit more, sometimes a bit less. I have changed the test code like this now:

[code]

Can you try to create a short, self-contained example code that reproduces the problem on your machine? Also, which OS are you using? There might be subtle differ

[2021-04-30 07:45] Caeph commented on #390
I am using Ubuntu 20.04. The code:
[code]

I really could not explain the leak any other way then by the lambda function, but since you cannot replicate it it is possible I missed something else... Thank you for your efforts.

[2021-05-05 16:20] #376 closed

[2021-05-05 16:32] #387 closed

[2021-05-10 14:01] ntamas commented on #388
Also for posterity, [here is the fix in JupyterLab](https://github.com/jupyterlab/jupyterlab/pull/10185).

[2021-05-20 14:39] szhorvat opened #392 "Ease of use in various environments"
Accessibility and ease of use is an important goal for igraph. I would love to see it being easy to use in various popular interactive environments. I reached out to https://cocalc.com to ask that python-igraph be a default package. They were supportive and it will be included in the next release. Plotting works fine.

Another very popular such environment is Google Colab https://colab.research.go

[2021-05-20 14:41] szhorvat commented on #392
For the record, this is what I tried:

[code]

It gives me a very unhelpful `AttributeError: plotting not available`, with no hints on where to look for solutions. This is at least an UX issue.

[2021-05-20 16:17] szhorvat opened #393 "Self-loops are sometimes cut off with the matplotlib backend"
**Describe the bug**
Self-loops are sometimes partially outside of the frame with the matplotlib backend.

It is possible that this is due to my lack of knowledge about matplotlib, and that I just didn't set it to show everything.

**To reproduce**
[code]

![image](https://user-images.githubusercontent.com/1212871/119013552-632c9b00-b997-11eb-812e-6917f22a74ed.png)

**Version information**
0.9.1.

[2021-05-20 16:25] szhorvat opened #394 "Self-loops are distorted with matplotlib backend"
**Describe the bug**
The self-loops are distorted, i.e. stretched in one direction with the matplotlib backend. I would expect the self-loop to look the same in any plot that has been set to use an aspect ratio compatible with the plot range ("axes equal").

**To reproduce**
[code]

![image](https://user-images.githubusercontent.com/1212871/119014602-6bd1a100-b998-11eb-970d-1af892c79d6b.png)

This

[2021-05-20 16:26] szhorvat opened #395 "Matplotlib backend does not support multi-edges"
**Describe the bug**
The matplotlib backend plots multi-edges on top of each other.

**To reproduce**
[code]

![image](https://user-images.githubusercontent.com/1212871/119015088-e13d7180-b998-11eb-9866-396e3125374f.png)

**Version information**
0.9.1

[2021-05-20 16:35] szhorvat opened #396 "The default plot size is too large for use in notebooks"
**Describe the bug**
The default plot size is too large to be usable in notebooks. This is a serious usability issue. Ideally, newcomers should be able to visualize graphs immediately and conveniently when working in notebooks, thus the plot size should be reasonable out-of-the box. At the very least, there should be an easy way to set up a convenient default plot size, without significant ipython

[2021-05-20 16:39] szhorvat opened #397 "Graphs should render as graphics by default in notebooks"
**What is the feature or improvement you would like to see?**
In a notebook environment, when evaluating a graph, it now displays something like `<igraph.Graph at 0x11fd18400>`. Instead, it should plot the graph. It should show a graphical representation. This should happen for small graphs only (it's useless and counterproductive for large graphs which are slow to lay out or don't render nicely a

[2021-05-20 16:39] szhorvat commented on #397
I once made this work for networkx, I should dig it up. igraph should do it by default whenever run in a Jupyter notebook.

[2021-05-20 17:59] szhorvat opened #398 "Matplotlib plotting backend is not documented"
**Describe the bug**

Matplotlib plotting backend is not documented.

See https://igraph.org/python/doc/api/igraph.drawing.html#plot

**Version information**
0.9.1

[2021-05-20 19:18] ntamas commented on #393
I leave this up to @iosonofabio to respond to as he is the most familiar with the Matplotlib backend, but I think that this problem is probably harder to fix as Matplotlib decides the bounding box based on the area spanned by the "data points", which are the vertices themselves. I don't think that it takes the extents of the decorations (edges, labels etc) into account.

[2021-05-20 19:28] ntamas commented on #392
The `AttributeError: plotting not available` error appears when `import cairo` fails with an `ImportError`; we catch the exception and replace `cairo` with a fake module that raises an `AttributeError` for every single attribute access. Note that from inside Python, it is hard to distinguish between a missing `pycairo` library and a `pycairo` library that fails to import for other reasons.

For sa

[2021-05-20 19:39] ntamas commented on #395
Note to ourselves: the Cairo backend uses the [`autocurve()`](https://igraph.org/python/doc/api/igraph.html#autocurve) function to assign a "curvature" to each edge in a multiple-edge bundle. We can probably make use of this in the Matplotlib backend as well. Since `autocurve()` is potentially time-consuming, we use it only for graphs with less than 10K edges.

[2021-05-20 19:43] ntamas commented on #396
This is the point where we need to decide whether `python-igraph` should be able to detect whether it's running inside a notebook environment, and act accordingly if it does. The default plot size was set up under the assumption that the plot will be shown in a separate window and will be closed once the user is done with it (or saved for posterity if the plot is meant for a publication). Clearly

[2021-05-20 19:48] ntamas commented on #268
Documentation is now generated with PyDoctor; closing this.

[2021-05-20 19:48] #268 closed

[2021-05-20 19:52] ntamas commented on #397
I think what's missing here is a default `_repr_svg_()` method for `Graph` objects. I wonder what  to do with large graphs, though -- shall we render a placeholder or shall we somehow bail out of `_repr_svg_()` and show the usual Python `repr(...)` representation instead?

[2021-05-20 20:12] szhorvat commented on #396
It would be good to get an idea of how most people use igraph.

I think many people like to use a MATLAB-inspired IDE like Spyder. That's another thing to consider.

That might be useful, as several features make sense in notebooks. Or there could be a manual switch that enables "notebook mode". I don't know how other Python packages handle this.  networkx figures are more reasonably sized in note

[2021-05-20 20:22] szhorvat commented on #392
You are right, it works in Google Colab. I did not realize that closing and re-opening the notebook in Colab does not necessarily restart the kernel. That's why it failed.

[2021-05-20 20:26] szhorvat opened #399 "Create Dash docset"
**What is the feature or improvement you would like to see?**
Create a Dash docset. doc2dash supports pydoctor, and should provide a good starting point.

Be careful not to conflict with the C/igraph docset, which uses the `igraph` keyword (we can change this).

**Use cases for the feature**
Easy documentation searching and browsing in [Dash](https://kapeli.com/dash), [Zeal](https://zealdocs.org/)

[2021-05-20 21:32] iosonofabio commented on #392
Part of the reason behind the matplotlib PR was that mpl works in all these situations: the notebook/colab folks make sure of that, so that makes our life easier.

I'm unsure how you guys feel about it, but I would conceive switching entirely to mpl as default within the next year or so

[2021-05-20 21:40] iosonofabio commented on #396
I use Python+vim which is (early) 20th century but efficient: open a matplotlib window (Qt5), zoom in the plot if you want to, save it to file at the desired dpi or in a vector format, done.

Most young folks despite this traditional art though, and instead make a png that embeds in the notebook.

As far as mpl is concerned, I agree with Szabolcs, a smaller embedded png is the current fashion and

[2021-05-20 21:48] iosonofabio commented on #397
I am quite in favour of not giving graphs an automatic plotting instead of printing useful info on number of nodes and edges, directness, and attributes.

If this becomes default people will rely on it for their plots and complain whenever they need adjustments. Also, it will reinforce the impression - already too popular - that a graph and its 2D layout are the same thing.

ig.plot(g) is short en

[2021-05-20 21:49] iosonofabio commented on #395
I'm pretty sure I messed with autocurve in the mpl backend, at least for loops. Let me have a look

[2021-05-20 21:53] iosonofabio commented on #393
I tried this for a little bit and decided it's not worth bothering unless we want to improve the whole mpl support a lot. ATM it's basically a single, large stopgap function.

For the current user, `ax.ser_ylim(top=1)` is easy enough

[2021-05-20 21:59] iosonofabio commented on #398
Hmm, I've documented it somewhere, but perhaps not everywhere. I'll take a look

[2021-05-20 22:01] iosonofabio commented on #394
See the other bug about loops, I'm closing this one.

Basically this can be fixed but doing so properly takes a decent amount of restructuring, so I'd be happy to do it if we agree that mpl is the future as opposed to a class B obscure option.

[2021-05-21 02:06] BrandonKMLee opened #400 "Inconsistency of Community Detection Algorithm handling DiGraphs vs Graphs"
**Describe the bug**
https://github.com/GiulioRossetti/cdlib/issues/167#issuecomment-845596774

Most algorithms only allow for undirected graphs to work, however, Eigenvector simply throws an error ("This method was developed for undirected graphs") and proceeds to run anyways.
https://github.com/igraph/igraph/blob/cf684b5ce44ac41732a7f61884b390e24172047a/src/community/leading_eigenvector.c#L530

[2021-05-21 07:40] szhorvat commented on #394
Is there another issue on the same topic? If yes, can you please link to it directly?

Whether this is truly a bug, and whether we currently have the resources to fix it are two orthogonal questions. I do not thikn that a lack of resources to fix it justifies closing it.

[2021-05-21 07:46] ntamas commented on #394
I think he meant #393, which you filed just before this one :)

Reopening this as it is something that should be fixed eventually, even if we don't have the resources for it right now.

[2021-05-21 07:53] szhorvat commented on #397
As someone who has been using notebooks for 20 years, to me it seems a no-brainer that a graphical representation is the way to go _in notebook environments_, and that this increases productivity during interactive work. It is telling that it is precisely SageMath (which had a notebook interface well before Jupyter) does this by default.

Don't think of this as "automatic plotting". That's not wha

[2021-05-21 08:03] szhorvat commented on #397
Here are some more ideas (or sprouts of ideas, as I don't yet have a complete picture in my head):

I am wondering if it would make sense for igraph to have some persistent configuration options that control how it behaves in a notebook.

To be clear: In most cases, I think that it is not appropriate for an analysis library to have persistent (persisting across sessions) config options that contro

[2021-05-21 08:51] ntamas commented on #397
The Python interface already has a [configuration framework](https://igraph.org/python/doc/api/igraph.configuration.html), vaguely based on how Matpliotlib's configuration looked like >10 years ago when I "borrowed" the concept. In some sense, this is a horrible idea if you think about `python-igraph` as a _library_ because an external file on the user's system may completely change how the librar

[2021-05-21 08:53] ntamas commented on #397
Just found out that the default configuration has a key named `ipython.inlining.Plot` with a boolean value that controls whether instances of the `Plot` class are inlined as SVG files in IPython / Jupyter or not :) I don't know whether it still works or not (haven't touched this part of the library in ages), but that's a start.

[2021-05-21 09:01] ntamas commented on #393
One thing that bothers me about the MPL backend is that Matplotlib is a heavyweight beast. On the other hand, I know that everyone has terabytes of storage available at his fingertips and Matplotlib is way easier to install nowadays than before, especially in comparison to Cairo, which is a niche thing in the Windows world. So, taking everything into account, I am in favour of committing ourselves

[2021-05-21 09:05] szhorvat commented on #392
There is a lot of value in going with the standard. It helps interoperability. If it reaches feature parity with the Cairo backend, and there is not major performance downside (I never measured!), it sounds like a good idea to make it the default.

So far the one important lacking feature I noticed is support for multi edges, #395

[2021-05-21 09:08] ntamas commented on #396
I'm pretty sure it's not unless you jump through extra hoops to store the internal representation. Cairo is "just" a vector drawing tool that takes a surface (screen, image buffer, PDF file, OpenGL context etc), draws some stuff on it, saves it and then forgets about it. It is probably comparable to the Matplotlib drawing backends (e.g., the Agg backend), and is at roughly the same abstraction lev

[2021-05-21 09:10] szhorvat commented on #397
Highlighting this as a clear **TODO** item:

[2021-05-27 16:03] jwang-19 opened #401 "low efficiency of "from_networkx" compared to TupleList and the other way"
I encounter the slow efficiency problem of "from_networkx" when I was trying to use the Leiden algorithm on a very large network which is composed of around 33,000 nodes and 11.3 million edges. I reported the problem in leidenalg GitHub and the author Traag suggested me to report the issue here. So here are my experiments about the three ways to load the network:

"from_networkx":
[code]

"TupeLis

[2021-05-27 16:23] szhorvat commented on #401
While in this case it probably makes no difference, I wanted to note that 0.9.1 has been available for quite a while now, and that it is unclear what you mean by "from your site".

It is indeed important to make this conversion as fast as possible.

[2021-05-27 16:38] jwang-19 commented on #401
Well, when I was trying to find a place to post the issue, I clicked the bug report button and there was a sentence at the bottom to let me give my version information, that is why I posted it. My main point is the efficiency problem of "from_networkx".

[2021-05-27 16:55] szhorvat commented on #401
@jwang-19 I understand why you tried to provide the information, but we still don't know what you meant by "your site".

[2021-05-27 16:55] szhorvat commented on #401
@iosonofabio I am looking at this line:

https://github.com/igraph/python-igraph/blob/4578205f1a86cec1243ab70dca905ba6315b21f4/src/igraph/__init__.py#L1949

Adding edges one-by-one is extremely inefficient in igraph (regardless of interface). Graphs should never be built this way. Each `add_edge` will rebuild the entire graph from scratch. The usual way around this is first record all edges, then

[2021-05-27 17:12] szhorvat commented on #401
If that is indeed the problem (it has to be, but it seems strange that it would cause a slowdown of only 100x with 10^7 edges), we need to fix it here as well:

https://github.com/igraph/python-igraph/blob/master/src/igraph/__init__.py#L2046

[2021-05-27 18:14] jwang-19 commented on #401
oh, okay, so I installed the package from this site: https://pypi.org/project/python-igraph/#files last year.

[2021-05-27 18:17] jwang-19 commented on #401
Yes, I was also curious why it took such a long time. It seemed to be fast when I used the function on a small network that is composed of around 6000 nodes, but it became slower when I used a large one.

[2021-05-27 18:20] jwang-19 commented on #401
If the add_edge

Yes, you are right.

[2021-05-27 21:03] ntamas commented on #401
`from_networkx` performance issue is now fixed by @szhorvat in https://github.com/igraph/python-igraph/commit/f6eb8cf93443d3cca8d52716979bba971c047911 . I'll probably release a new version after sorting out `from_graph_tool` as well.

[2021-05-27 21:09] iosonofabio commented on #401
Thanks guys, happy to edit the graph tool function @ntamas

[2021-05-27 22:10] jwang-19 commented on #401
Thank you for the great work, I am looking forward to your new version.

[2021-05-28 10:11] ntamas commented on #399
I've tried `doc2dash` but right now it chokes on a file named `igraph.summary 0.html` (yes, there's a space in the filename). It is probably PyDoctor's fault as I don't understand why it created a file with this name when the corresponding module is clearly called `igraph.summary`.

[2021-05-28 10:35] ntamas commented on #399
Okay, this seems to work now in 58975cb

[2021-05-28 13:30] szhorvat opened #405 ""Unknown fields" in documentation"
**Describe the bug**

"Unknown field" appears in multiple places in the documentation.

Examples:

<img width="564" alt="image" src="https://user-images.githubusercontent.com/1212871/119991159-74922a80-bfc9-11eb-8dba-15f7b8152b65.png">

https://igraph.org/python/doc/api/igraph._igraph.GraphBase.html#community_multilevel

**Version information**
0.9.1

[2021-05-28 13:32] ntamas commented on #405
This is due to PyDoctor not supporting custom fields from Epytext (in particular, the `@newfield` directive). We either need to clean these up in the documentation or send a patch to PyDoctor to start supporting custom fields from Epytext. I'm leaning towards the former as it is easier, although the formatting of references would be nicer with the latter.

[2021-05-31 08:52] szhorvat commented on #398
It would be great to have _some_ documentation on this before the next python-igraph release.

We might also want to mark it as "experimental". This will communicate that it's not finished functionality and it may change. The idea is to have things documented, so people can use them and give feedback, but not yet commit to the API or behaviour.

[2021-05-31 09:43] iosonofabio commented on #398
Alright, I had already documented it in the online manual here:

https://igraph.org/python/doc/tutorial/visualisation.html#plotting-graphs-within-matplotlib-figures

but the docstring of the function wasn't changed. My bad, let me add the info there too.

When explaining this kind of stuff, tutorials are most useful. The current tutorial:

https://igraph.org/python/doc/tutorial/tutorial.html#drawi

[2021-05-31 09:54] szhorvat commented on #398
Re tutorial: I went through the plotting parts of the tutorial the other day (since I have a lot to learn in this area!) and noticed that the plots included in the tutorial are not quite the same as the what the preceding code produces. It would be nice to fix this. I'll let you know a bit later what the mismatch was (I need to look again).

[2021-05-31 09:55] iosonofabio commented on #398
I've now opened a PR on this, as you can see, happy to fix the tutorial based on what you find out!

Thank you!

[2021-06-01 13:07] svalkiers opened #409 "Incompatibility community detection and matplotlib backend"
Hi,

When using python-igraph's matplotlib backend, I have experienced some interoperability issues with the `mark_groups` functionality of the `plot` command. When I create a `VertexClustering` object (see working example) and try to visualize its groups without additional markup, everything works fine and I get a clean output as shown in the figure below.

[code]

![image](https://user-images.gi

[2021-06-01 21:51] iosonofabio commented on #409
Looks like a bug to me, I'll take a look this arvo

[2021-06-02 01:02] iosonofabio commented on #409
I opened a PR, it now does this if the line is uncommented:

![mpl_graph_plot_red](https://user-images.githubusercontent.com/1200640/120408266-0915d780-c392-11eb-8ec8-9ba466f250b5.png)

I assume that's what you want?

[2021-06-02 05:49] svalkiers commented on #409
Yes, exactly. I appreciate the rapid response!

[2021-06-02 19:41] ntamas commented on #409
#410 is now merged in master and will be released with python-igraph 0.9.5.

[2021-06-02 19:43] ntamas commented on #401
Fix released in 0.9.4 so I'm closing this.

[2021-06-02 19:43] #401 closed

[2021-06-02 19:43] ntamas commented on #390
I'm kinda stuck on this as I still haven't found a clear way to reproduce this on my machine yet. Moving to the next milestone.

[2021-06-02 19:44] ntamas commented on #395
This is now fixed in 0.9.4 so closing.

[2021-06-02 19:44] #395 closed

[2021-06-03 17:48] Teculos opened #411 "vertex_label_angle has no affect on plot"
It appears that rotation of vertex labels doesn't work.

Here's an minimal example of the issue:

[code]

Other attributes like color, node size, and label size can be changed but vertex_label_angle doesn't seem to have any affect.

I'm using python 3.7.4 on ubuntu 18.04.5 with igraph version 0.9.1

[2021-06-04 13:14] vtraag opened #412 "Transition to igraph PyPI package instead of python-igraph package"
At the moment, the Python interface of `igraph` is called `python-igraph`, also on PyPI. However, once installed, you use `import igraph` in order to load the Python interface of `igraph`. This leads many people to be able to simply use `pip install igraph` in order to install the Python interface of `igraph`. However, this does not work, since the Python igraph is also called `python-igraph` on P

[2021-06-05 15:34] cuiyan commented on #201
Library path:
Runtime library path:
Linked dynamic libraries: igraph
Linked static libraries:
Extra compiler options:
Extra linker options:
building 'igraph._igraph' extension
creating build
creating build/temp.macosx-10.9-x86_64-3.7
creating build/temp.macosx-10.9-x86_64-3.7/src
creating build/temp.macosx-10.9-x86_64-3.7/src/_igraph
gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -fno-co

[2021-06-05 17:32] szhorvat commented on #201
@cuiyan If you have a problem with python-igraph, please open a new issue and describe what the problem is in clear English and in sufficient detail that we can try to reproduce it.

[2021-06-07 16:39] yankai-wang opened #413 "degree sequence graph generator (Graph.Degree_Sequence) with “vl” method is super time consuming in python"
**Describe the bug**
There are two equivalent functions in python (Graph.Degree_Sequence) and in R (degree.sequence.game) to generate random graphs. However, when using method = 'vl', the R version has a normal speed while the python version takes a much longer time. For example, the R version takes 27s to generate a graph with 1000 nodes whose degrees are all 750, but the python version takes 839

[2021-06-07 17:47] szhorvat commented on #413
In Mathematica I get 85 seconds on my machine (some of this is the overhead of converting a large graph over to Mathematica format).

[2021-06-07 18:03] szhorvat commented on #413
The below C code takes 27 seconds on my machine, while the Python version (with 0.9.4) didn't finish in a few minutes. Something is indeed wrong.

[code]

[2021-06-07 23:17] ntamas commented on #413
I've done a bit of profiling on macOS on the Python process. It took ~70 seconds for me to generate a graph with 1000 vertices and each vertex having 750 edges from Python and ~33 seconds to do the same thing from C. In the Python profile, it seems like ~15 seconds was spent in `igraph_rng_Python_get_real`, i.e. the part that reaches out to Python's built-in RNG to generate random numbers. That se

[2021-06-08 06:40] szhorvat commented on #413
Yesterday I did the measurement incorrectly. I used `%timeit` in IPython, which repeats the commands multiple times, and cancelled the computation before it was done.

Today I get ~65 seconds when measuring correctly, so everything is fine.

----

A more careful measurement in Mathematica gives 69 s with Mathematica's RNG and 39 s with igraph's RNG.  The Python interface can maybe be sped up a bit

[2021-06-08 09:11] ntamas commented on #413
`set_random_number_generator(None)` is supposed to do this, but it does not work for me; I know where the bug is, but it needs to be fixed first. If I revert to the built-in RNG, the generator completes in 33 seconds, which is comparable to the raw C speed, so it looks like it's definitely the RNG that causes problems here.

[2021-06-08 09:12] ntamas opened #414 "`set_random_number_generator(None)` does not revert to igraph's built-in default RNG"
**Describe the bug**

The documentation claims that `set_random_number_generator(None)` makes `python-igraph` use igraph's native RNG instead of the one from Python. Apparently this is not the case; it keeps on using the Python-based rng.

**To reproduce**

[code]

The two calls take identical time, even though it heavily uses the RNG.

**Version information**

0.9.4

[2021-06-08 09:12] ntamas commented on #414
#413 is related.

[2021-06-08 09:33] szhorvat commented on #413
I should also look into making the algorithm interruptible. I'll look into that after the integer transition.

[2021-06-08 15:57] #414 closed

[2021-06-08 15:59] ntamas commented on #413
#414 is now fixed, so `set_random_number_generator(None)` will allow one to restore the default igraph RNG, which is faster than Python's RNG due to the fact that it does not have to pass through the Python layer to generate a random number. The fix will be released in 0.9.5.

@yankai-wang If you need this fix before the release, let me know and I'll try to convince the CI system to create a pre-r

[2021-06-08 17:38] szhorvat commented on #413
There's still the mystery of why OP sees a > 30x slowdown compared to R while we see a < 3x slowdown, maybe barely 2x.

@yankai-wang Can you let us know:

 - How you timed the computation
 - Where you obtained python-igraph from

[2021-06-08 18:13] ntamas commented on #413
I have an unconfirmed theory here. The VL graph generator uses `igraph_rng_get_int31()`, which apparently exists only because the original VL graph generator code used 31-bit random numbers and we did not change that when we vendored the algorithm. `igraph_rng_get_int31()` works by checking whether the `max` parameter of the RNG is 0x7FFFFFFF; if it does, it calls the plain `get()` method of the i

[2021-06-08 20:13] ntamas commented on #413
1b2b0a3 now fixes the issue on 32-bit platforms by making sure that the Python RNG always uses `random.random()`. Apparently, `random.randint()` and even `random.getrandbits()` is slower because of the fact that Python does not have "native" integers - every Python integer is a separate `PyLong` object that requires lots of extra bookkeeping.

On the other hand, I am a bit worried that implementin

[2021-06-09 08:31] yankai-wang commented on #413
First THANKS a lot!
I just use time.time() to get the stamps and then compute the difference. I download it with pip and the problem is reproduced with 0.9.4. Below is the result I got.
[code]
ps: the difference with my original result may due to different machines rather than different versions. Bust still, this long time is clearly not right.

[2021-06-09 08:40] yankai-wang commented on #413
A pre-release will be perfect! This is the last thing I need to finish my project.

Also, I guess your theory about the random() stuff might be right because I did see something related to it when I forced my machine to stop and in debugging. I forget the details thus cannot reproduce them but I really have the impression.

[2021-06-11 10:30] ntamas commented on #411
You also need to set `vertex_label_dist` to a nonzero value. `vertex_label_dist` and `vertex_label_angle` work together like a polar coordinate system; `dist` specifies the distance to offset the label from the center of the node (1 equals the radius of the node, 1.2 usually gives nice results) while `angle` specifies the direction.

[2021-06-11 10:30] #411 closed

[2021-06-11 15:18] ntamas commented on #409
0.9.5 is now released, which should fix this issue.

[2021-06-11 15:18] #409 closed

[2021-06-11 15:19] ntamas commented on #413
0.9.5 is now released. This should partially address this issue; the slowdown should now be about 2-3x only, not 30x or more. Furthermore, this release now allows you to call `set_random_number_generator(None)` to make `python-igraph` use igraph's built-in pure C RNG instead of Python's RNG, which should bring the performance to be on par with the C core (but then you can't control the seed of the

[2021-06-11 15:19] #413 closed

[2021-06-11 21:57] dschult opened #415 "New 0.9.5 igraph doesn't work with drawing module"
The NetworkX examples page threw an error upon release of igraph 0.9.5 with the following report.
It looks like the new feature `mark_groups=True` listed in the igraph Changelog for this release breaks
drawing.py line 1114.

On that line, kwds["mark_groups"] is assumed to return a dict, but now can return a bool.

[code]

[2021-06-11 22:21] ntamas commented on #415
I think that the commit referenced above should do the trick; can you test it quickly in CI or shall I just make another release and hope for the best?

[2021-06-11 22:24] iosonofabio commented on #415
Sorry for reopening, but I have a question about the commit. Let me have a quick look

[2021-06-11 22:26] ntamas commented on #415
Sure, it was auto-closed by Github when I mentioned "fixes #415" in the commit message.

[2021-06-11 22:34] jarrodmillman commented on #412
I am happy to see you are taking care of it (it has been a minor annoyance of mine).  Another minor annoyance is that there is also:   https://pypi.org/project/igraph-python/

I don't know what to do, but I just wanted to bring it to your attention.

[2021-06-11 22:44] iosonofabio commented on #415
My bad, yes this is a bug that came out of a last minute decision of mine as of default states. Reclosing, we should probably make a new release if that's not too much hassle.

[2021-06-11 22:44] #415 closed

[2021-06-11 22:45] ntamas commented on #412
Thanks, we know about this other package and @vtraag has already tried contacting the author to work something out. We haven't received a response until now. There are formal procedures in PyPI for handling situations like this so if we cannot contact the authors for an extended period of time and we can document our attempts, we can turn to the PyPI maintainers to help sort this out.

[2021-06-11 22:47] ntamas commented on #415
I can make a release tomorrow (well, today, but after my next sleep cycle :)) if @dschult can confirm that the fix works for them as well.

[2021-06-12 06:01] dschult commented on #415
I can confirm that the fix works for NetworkX.
Thanks for the speedy response. :}

[2021-06-12 11:11] ntamas commented on #415
Okay, thanks for the feedback. 0.9.6 is now on PyPI so you can revert to using that.

[2021-06-12 20:41] danski3456 opened #416 "Dendogram to cluster does not allow n=2"
**Describe the bug**

Converting a dendogram to a cluster while specifiying the number of clusters fails.

**To reproduce**
[code]

If you are confident that the issue is not in the Python interface but in the
C core of igraph, please add it to the main [igraph repo](https://github.com/igraph/igraph)
instead.

If you are unsure, feel free to add your issue here - we will transfer it to
the main [i

[2021-06-12 21:24] szhorvat commented on #416
This is not a bug. Your graph is not connected. It has 268 connected components. It is not possible to ask for fewer clusters than the number of components.

[2021-06-16 18:24] #416 closed

[2021-06-19 11:10] luneice opened #417 "AttributeError: type object 'Graph' has no attribute 'layout_grid_fruchterman_reingold'"
Make sure that these boxes are checked before submitting your issue -- thank you!
Enviroment:
[code]
When running this code, it got `AttributeError: type object 'Graph' has no attribute 'layout_grid_fruchterman_reingold'` error:
[code]
- [x] This issue is for the Python interface of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

[2021-06-20 17:39] ntamas commented on #417
`Graph.layout_grid_fruchterman_reingold()` was deprecated in `python-igraph 0.8` and was removed recently. The alternative is to use `g.layout("fr", grid=True)` instead. Unfortunately I was a bit careless when removing the method as I falied to removed the string-based aliases. This will be fixed in the next patch release.

[2021-06-20 17:39] #417 closed

[2021-06-22 08:37] fwitter opened #419 "Improve Performance when Creating Large Graphs from Pandas DataFrames"
When creating large graphs from Pandas DataFrames, the helper method `Graph.DataFrame` becomes painfully slow. For my current project, I need to create a graph with 700k vertices having a lot of attributes and 2.4 million edges. This takes more than 3 hours with the current implementation of `Graph.DataFrame`.

I have run some experiments to analyze the runtime complexity of this method. Each expe

[2021-06-22 18:38] ntamas commented on #419
PR #418 is now merged so this is fixed. Thanks a lot for your contribution!

[2021-06-22 18:38] #419 closed

[2021-06-23 18:50] fwitter opened #420 "Align Graph.DataFrame with the Rest of DataFrame API"
The class method `Graph.DataFrame` should by default align with the rest of the DataFrame API, i.e. `Graph.get_edge_dataframe` and `Graph.get_vertex_dataframe`. An alignment would allow using `g_clone = Graph.DataFrame(g.get_edge_dataframe(), g.is_directed(), g.get_vertex_dataframe())` to clone a graph `g`.

This requires changing the default parameter value of `use_vids` to `True` in `Graph.DataF

[2021-06-24 09:07] ntamas commented on #420
#421 will solve this; I'll close the issue when #421 is merged.

[2021-06-26 18:56] sztal opened #422 "`ig.union` when `a_name` not in `a_conflict` due to `graph_union` not having `pop` method"
**Describe the bug**

As in the title. One conditional branch in the source code cannot be executed because it expects a `graph_union` object, which is of class `igraph.Graph`, to behave like a standard Python `dict` or `set` and have `pop` method defined.

This happens in lines `181-185` in the `operators.py` module.

[code]

**To reproduce**

I cannot reproduce without sharing some data which I

[2021-06-29 08:08] iosonofabio commented on #422
Please provide an example with some data that is not private. If it's obvious from the code, making up a simple example should be easy as well and it makes my life a lot easier, thank you

[2021-06-29 08:22] #422 closed

[2021-06-29 08:27] iosonofabio commented on #36
Might be worth mentioning that we are considering switching to matplotlib as default. Mpl deals with backends (e.g. PNG/SVG) quite flexibly and is generally quite well integrated with notebooks and ipython as well, so if we transition we might end up in the same boat as many other libraries in terms of performance: might not support billions of nodes, but it will let the user choose the backend at

[2021-06-29 08:41] iosonofabio commented on #392
#395 is closed now, and I just added some info to the visualization docs about at least two common situations where matplotlib is useful. Shall we close this issue then?

[2021-07-02 13:44] #366 closed

[2021-07-11 12:20] senhuiguo opened #426 "edge_width doesn't work with matplotlib"
# Problem 1:
On my **mac**, if I run this:
[code]
I can get a graph with edges of various widths, but if I run:
[code]
The widths of edges in the graph are the same, the 'width' property doesn't work here.

# Problem 2:
On **linux**, if I run
[code]
where I specified the `edge_width` in visual_style, which is the example case in the document, this will throw an error:
[code]
but running the same b

[2021-07-11 12:43] senhuiguo commented on #426
Just found, the `edge_color` doesn't work with the matplotlib either.

[2021-07-11 22:06] iosonofabio commented on #426
Thank you, yes the matplotlib interface is experimental. There is a PR that is awaiting review that fixes this and more, will probably be there in the next minor or major version. Stay tuned...

[2021-07-16 14:09] Yquetzal opened #428 "Apple silicon problem"
Hi,
I just switched to an apple silicon Mac, and cannot get igraph to work.
What I do:
[code]

which says:
[code]

But then when I try to import igraph in python:

[code]

[2021-07-16 14:23] Yquetzal commented on #428
Additionally, when I try to compile from source, I get the following error:
[code]
and this one I don't understand...

[2021-07-16 14:40] Yquetzal commented on #428
Note that after some initial difficulties, I managed to compile it from sources

[2021-07-20 09:36] ntamas commented on #428
Sorry for the late reply. Even if you managed to compile it from source, this is still worth investigating. Unfortunately I don't have an Apple Silicon Mac at hand so I can only guess; could it have been the case that you had other versions of the _C core_ of igraph installed on your machine when you initially tried the wheel? For instance, the one from Homebrew (which you can obtain with `brew in

[2021-08-04 17:35] #394 closed

[2021-08-04 17:35] #393 closed

[2021-08-12 23:24] ntamas commented on #412
Transitioning from `python-igraph` to `igraph` has started; the original author of the `igraph` package has kindly handed over the ownership to us; see the [package description of igraph](https://pypi.org/project/igraph/) on PyPI for more details. The current version of `python-igraph` will also be published as `igraph` in PyPI in early September 2021. The old `python-igraph` package will be updat

[2021-08-20 01:53] yjgeno opened #430 "Node Transparency"
**What is the feature or improvement you would like to see?**
Hi thanks for the package! I was wondering if there is any argument that adjusts the opacity/transparency of vertices?

**References**
something in r:
https://stackoverflow.com/questions/30376904/changing-node-vertice-opacity-in-igraph-in-r

[2021-08-20 01:56] iosonofabio commented on #430
Thanks for asking. we are working on a big PR that will enable that in matplotlib and perhaps plotly.

Should be ready in a week or two.

For now I'd think perhaps just using the `alpha=0.5` keywork argument to `ig.plot` might actually work.

[2021-08-20 02:29] yjgeno commented on #430
@iosonofabio thanks for your response but set alpha in ig.plot will make the whole surface opaque. What I wanted was on nodes only... looking forward to your big improvement!

[2021-08-20 04:52] iosonofabio commented on #430
are you using the Cairo or matplotlib backend?

[2021-08-20 05:07] iosonofabio commented on #426
The matplotlib PR is quite close to being merged. When that happens, we'll try to make a new release and you can just update.

[2021-08-20 05:10] iosonofabio commented on #396
`matplotlib` is reasonably notebook-friendly, while `plotly` is "web first" and has several renderers dedicated to notebooks, jupyterlab, embedded html, etc. I feel like trying to embed a Cairo-made PNG into notebooks is destined to fall out of favour as time passes, and we could instead recommend people to switch to another backend through a config value in the near future.

[2021-08-20 11:15] odidev opened #431 "Add support to release aarch64 wheels"
Problem
---------
On aarch64, ‘pip install python-igraph’ builds the wheels from source code and then installs it. It requires the user to have a development environment installed on his system. Also, it takes more time to build the wheels than downloading and extracting the wheels from PyPI.

Resolution
-----------
On aarch64, ‘pip install python-igraph’ should download the wheels from PyPI.

@nt

[2021-08-21 15:28] ntamas commented on #431
Thanks a lot! I have no objections against merging this if the CI tests run successfully in #432.

[2021-08-21 15:36] ntamas commented on #430
@iosonofabio Which part of the drawing machinery handles the `alpha` argument here? Is it Matplotlib or do we handle it ourselves in the Matplotlib backend? I'm asking because I thikn the `alpha` argument is not handled by the Cairo backend. In Cairo, you can make nodes semi-transparent by passing the color in RGBA notation like this:

[code]

The downside of this is that the Cairo backend actuall

[2021-08-28 23:02] iosonofabio commented on #392
The plotting PR brings mpl and plotly to parity with Cairo. I expect that to take help with colab, data bricks, notebook, jupyterlab, etc.

[2021-08-31 09:34] vtraag commented on #431
As an alternative, until binary wheels for `aarch64` become available, you can install `aarch64` packages from the `conda-forge` channel in `conda`, i.e. `conda install -c conda-forge python-igraph`.

[2021-09-05 06:59] szhorvat opened #433 "Construct graph from adjacency list"
**What is the feature or improvement you would like to see?**

A function to construct a graph from its adjacency list.

It should work with general vertex names (e.g. a mapping from vertex names to their neighbours as a Python dictionary), not just vertex IDs.

**Use cases for the feature**

The adjacency list is probably the most used graph representation when implementing various graph algorith

[2021-09-10 06:41] szhorvat opened #435 "The tutorial shows old igraph/python versions"
[The tutorial](https://igraph.org/python/doc/tutorial/tutorial.html#) shows Python 2.7 and igraph 0.6 in the example outputs. This should be updated to recent versions since we don't even support Python 2.7.

[2021-09-10 08:39] ntamas commented on #431
The PR has been merged so closing this.

[2021-09-10 08:39] #431 closed

[2021-09-13 04:14] odidev commented on #431
@ntamas, can you please let me know if when AArch64 wheels are targeted for release?

[2021-09-13 06:34] iosonofabio commented on #435
Good catch, we should also take away star imports and include a plot with matplotlib I think

[2021-09-13 08:49] ntamas commented on #431
There was a recent bugfix in the C core regarding Gomory-Hu trees that I would like to get included in the Python interface as well. So, there will be a new release of the C core this week, in the next few days, and shortly after that a Python patch release will also follow, also in this week. At least that's the plan.

[2021-09-19 15:48] cptwunderlich commented on #389
FYI, from a user perspective, I just wanted to check if a graph is chordal and typed it in, just to realize that `is_chordal` is not part of python-igraph. I think this would be a very useful function, not often found in other libraries.

[2021-09-19 16:21] szhorvat commented on #389
@cptwunderlich IMO if you need a specific feature, it's worth opening a separate issue for it. This helps us prioritize it, as well as schedule it for a specific release. (@ntamas  are you okay with this, or do you think it will overload the issue tracker?)

[2021-09-19 23:34] iosonofabio opened #436 "Add buffering to `Graph.DictList`"
@vtraag raised the issue in #434: Our `Graph.DictList` has a boolean `iterable` keyword arg that is designed for large graphs, but it most likely results in a significant runtime slowdown.

Changing the API and implementation to allow for any positive integer that acts as a buffer size would be a good compromise:

[code]
should call `add_edges` every 1000 edges (and once more at the end).

Keeping

[2021-09-20 04:45] iosonofabio commented on #389
I directly opened a PR against `develop`, should not be a big deal and we can include in the next release. Thanks for requesting @cptwunderlich

[2021-09-20 06:25] szhorvat opened #438 "Broken links to Nexus in documentation"
Report from [the forum](https://igraph.discourse.group/t/dead-link-in-documentation/492/3) about broken links in the tutorial:

Nexus is no longer available so these should be removed.

[2021-09-20 06:42] cptwunderlich commented on #389
@szhorvat OK, will do in future!
@iosonofabio thank you very much!

[2021-09-20 10:59] #438 closed

[2021-09-20 12:07] ntamas commented on #435
Version numbers updated in 9bde4c2. I think the star imports are okay; personally, I don't mind star imports when someone is working interactively in a Python prompt, I'm only against star imports in Python files.

I'll push an update to igraph.org soon.

[2021-09-20 15:37] Yquetzal commented on #428
Sorry I did not reply since It is difficult to investigate the problem, since I should be certain to start from a clean configuration again.
What I can say is that it works with my manually compiled version, but if I create a virtuel environment with venv, which inherits global packages, then I have the broken version of igraph in it. And yes it is possible that I have done a `brew install igraph`

[2021-09-20 21:15] iosonofabio commented on #435
The main issue is solved, but since we're here: many people copy-paste from the tutorial into their files and notebooks I believe, so I wondered about the star import too.

Not a big deal I think, but perhaps to discuss again as we ramp up our examples and docs over the next months

[2021-09-21 08:01] ntamas commented on #389
I am in favour; I like "actionable" issues where it is clear when the issue can be closed. This particular issue is not really "actionable" because we will probably never reach function parity, or even if we do, adding a new function to the C core would necessitate the re-opening of this issue :) But I'll keep this one open as well until we get reasonably close (which will probably be at the time

[2021-09-21 09:15] ntamas commented on #389
PR #437 now contains an interface to `igraph_is_chordal()` (actually, two, `is_chordal()` and `chordal_completion()`)

[2021-09-21 17:27] vtraag commented on #435
No, I also don't like it, it obscures very much where something is coming from and makes it difficult to read. I do understand that it's sometimes easy to use though. I personally use the `ig` abbreviation for import, similar to `np` for `numpy` and `pd` for `pandas`.

[2021-09-21 21:47] iosonofabio commented on #435
Oh the cavalry had arrived! Yes I use ig too, we could start promoting it that way in the docs?

[2021-09-22 22:33] brimg commented on #428
I am experiencing this problem currently.  What can I provide to help debug it?  I have tried installing and removing `igraph` using `brew`, neither configuration seems to work.

[code]

It's the same error whether I have installed via `brew`.

Thanks!

[2021-09-23 07:13] Yquetzal commented on #428
If you want to use the same non-ideal but working solution than me, you have to follow the "compiling from source" section of the documentation...

[2021-09-23 14:22] brimg commented on #428
@Yquetzal Thanks for the suggestion, but that didn't work for me.  I'm hoping the `brew` + `pip` method gets fixed so we can port `igraph` usage between machines.

[2021-09-24 10:00] ntamas commented on #428
@brimg Let's start with posting what you get when you run the following commands:

[code]

[2021-09-24 10:39] ntamas commented on #435
It's up to you guys; personally, I never use notebooks so I don't know what's the convention there. I tend to be overly pedantic in my own code and use explicit imports (i.e. `from igraph import Graph`) even in interactive prompts so I don't have a strong preference for or against using `import igraph as ig`. (This seems to have been invented by the community anyway as I have never advocated abbre

[2021-09-24 12:15] vtraag commented on #435
I've been probably just imitating what is done for numpy and related packages. Explicit imports is also fine, but for a tutorial that brings overly many imports I think.

[2021-09-24 18:28] ntamas commented on #436
If we decide to do this, we should probably add a `batch_size` keyword argument as this is more descriptive. There are two ways I guess:

* We keep `iterative` as is, and add `batch_size` with a default value (say, 1000). When `iterative` is `False`, `batch_size` is ignored; it is considered only when `iterative` is truthy.
* We add `batch_size` with a default value of `None` and deprecate `iterat

[2021-09-25 00:11] iosonofabio commented on #436
Totally agree, would prefer option 2, hierarchies between function args can get a little confusing

[2021-09-25 09:48] kopeckyf commented on #428
Hello everyone,

I hope you don't mind me chiming in on this issue. I see exactly the same error message as OP and @brimg. @ntamas, I'm seeing this output for the commands you mentioned:

[code]
[code]
[code]

[2021-09-25 17:59] ntamas commented on #428
I borrowed an Apple Silicon machine from my wife and I can confirm that the problem indeed exists with a stock installation. I'll check the build logs to figure out what goes wrong in the CI environment where the wheels are built.

[2021-09-27 09:12] ntamas commented on #428
Okay, I think I know what's going on. The CI system caches the compiled C core of igraph and tries to link to an x86_64 version of the C core when compiling the Apple Silicon version, and obviously it doesn't work. I'll need to figure out how to cross-compile to Apple Silicon on a non-M1 Mac because the CI systems do not support Apple Silicon natively yet.

[2021-09-27 14:12] brimg commented on #428
I have to say, it's amazing that you were even able to find that.   Thanks so much for getting at least this far.

[2021-09-29 02:44] iosonofabio commented on #433
I believe this has been implemented now, closing. Please reopen if incorrect.

[2021-09-29 02:44] #433 closed

[2021-09-29 02:45] iosonofabio commented on #430
The new matplotlib support is in the `develop` branch now. @yjgeno if you can test it you'd help us close this, otherwise wait until it hits pypi and then you can test it.

[2021-09-29 02:46] #420 closed

[2021-09-29 09:35] ntamas commented on #428
There are new wheels in the output of [this CI run](https://github.com/igraph/python-igraph/runs/3736231150). You need to download the build artifacts, unzip them and install the apppropriate wheel manually with `pip install`. I'm not sure whether they work -- all I did was to cross-compile the C core of igraph in CI for Apple Silicon and then build the wheels as usual with `cibuildwheel`. The dif

[2021-09-30 07:28] Yquetzal commented on #428
I tried to do it but I'm not sure I'm doing it right.
Since I have a working version I compiled myself, I try to work with a virtual env. I checked that first I could not import `igraph` in it, then I downloaded the wheels on your link, run pip install on it. It seems to work: after that I can import `igraph` in my venv.

But when I try to run the tests:
`==========================================

[2021-09-30 08:38] ntamas commented on #428
Sorry, I have forgotten that the source tree now uses `pytest` so the full process is a bit more complex. If you use a virtualenv, you need to do something like this:

[code]

[2021-10-01 07:41] Yquetzal commented on #428
Here is the result:
[code]

[2021-10-01 15:42] ntamas commented on #428
Looks good to me - the wheels seem to be okay! A new release is coming soon so I'm closing this and I will publish new wheels once the new release is out.

[2021-10-01 15:42] #428 closed

[2021-10-06 13:38] jboynyc opened #443 "intersphinx links"
I link to the igraph docs from my own package docs using the intersphinx feature. For that reason I had the following in the `conf.py` for my Sphinx documentation:

[code]

This link recently broke because the igraph docs now live in versioned subdirectories, so currently the full URLs are now `https://igraph.org/python/doc/tutorial/0.9.6` and `https://igraph.org/python/doc/api/0.9.6`. If I go to

[2021-10-06 15:57] ntamas commented on #443
This is related to https://github.com/igraph/igraph.org/pull/46 . I tried to put redirects all over the place from the old pages to the new ones, but I only did those for HTML files.

It has been brought to my attention that Github Pages supports symlinks; in the next few days I'll try to add symlinks instead of the current static redirects and also add symlinks for the `objects.inv` files; hopefu

[2021-10-13 08:59] szhorvat opened #444 "Raw markdown appears in the documentation"
There is some raw markdown appearing in the python-igraph documentation. Examples:

 - https://igraph.org/python/api/latest/igraph.Graph.html#DataFrame
 - https://igraph.org/python/api/latest/igraph.Graph.html#get_edge_dataframe

Notice words delimited with `*` or `` ` ``, e.g.

[code]

[2021-10-13 09:04] ntamas commented on #444
It's not Markdown, it's [reStructuredText](https://docutils.sourceforge.io/rst.html) ;)

Putting jokes aside, this is a bit of a mess. When I started python-igraph, there weren't really any documentation standards in the Python community. There were a multitude of competing solutions, one of which was Epydoc, which I chose for writing the docstrings. Epydoc is now defunct, and the only Python docu

[2021-10-13 21:10] vtraag opened #446 "`Read_Ncol` crashes when being passed a pandas dataframe"
**Describe the bug**
When a `pandas` dataframe is passed to `Graph.Read_Ncol` it crashes. Of course, a dataframe should not be passed to `Graph.Read_Ncol`, but this should not cause the Python session to crash, but should be correctly handled.

**To reproduce**
[code]
**Version information**
This is using version 0.9.6 installed from `conda`.

[2021-10-14 11:54] ntamas commented on #446
Can you please try it with the latest dev version? I cannot reproduce it with the dev version on my machine; nevertheless I have added a regression test for it so we can see it in the CI if this fails on some platform.

On my machine, I get an exception like this:

[code]

[2021-10-14 13:27] ntamas commented on #446
@vtraag Can you test now with the latest `master` to see if the problem is still there on your machine? (CI seems to pass now).

[2021-10-15 10:09] #446 closed, assigned to ntamas

[2021-10-15 12:47] vtraag opened #447 "The formatting of the user guide in the documentation is not correct"
The [user guide / tutorial](https://igraph.org/python/tutorial/latest/) is currently not formatted correctly. In particular, it requires at least the following changes:

- [ ] Inline code need to be enclosed in two backticks, not a single one.
- [x] Literal code blocks need to be introduced with a double colon, not a single one
- [ ] Some elements are enclosed in pipes, but should be enclosed in b

[2021-10-15 14:21] limburgher opened #448 "Migrate from distutils to sysconfig by the release of Python 3.12"
**Describe the bug**
Package uses distutils

**To reproduce**
Build:
string>:1: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives
<string>:1: DeprecationWarning: The distutils.sysconfig module is deprecated, use sysconfig instead

**Version information**
0.9.7, github.

[2021-10-15 15:38] #448 closed, assigned to nobody

[2021-10-25 14:37] #447 closed, assigned to ntamas

[2021-10-27 23:53] adriangb opened #450 "feat: provide type stubs"
This is a C wrapper, so understandably a lot of the arguments and types are unknown to Python.
This can be solved (at least for IDE users) by providing type stubs, which are basically like Python header files.
This benefits users because:
1. The can run static analysis on a codebase containing this library.
2. They can use the IDE's autocompletion instead of constantly having to refer to the docs.

[2021-11-02 18:30] elfring opened #452 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-02 18:51] ntamas commented on #452
Merged, thanks!

[2021-11-02 18:51] #452 closed

[2021-11-03 14:38] RiskyMaor opened #454 "Reading graphmlz fails"
**Describe the bug**
Reading graphmlz file results with a TypeError.
Does not reproduce using `igraph==0.9.0` or using the write_graphml  / Read_GraphML methods.

**To reproduce**
[code]

Output:

[code]

**Version information**
pip install igraph
0.9.8

[2021-11-03 17:32] #454 closed

[2021-11-03 17:34] ntamas commented on #454
Thanks for the report! `Read_GraphMLz` mistakenly tried to forward an argument named `directed=...` to the underlying `Read_GraphML` function; this is now fixed by removing the `directed=...` argument. If you need a quick fix right now, you need to modify `igraph/__init__.py`, line 2315, and remove the `directed=directed, ` part from it.

The fix will be included in igraph 0.9.9 or 0.10.0, whichev

[2021-11-04 12:31] szhorvat opened #455 "Disjoint union should produce names that make it easy to refer to orginal vertices"
**What is the feature or improvement you would like to see?**

Disjoint union should produce vertex names which make it easy to identify where each vertex originally came from. I propose that the names in the result graphs should be of the form `(i, n)` where `i` is the index of the graph in the input list and `n` is the original name.

For example, if the input graphs had vertex names `a, b, c` a

[2021-11-04 19:47] iosonofabio commented on #455
Great point, happy to implement. Of course, until we have a plan the vertex names, I'd prefer to not use tuples. One option is underscore joining the original names, but my favourite is to add a vertex attribute called "origin_graph" (name could be a function arg) that tells you.

I wouldn't want to start using tuples if they have no overlap in vertex names, that is really unfriendly towards recur

[2021-11-04 23:02] ntamas commented on #455
That's one side of the coin. The other side is that it is unfortunate if the _type_ of the new vertex attribute essentially depends on whether there is an overlap between the vertex names or not; if we do that, it means that as a user I wouldn't be able to figure out what the new name of vertex A from graph 1 is going to be unless I check for overlaps first. Always using tuples _or_ always using u

[2021-11-07 21:57] h2kh opened #456 ""Graph object has no attribute 'community_leiden'" - did the new release get rid of this ?"
**Describe the bug**
It looks like community_leiden doesn't exist as a Graph method in the new release while the other ten clustering algorithms are still available.

**To reproduce**
g is a Graph
g.community_leiden() gives me the error message

Using igraph(0.9.8) and got it through pip install igraph

[2021-11-08 08:29] ntamas commented on #456
Can you please post the full error message that you see? `community_leiden()` works just fine for me with a fresh install from `pip` using Python 3.9.7.

[2021-11-08 17:50] ivan-marroquin commented on #42
Hi @ntamas

Thanks for the clarification. However, the error message still persist in its original format:
GraphBase.__init__(self, nverts, edges, directed)
TypeError: only numbers, strings or igraph.Vertex objects can be converted to vertex IDs

I am using igraph 0.9.4, to replicate the error message:

# make a csr_matrix
sources, targets= csr_matrix.nonzero()
edgelist= list(zip(sources, targets)

[2021-11-08 18:57] ivan-marroquin commented on #42
I forgot this command line:

edgelist= np.asarray(edgelist, dtype= np.float32) # the type is the mistake, it should be np.int32

[2021-11-09 09:29] ntamas commented on #42
I've modified the error message a bit to make it it clear that node IDs must be integers (floats are not okay, even if they are integral). See the commit referenced above.

[2021-11-10 16:53] ivan-marroquin commented on #42
Thanks!

[2021-11-10 18:45] h2kh commented on #456
You are correct. I don't have any issues while using igraph 0.9.8.

I had forgotten to activate my virtual environment and ended up using python-igraph 0.7.1.post6 with the 'import igraph' command. It seems like there's no community_leiden method for the Graph object in that package. In any case, no further work needed on this non-issue.

[2021-11-10 18:45] #456 closed

[2021-11-15 00:56] Rui-Jing opened #458 "Error in py_module_import(module, convert = convert) : AttributeError: module 'igraph' has no attribute 'VertexClustering'"
Hi,
Thanks for developing this powerful tool. I meet a problems when I used **InfercnV (a R package)** to process the Single-cell data in R.

**Describe the bug**
Error in py_module_import(module, convert = convert) :
  AttributeError: **module 'igraph' has no attribute 'VertexClustering'**

**To reproduce**
This software (**infercnv**) error occurs in step 15 :computing tumor subclusters via leid

[2021-11-15 09:54] ntamas commented on #458
Can you point me to the part in the `infercnV` source code where it tries to import `VertexClustering` from `igraph`? It does not seem to be an issue with `python-igraph` itself because `VertexClustering` can be imported just fine in a vanilla Python environment:

[code]

[2021-11-15 10:02] szhorvat commented on #458
@ntamas  I think it uses this package: https://cran.r-project.org/web/packages/leiden/index.html @vtraag is also an author of that package. @vtraag, is that package now obsolete considering that we have `cluster_leiden` in R/igraph 1.2.8?

[2021-11-15 13:52] vtraag commented on #458
That package is not mine, but by @TomKellyGenetics. It provides an R wrapper around my Python `leidenalg` package. That package is more extensive than the current implementation in `igraph`.

Perhaps @TomKellyGenetics may weigh in on this error though, as it probably relates to the interfacing between the packages somehow, not to `python-igraph` itself.

[2021-11-16 09:16] TomKellyGenetics commented on #458
Sorry for the confusion. I developed the R interface to Python leidenalg using reticulate. I gave @vtraag credit as the author of the Python module doing the actual computations.

However, I wasn't involved in this package at all but it does appear to depend on “leiden” not “igraph”. https://github.com/broadinstitute/infercnv/blob/master/DESCRIPTION

If there is an issue with that package please r

[2021-11-16 09:18] TomKellyGenetics commented on #458
I recommend closing this issue and filing a new one with the relevant R package that is calling leidenalg with an incompatible Python igraph object. Thank you.

[2021-11-16 13:55] vtraag commented on #458
Thanks for the explanation @TomKellyGenetics! Good luck with your new job and moving. I'll close this issue for the moment then. @Rui-Jing , if it turns out that there somehow still is some problem with `python-igraph` feel free to come back and re-open the issue.

[2021-11-16 13:55] #458 closed

[2021-11-16 13:57] szhorvat commented on #458
I wonder if `infercnV` could just use `igraph` now instead of relying on `leiden`. Perhaps it doesn't use any features that are specific to `leiden`? Should we reach out to `infercnV` and suggest the change?

[2021-11-16 14:01] vtraag commented on #458
Yes, we could do that indeed. Let me open an issue in `infercnV`.

[2021-11-16 14:30] ivan-marroquin opened #459 "returned adjacency matrix is not a csr_matrix"
**Describe the bug**
The command "get_adjacency_sparse" does not return a sparse matrix (i.e., csr_matrix) instead it returns an igraph matrix object. However the documentation mentions that a csr_matrix should be returned.

I am using python-igraph 0.9.4 with Python 3.6.5 on a windows machine.

**To reproduce**
import igraph as ig
from scipy.sparse import csr_matrix

g= ig.Graph.Tree(127, 2)

adj

[2021-11-16 16:57] GroteGnoom commented on #459
In you example you call `get_adjacency`, not `get_adjacency_sparse`. Is that the problem maybe?

[2021-11-16 17:18] szhorvat commented on #459
Closing, since this seems to be due to a typo, as pointed out above. I just double checked that `get_adjacency_sparse` works as expected.

BTW I strongly suggest using the latest version, which is 0.9.8.

[2021-11-16 17:18] #459 closed

[2021-11-16 21:12] ivan-marroquin commented on #459
Hi @GroteGnoom and @szhorvat

thanks for the suggestion. i checked the reference manual (https://igraph.org/python/api/0.9.8/igraph._igraph.GraphBase.html) and couldn't find the function 'get_adjacency_sparse'. The documentation only mentions the function 'get_adjacency'

Ivan

[2021-11-16 21:22] szhorvat commented on #459
It's in Graph, not GraphBase:

https://igraph.org/python/api/latest/igraph.Graph.html#get_adjacency_sparse

But you yourself mentioned the function above, so I assumed you knew about it:

[2021-11-23 07:41] Kasaneru opened #461 "Cannot set edge_curved parameter while plotting"
I am trying to set *edge_curved* parameter to 0 or False while plotting in order to get edges directed in both directions but get a *TypeError: 'int' object is not subscriptable* and graph without edges.

**Code**
[code]

**Traceback**
[code]

**Version information**
Using Google Colab
igraph 0.9.8
matplotlib 3.2.2

[2021-11-23 08:57] ntamas commented on #321
The Matplotlib backend seems to be better in handling multiple self-loops; just tested this now in Google Colab.

[2021-11-23 08:59] ntamas opened #462 "Matplotlib backend throws an exception when there is only a single vertex in the graph"
**Describe the bug**

Plotting a graph with a single vertex crashes the Matplotlib plotting backend.

**To reproduce**

[code]

The code above throws an exception:

[code]

**Version information**

igraph 0.9.8
matplotlib 3.2.2
Google Colab

[2021-11-23 09:01] ntamas commented on #461
Thanks for the report! A workaround for the time being is to pass a list of values to `edge_curved`, i.e. as many entries as the number of edges that you have. I'll look into this later.

[2021-11-24 19:32] #462 closed

[2021-11-24 19:38] ntamas commented on #461
It looks like the Matplotlib backend does not implement the flexible keyword argument handling that the Cairo backend does. The Cairo backend allows keyword arguments like `edge_curved` to be a single value (in which case it applies to all edges) or a list (in which case the i-th element applies to the i-th edge). This was achieved in the Cairo backend with the `VisualVertexBuilder` and `VisualEdg

[2021-11-24 19:57] iosonofabio commented on #461
A lot of this is in the develop branch, but yes, happy to make a PR for the remainder

[2021-11-24 20:04] ntamas commented on #461
I have to admit I've lost track of what has already been implemented and what has not been implemented yet. Let's make a list first that summarizes what works and what doesn't work from the Cairo backend so we can see how much work is ahead of us. We don't need to backport things to `master`, just make sure that most of the things that used to work with the Cairo backend still work with Matplotlib

[2021-11-24 20:06] iosonofabio commented on #461
Sounds good. The obvious outstanding items are edge labels and generally plot margins when labels are used.

[2021-11-25 12:46] Isaac-Lee opened #463 "Undocumented variables and No summery methods"
Hello :)

I was exploring the [python-igraph API reference](https://igraph.org/python/api/latest/classIndex.html) and found that the ㅡmost of instance variable was undocumented.
Not only that, there seems to be a part where Summery for the methods are too long, so it is displayed as "No summery".

Seeing that most of the undocumented instance variables use the values ​​of the constructor's paramet

[2021-11-25 21:34] iosonofabio commented on #463
Hello and thanks for the message.

I'm not sure what you mean. Do you mean we are not documenting `__init__` properly?

Please provide example

[2021-11-25 21:48] pradkrish opened #464 "ModuleNotFoundError"
**Describe the bug**
After following all the steps in the `Contributing` section, I get `ModuleNotFoundError: No module named 'igraph'` when importing igraph for the first time. Is there a missing instruction?

**To reproduce**
These are the steps I followed
[code]

[2021-11-25 22:28] iosonofabio commented on #464
Thanks for reporting. Is the newly compiled package in your `PYTHONPATH`? If not, please add it and try again

[2021-11-26 01:27] Isaac-Lee commented on #463
Oh sorry my bad.

Yes the Instance Variables in `__init__` is not documented

For example, at the page about class [igraph.drawing.baseclasses.AbstractXMLRPCDrawer](https://igraph.org/python/api/latest/igraph.drawing.baseclasses.AbstractXMLRPCDrawer.html), there is no documentation about Instance Variable `server` and `service`. Also there is a docstring for `_resolve_hostname` but there is no sum

[2021-11-26 02:13] iosonofabio commented on #463
Thank you for the example. That's an abstract class, and the constructor is actually documented. So not a fantastic place to make your first contribution.

If you and your colleagues would like to contribute to python-igraph, I'd recommend starting by writing a few tutorials, asking the lines of #460 .

[2021-11-26 04:55] Isaac-Lee commented on #463
Thank you very much for the comment and recommendation!
Will read some more and give it a try :)

[2021-11-26 05:42] vtraag commented on #464
Is `develop` still working correctly @ntamas? I remember that it isn't working properly anymore, but I don't remember the details. If not, we should obviously correct that in the `README.md`. Perhaps we could use a separate `CONTRIBUTING.md` also?

[2021-11-26 06:58] pradkrish commented on #464
Also, isn't building it in a `venv` a better option? If so, I see no mention of it in `README.md` either.

[2021-11-26 08:40] ntamas commented on #464
I use virtualenvs on my own machine. From scratch (i.e. fresh clone):

[code]

I'll check why the `setup.py develop` route does not work, but as the whole setup is pretty complex, maybe it's somewhat expected.

You should know that the build process works like this:

* first the C core of igraph (which is a submodule in `vendor/source/igraph`) is built into `vendor/build/igraph` and then installed

[2021-11-26 08:41] ntamas commented on #464
Also, there's a `test.sh` script in the `develop` branch that I currently use for running unit tests in the virtualenv; it may prove useful. The reason why it's not mentioned anywhere is that I'm not quite satisfied with it yet.

[2021-11-26 09:12] ntamas commented on #462
@iosonofabio Can you help me with finding where [this patch](https://github.com/igraph/python-igraph/commit/3d074b2f3433abbfbbf4e7748c328a1c91da39a7#) should be merged to in the `develop` branch (if it is needed at all)? The Matplotlib drawing backend has changed so much that I can't find the appropriate place, but maybe this is not even an issue any more.

[2021-11-26 19:58] iosonofabio commented on #462
No problem, I'll take a look tomorrow

[2021-11-27 09:16] pradkrish commented on #464
This is what I have done after pulling the `seup.py develop` fix:

[2021-11-27 09:37] pradkrish commented on #464
This is what I have done after pulling the `seup.py develop` fix:

[code]
This gives
[code]
is that the total number of tests? Does it look complete?

[2021-11-27 09:46] ntamas commented on #464
Yes, that seems OK, but some tests are skipped because NumPy, SciPy, Pandas and Matplotlib are not installed in the venv. These are optional dependencies so a simple `setup.py develop` will not download them. You can probably run `pip install -e '.[plotting,test]'` to install the package in "editable" mode and install the testing / plotting dependencies as well.

Note that in editable mode (or wit

[2021-11-27 10:55] pradkrish commented on #464
ah I think I get it. I was under the impression that I can change the C code, build the python interface and test the changes. I am primarily interested in contributing to the igraph C library. In that case, I guess I follow the instructions [here](https://igraph.org/c/) and [here](https://github.com/igraph/igraph/blob/master/CONTRIBUTING.md)

[2021-11-27 11:58] ntamas commented on #464
In theory you can do that; you need to change the C source in `vendor/source/igraph` (this part is _not_ aware of Python at all), update the C-to-Python glue code in `src/_igraph`, recompile (`rm -rf vendor/build vendor/install && python setup.py develop`), and then test the changes. But if you want to change things deep in the C core, and you want the changes to end up in the official C-igraph re

[2021-11-28 18:28] szhorvat opened #465 "Tutorial is incorrect about colour specifications"
The tutorial claims that colours can be specified as 3-tuples of integers from 0 to 255. This is wrong. It should be tuples of reals from 0 to 1.

https://igraph.org/python/tutorial/0.9.8/tutorial.html#specifying-colors-in-plots

[2021-11-28 18:30] szhorvat opened #466 "Main page links to version-specific tutorial"
The main webpage links to a version-specific tutorial:

https://igraph.org/python/#docs

Notice this link: https://igraph.org/python/tutorial/0.9.8/tutorial.html

Instead of linking to `0.9.8`, it should link to `latest`. We should avoid search engines picking up on version-specific documentation.

[2021-11-28 19:51] ntamas commented on #466
Should be fixed now in https://github.com/igraph/igraph.org/commit/90c2784ef124daea5620fff89abdd28a0a2fd1ea

[2021-11-28 19:51] #466 closed

[2021-11-29 08:04] ntamas commented on #463
Actually, most of the cases where a private method or variable (starting with `_`) appears in the documentation and is shown as "undocumented" is an issue with the site CSS. These methods and variables are marked in the HTML markup with the CSS class `private`, but since we are customizing the PyDoctor CSS, they do not become hidden automatically by default. I'll fix the CSS and most of these shou

[2021-11-29 08:15] ntamas commented on #465
Actually, it is even worse than that; all three options below work correctly:

[code]

I think the odd one out here is the `"255, 127, 0"` version. Internally, we use RGB components in the range 0-1 (mostly because both Cairo and Matplotlib uses them as far as I know). CSS notation is familiar to many people, though, and we can't argue with the CSS standard so we use 0-255 there. The fact that `"2

[2021-11-29 08:17] ntamas commented on #465
Another issue to sort out: the machinery that generates the HTML documentation pages on the homepage does not support pointing the docs of a specific version at a commit that does _not_ belong to the version tag so we'll need to wait with fixing this on the homepage until the next patch release comes out, or I need to mess with the HTML manually.

[2021-11-29 08:20] ntamas commented on #463
Aaargh, it's worse than that. Actually, we considered this before and it turns out that we cannot simply respect PyDoctor's `.private` CSS classes because it considers the entire `igraph._igraph` module as private due to the underscore so we wouldn't be able to show `igraph._igraph.GraphBase`. I'll try to come up with a more restrictive set of rules.

[2021-11-29 08:33] ntamas commented on #463
Okay, should be fixed by now.

[2021-11-29 08:33] #463 closed

[2021-11-29 21:46] #465 closed

[2021-12-03 08:14] Yaminyam commented on #444
Hello!
While looking for an issue with the new field in the api documentation, I found out that the issue was a pydoc issue.
(https://github.com/twisted/pydoctor/issues/456)
I came across this issue while looking for related information to resolve the issue.
If so, are you working on converting the docstring to rest+google right now?
If not, is it okay if I try to work on it?

[2021-12-03 10:15] ntamas commented on #444
We are not working on it yet so if you are willing to take up the task, that's great! I would propose that you should fork off your own branch from the `develop` branch and work on that branch separately.

Note that many docstrings are not in the Python codebase but in the C part, in `src/_igraph/*.c`, near the end of the file, so in order to gauge how big a task this is, you should also look in t

[2021-12-05 01:56] tristanlatr commented on #444
You can bulk-convert epytext docstring to restructured text with the following solfware: https://github.com/tristanlatr/epytext2rst

Also, know that pydcotor support multiple types of docstring in different modules. So if you want, you can write some modules with google-style docstring and add ``__docformat__ = "google"`` as a module variable and it will be recognized and parsed adequately.

I'm n

[2021-12-08 11:01] szhorvat opened #469 "Complete Python implementation of usability benchmarks"
We have a set of usability benchmarks—a collection of small tasks that help us judge how convenient it is to use the library. This issue is to implement each such task using python-igraph.

https://github.com/igraph/igraph/wiki/Usability-benchmarks

This collection of implementation will also be useful as a "dictionary" that helps users familiar with another high-level interface of igraph (or even

[2021-12-09 11:44] szhorvat opened #470 "Shortest path function that returns a "shortest path tree" object usable for quick path retreival"
**What is the feature or improvement you would like to see?**

The current shortest path functions will return a _list of paths_ from a source `s` to all other vertices.

This is a proposal for an additional, different function which also takes a source `s` as input, and will return a special object which can be used for the efficient computation of paths from `s` to any `t` on demand. The object

[2021-12-09 14:48] vtraag commented on #430
Can this be closed, seeing that it is implemented in both `cairo` and `matplotlib`? Perhaps because the node transparency still shows the edges behind it, you'd like to keep it open @ntamas?

[2021-12-09 14:50] ntamas commented on #430
We can close this; the fact that the edges are shown below the now-transparent node is another issue.

[2021-12-09 14:50] #430 closed

[2021-12-10 08:49] szhorvat commented on #464
Can this be closed now? If we want to fix develop mode, a new issue with a descriptive title and body should be opened.

[2021-12-10 09:36] #464 closed

[2021-12-10 10:59] szhorvat opened #471 "Some methods are no longer in the documentation index"
Many important methods are no longer included in the documentation index. Here are the reference docs:

https://igraph.org/python/api/latest/

This is the main index:

https://igraph.org/python/api/latest/nameIndex.html

I can no longer find `betweenness` or `shortest_paths` there. I think this happened after a recent doc update.

Ideally, there would be a main index where people can search for al

[2021-12-10 16:27] szhorvat opened #472 "A setting to change the plotting backend"
To use the matplotlib backend, we need to do something like `plot(g, target=plt.axes())`. This is very tedious during interactive work.

This is a proposal to have a setting that changes the backend either permanently, or for the duration of the session.

[2021-12-10 22:13] iosonofabio commented on #472
Actually, see the tutorial PR for examples: it's better to create the figure and axes first, but in the fly.

Also, this config option exists already, but the config singleton is not terribly well documented. So we can leave this issue open until we make a tutorial that uses it and add a page on the website

[2021-12-10 22:17] iosonofabio commented on #471
Thanks, could be due to the modularization. I'll take a look

[2021-12-11 17:14] szhorvat commented on #472
Can you demonstrate how changing the configuration, with a code example?

[2021-12-11 19:01] yanchenm commented on #469
Hi, currently working on a PR for the following examples:

- Clique percolation
- Community visualization
- Visualize cliques

[2021-12-12 09:26] szhorvat opened #473 "Plots are stretched with matplotlib backend"
**Describe the bug**

Plots are horizontally stretched with the matplotlib backend.

In a notebook, I see this:

<img width="451" alt="image" src="https://user-images.githubusercontent.com/1212871/145707095-cb79c002-1af8-4375-a523-699813dec0f9.png">

During interactive usage, there should not be any need for adjustments (such as setting "equal axes") to get a good plot.

**To reproduce**

[code]

[2021-12-12 09:39] szhorvat commented on #472
[code]

[2021-12-12 09:39] #472 closed

[2021-12-12 09:43] szhorvat commented on #321
Yes, here's an example:

[code]

<img width="512" alt="image" src="https://user-images.githubusercontent.com/1212871/145707577-ee7c7077-942b-4b0a-a78d-ba8a31fe7030.png">

[2021-12-12 10:06] iosonofabio commented on #321
Is this the develop branch? If not please test with that

[2021-12-12 10:16] iosonofabio commented on #473
Fair enough: just fixed in 4ba66b3.

@Gomango999: can you please delete all those `ax.set_aspect(1)` from the new tutorials?

[2021-12-12 10:16] #473 closed

[2021-12-12 10:20] szhorvat commented on #473
Awesome!

<img width="473" alt="image" src="https://user-images.githubusercontent.com/1212871/145708607-2c40aa0e-a88c-4f54-8d73-b476ee23c755.png">

[2021-12-12 10:21] szhorvat commented on #321
Yes, it is with the latest develop branch.

[2021-12-12 10:33] szhorvat commented on #321
@iosonofabio I remembered correctly, you did fix it. It works in the released version, but it does not work on `develop`. Here's what I get with 0.9.8:

<img width="683" alt="image" src="https://user-images.githubusercontent.com/1212871/145708982-471de2e2-048f-4113-80b6-5ee556d40adb.png">

[code]

[2021-12-12 10:54] szhorvat opened #474 "Plotting of multigraphs fails with Cairo backend"
**Describe the bug**

Plotting of graphs with multi-edges fails with the Cairo backend.

There should be a test in the test suite for this.

**To reproduce**

Use the Cairo backend.

[code]

<details>
<summary>Output</summary>

[code]

</details>

**Version information**

Current `develop` branch. It works fine in 0.9.8.

[2021-12-12 11:16] szhorvat commented on #144
We should either close this, or complete the feature request by writing up all the important details. There are two key questions:

 1. Is there an opportunity to compute this much faster than by the naïve method proposed above (i.e. repeated vertex deletion and re-computing shortest paths)? Is it possible to re-use information from previous shortest path runs and speed up the computation?
 2. Is

[2021-12-12 11:32] szhorvat commented on #469
@yanchenm Thanks for offering to contribute!

We created a new repository to host the solutions. You can open a pull request (a separate one for each task) there. https://github.com/igraph/usability-benchmarks  This is still a new project, and we are still exploring the best way to move forward with it. Things may change rapidly.

I would suggest opening a draft PR before you are completely done w

[2021-12-12 11:34] Gomango999 commented on #473
On it!

[2021-12-12 19:57] szhorvat opened #476 "Set of multi-edges goes outside of plot boundary with matplotlib"
When using the matplotlib backend, multi edges sometimes go out of the plot boundary in undirected graphs. This does not happen in directed graphs, though.

Is this expected? Since it works correctly with directed graphs, I would expect it to work with undirected too.

[code]

<img width="518" alt="image" src="https://user-images.githubusercontent.com/1212871/145727475-fa9f4485-18ea-4820-94da-beb7

[2021-12-12 20:03] szhorvat opened #477 "Edge labeling is broken"
**Describe the bug**

Trying to add edge labels causes an error, regardless of plotting backend.

**To reproduce**

[code]

This results in

[code]

**Version information**

Current `develop` branch.

[2021-12-12 20:16] iosonofabio commented on #477
happy to take care of these plotting bugs, thanks @szhorvat for reporting them

[2021-12-12 20:17] szhorvat commented on #477
Yes, changing it to `getattr(edge, "curved", None)` works, but there's a new error with the matplotlib backend: `ValueError: <TextAlignment.RIGHT: 'right'> is not a valid value for align; supported values are 'center', 'right', 'left'`

Assigning to Fabio then.

[2021-12-12 21:01] iosonofabio commented on #477
Fixed both bugs (curved and text alignment) in 036c1ea

[2021-12-12 21:01] #477 closed

[2021-12-12 21:05] iosonofabio commented on #461
This definitely works in `develop`, perhaps has to do with the recent bugfix in the `curved` parameter in both Cairo and  mpl

![test](https://user-images.githubusercontent.com/1200640/145729502-2b43af94-db57-4329-8869-e86b7e555a14.png)

[2021-12-12 21:05] #461 closed

[2021-12-12 21:06] iosonofabio commented on #461
@Kasaneru: this is fixed in the `develop` branch, which will be in the next API-breaking release. Because a huge amount has changed since the latest release from `master`, this is not really back-portable, so please use either `develop` or wait for the next release.

Thanks for reporting!

[2021-12-12 21:07] szhorvat commented on #477
@iosonofabio It works with simple graphs, but it fails with multigraphs (matplotlib backend):

[code]

[2021-12-12 21:19] iosonofabio commented on #477
Yep, a separate bug that was fixed in bcaa869, thanks for checking

[2021-12-12 21:19] iosonofabio commented on #477
I agree that we should add tests for these things

[2021-12-12 21:20] iosonofabio commented on #474
Fixed in bcaa869, but leaving open until we have a test

[2021-12-12 21:40] szhorvat opened #478 "matplotlib backend does not support label_dist"
The matplotlib backend should support `label_dist`.

Example:

[code]

This should offset the vertex labels.

[2021-12-12 21:59] ntamas commented on #478
@iosonofabio If it is too complicated to do with Matplotlib, let me know and we can simply say that this is not supported in Matplotlib or Plotly.

[2021-12-12 22:27] iosonofabio commented on #478
It's hard to do properly, i.e. keep the right offset upon zoom-in. I'll look into it though, it's time I do 😄

[2021-12-13 07:52] ricky711 opened #479 "ImportError: DLL load failed while importing _igraph"
python version: 3.9.1
the way to install igraph: pip install igraph
error:
import igraph
Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    import igraph
  File "D:\Users\\AppData\Local\Programs\Python\Python39\lib\site-packages\igraph\__init__.py", line 26, in <module>
    from igraph._igraph import (
ImportError: DLL load failed while importing _igraph:

[2021-12-13 07:54] ricky711 commented on #479
so how to fix this? please help, thanks~!

[2021-12-13 08:09] ntamas commented on #479
That's totally fine, there should be no `_igraph.py`. The `_igraph` module is implemented in C so you should see `_igraph.cp39-win_amd64.pyd` there. Seems like the installation is okay, and I've just tried it on a stock Windows machine with Python 3.9.9 and the installation worked just fine.

Are you using a 32-bit or 64-bit Python? Is your Windows 32-bit or 64-bit? Also, the end of the error mess

[2021-12-13 08:14] szhorvat commented on #479
What version of Windows are you using?

Please post the full error message and check carefully if there are additional popup windows with errors. If yes, show a screenshot of those windows.

I expect you have an old version of Windows and will need to install the VC redistributables:

https://igraph.discourse.group/t/dll-load-failed-while-importing-igraph-on-windows/668/5?u=szhorvat

[2021-12-13 08:32] ricky711 commented on #479
1、Python 3.9.1 (tags/v3.9.1:1e5d33e, Dec  7 2020, 17:08:21) [MSC v.1927 64 bit (AMD64)] on win32
2、the full error message is:
Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    import igraph
  File "D:\Users\richardgao\AppData\Local\Programs\Python\Python39\lib\site-packages\igraph\__init__.py", line 26, in <module>
    from igraph._igraph import (
ImportError: DLL lo

[2021-12-13 08:40] szhorvat commented on #478
It would be good to support putting labels below / above / next to vertices in _some_ way (not necessarily in an identical way to how it is done with Cairo). Otherwise, using long names will be problematic. Here's the plot from the tutorial:

![](https://igraph.org/python/tutorial/latest/_images/tutorial_social_network_3.png)

[2021-12-13 08:41] iosonofabio commented on #478
Long names will always be problematic, but see here:

https://github.com/Phlya/adjustText

[2021-12-13 08:52] ricky711 commented on #479
64-bit python, 64-bit windows

[2021-12-13 08:59] szhorvat commented on #478
For inspiration, what Mathematica does is that it considers the vertex and the label as two objects with their own bounding box. Then you set an anchor point in each, and the two points will be placed on top of each other. By default the vertex has an anchor at the top right and the label at the bottom left, resulting in this:

<img width="600" alt="image" src="https://user-images.githubuserconten

[2021-12-13 09:02] iosonofabio commented on #478
Thanks, check out the link above as well. Depending on where the *edges* are, each vertex label might want a different alignment and anchor relative to the vertex itself. But the real issue is zoomin within interactive environments (e.g. Tk,Qt5, Gtk3) which is a strong reason to use mpl in the first place.

[2021-12-13 09:03] szhorvat commented on #479
Which version of Windows are you using? Windows 7, 8, 10?

Did you try installing the VC++ redistributables I linked to?

[2021-12-13 09:12] ricky711 commented on #479
1. windows 10
2. It works with VC++ redistributables, vc_redist.x64.exe, thanks a lot :)

[2021-12-13 09:14] #479 closed

[2021-12-13 09:15] szhorvat commented on #479
Good. We should write this up in a troubleshooting guide somewhere.

[2021-12-13 12:05] ntamas commented on #479
Actually, the Python installers should contain the Visual C++ redistributable since Python 3.5, _except_ when someone installs the [embeddable distribution](https://docs.python.org/3.9/using/windows.html#the-embeddable-package), which, as its name implies, should be embedded in a larger application and it is the responsibility of the embedding application to provide the runtime.

@ricky711 Did you

[2021-12-13 15:52] szhorvat commented on #184
@ntamas This is now implemented in the C core, but it's some exposed in Python yet for some reason.

Also, the current docs are now wrong when they say,

Adding to 0.9.9 milestone, if that's okay.

[2021-12-14 16:16] szhorvat opened #480 "Tutorial should not encourage adding edges and vertices one by one"
As I mentioned [here](https://igraph.discourse.group/t/igraph-is-much-slower-than-networkx-when-generating-a-graph/853/9), the tutorial clearly encourages adding vertices and edges one by one. This is extremely inefficient in igraph, and should be avoided. Right now, people are simply doing what the tutorial suggests, and end up with bad performance. That is demonstrated by both the forum post I l

[2021-12-14 18:40] dkhl65 commented on #469
I am working with yanchenm on this issue and I completed the visualize cliques task.

[2021-12-14 18:59] iosonofabio commented on #480
I was already aware of this and more issues with the long tutorial... why do you think @Gomango999 is here? :smirk:

[2021-12-14 20:15] vtraag opened #481 "Marking groups using a vertex cover does not work with the matplotlib background"
**Describe the bug**
Highlighting a vertex cover does not work correctly with the matplotlib background.

**To reproduce**
[code]
Doing
[code]
correctly yields
![image](https://user-images.githubusercontent.com/6057804/146072548-8c8b3b2f-973f-4d27-9f84-3c67c373955e.png)

This was identified earlier in https://github.com/igraph/usability-benchmarks/pull/1.

**Version information**
`igraph` 0.9.8 in

[2021-12-14 20:16] iosonofabio commented on #481
Is this `develop` or `master`?

[2021-12-14 20:17] vtraag commented on #481
Released 0.9.8. Should this already be corrected in `develop`?

[2021-12-14 20:18] iosonofabio commented on #481
Sorry I had missed the last line. `develop` has a LOT of changes in matplotlib, so I'd suggest we base off that for this kind of improvs and not worry too much about backfilling.

[2021-12-14 20:31] vtraag commented on #481
OK, I'll check whether it's already solved in `develop`.

[2021-12-14 21:03] vtraag commented on #481
OK, I confirm this is working in `develop`

![image](https://user-images.githubusercontent.com/6057804/146078880-ffb8ac7f-0645-4e4b-8461-63c1a497fc49.png)

[2021-12-14 21:03] #481 closed

[2021-12-14 22:17] vtraag opened #482 "Matplotlib and Cairo layouts do not look the same"
**Describe the bug**
The layout coordination systems in `matplotlib` and `cairo` are using inverted y-axis from each other.

**To reproduce**

[code]
yields

![image](https://user-images.githubusercontent.com/6057804/146087657-8baff8a4-5866-4c1a-b0f9-cada8d918585.png)

while

[code]
yields
![image](https://user-images.githubusercontent.com/6057804/146087726-ec71c729-b23e-4121-b35d-5d66f2318796.png

[2021-12-14 22:20] iosonofabio commented on #482
`ax.invert_yaxis()` before or after the plot inverts the y axis in mpl... would you like me to invert it by default?

[2021-12-14 22:25] ntamas commented on #482
I think we should stick to the defaults with Matplotlib and invert the Cairo plot instead. I'd vote for that because it is not nice if igraph messes around with the axis direction of the `ax` object that the user passes to the `plot` function (unless we are careful and revert it when we are done, even if we exit with an exception).

[2021-12-15 05:51] vtraag commented on #482
Cairo is also the lower level drawing interface, so there it makes sense that you setup your own coordinate system for drawing. Perhaps it even has direct support for custom coordinate systems?

[2021-12-15 05:56] iosonofabio commented on #482
In images, the y coordinate is usually top to bottom, I guess that's that @ntamas has done there

On Wed, Dec 15, 2021, at 16:51, Vincent Traag wrote:

[2021-12-15 09:41] ntamas commented on #482
Cairo has support for arbitrary transformation matrices so you can "push" a transformation to a Cairo context; this allows you to flip the axes, or scale them, or rotate/skew the whole thing. However, if we flip the Y axis permanently, we break the code for people who have drawn additional stuff on a Cairo context manually, plus we may potentially break the code that aligns labels above/below the

[2021-12-15 10:12] iosonofabio commented on #482
`invert_y=None` -> Cairo only?

[2021-12-15 13:20] ntamas commented on #482
Something like that, yes.

[2021-12-19 11:53] #436 closed

[2021-12-20 08:20] Yaminyam opened #490 "spanning_tree docs"
**Describe the bug**
![image](https://user-images.githubusercontent.com/31057849/146734500-d7ea9a60-03dc-4226-a669-54d042fca152.png)
The description of the function describes MST, but the function name points to ST, so I actually executed the function.

The graph as shown in the following picture was used to obtain a tree with the corresponding function, but in reality it seems to return ST rather

[2021-12-20 08:43] vtraag commented on #490
You have to pass in the `weights` explicitly to `spanning_tree`, see the [docs](https://igraph.org/python/api/latest/igraph.Graph.html#spanning_tree).

[2021-12-20 08:43] #490 closed

[2021-12-20 08:48] iosonofabio commented on #490
@vtraag I asked @Gomango999 to perhaps make a tutorial on MST without/with weights?

[2021-12-20 09:47] Yaminyam commented on #490
@vtraag thank you! I have checked the link you sent.
However, there is a weight attr in the graph, so why not use it and pass a new weight vector as an argument?
And if it is a function that returns mst, wouldn't it be better to name the function as minimum_spanning_tree rather than spanning_tree?

[2021-12-20 10:04] iosonofabio commented on #490
@Yaminyam

1. silent assumptions lead to bugs, copying the weights out is literally 1 LOC - and you're guarateed to know what you're doing. Perhaps in the future if igraph becomes more intuitive all round this kind of things might change
2. historical reasons: changing the API breaks people's existing code, and should be done only if the benefit is clear

[2021-12-20 13:49] szhorvat commented on #490
I think the name `spanning_tree()` is good, regardless of backwards compatibility consideration.

I'd like to point out that in the unweighted case all spanning trees have the same "total weight", i.e. same number of edges. Thus, "spanning tree" is not a bad description. Naming the function `minimum_spanning_tree` would suggest that it is specifically for weighted graphs, which is not the case.

R

[2021-12-21 08:33] iosonofabio opened #492 "Progress bar"
**What is the feature or improvement you would like to see?**
There's been a discussion on progress bars in #485 that deserves its own issue.

**Use cases for the feature**
C core, python, ipython, Jupyter notebook, Jupyterlab, Google Colab, Data Bricks, etc.

**References**
#485

[2021-12-21 10:42] szhorvat commented on #492
This is the code I used for out CZI EOSS presentation:

[code]

Note that you need to install ipywidgets _before_ you start the notebook, otherwise it will not display correctly.

I do remember looking into `tqdm`, possibly at @vtraag 's suggestion, but ended up not using it. I don't recall why exactly, but I think it only allowed monotonic updates (i.e. increments) instead of setting the progress

[2021-12-21 10:43] szhorvat commented on #492
Before looking at this seriously for Python, we should make this improvement in the C core: https://github.com/igraph/igraph/issues/1884  It may require changes to the API.

[2021-12-26 21:50] ntamas opened #494 "g.vs[...] indexing unnecessarily constructs a vector containing all integers from 0 to |V|-1"
**Describe the bug**

As reported on the forum [here](https://igraph.discourse.group/t/subgraph-vs-g-vs-select-behavior/1045): calling `g.vs[...]` on a large graph to extract a subset of vertices is surprisingly slow. This is because indexing `g.vs[...]` with a list of integers calls `igraphmodule_VertexSeq_get_attribute_values_mapping`, which eventually calls `igraph_vs_as_vector()` to convert th

[2021-12-26 21:52] ntamas commented on #494
Searching for occurrences of `igraph_vs_as_vector()` and `igraph_es_as_vector()` reveals that `igraphmodule_VertexSeq_set_attribute_values_mapping` and the similarly named functions for the `EdgeSeq` also suffer from this problem.

[2022-01-05 09:57] chaosflaws opened #496 "`delete_vertices` does not work on subclassed graph"
### Describe the bug

I have subclassed Graph and added a custom `__init__` method by:

1. Creating an instance of the subclassed Graph
2. Calling `igraph.Graph.__init__`
3. Merging the existing graph into the new one

but this apparently fails when trying to delete vertices. The edge set is not updated properly. In the test, the graph is:

0 -> 0
1 -> 1

and the first edge has `prop` set to `a` w

[2022-01-05 09:58] ntamas commented on #496
Thanks, I'll look into this before the upcoming 0.9.9 release, due in a few days.

[2022-01-05 10:27] chaosflaws commented on #496
On further inspection, it appears that no graph manipulation is needed. `graph.es(_incident=...)` already seems to return wrong results. I have added test cases.

[2022-01-06 08:29] ntamas commented on #496
Thanks! I'm not sure that it matters, but in the rare cases when I ever needed to override the `__new__` method on any Python object, I did not declare it as `@staticmethod` so I've removed that from your test case, although it did not seem to make a difference.

Another thing that looks weird to me is to call `super.__init__()` from within the `__new__` method. I haven't seen any Python code anyw

[2022-01-06 20:53] ntamas commented on #496
Okay, I figured it out. There's nothing wrong with the code; the problem is that `Graph.union()` does not guarantee that it keeps the order of edges for the _second_ graph that is merged into the first one. In this particular case, the order of edges in the second graph get reversed, and it seems like this is consistent across different graphs, but the documentation of the C core does not say anyt

[2022-01-06 20:53] #496 closed

[2022-01-11 10:45] Losbarthos opened #501 "Label edge between two nodes in graph gives error."
**Describe the bug**
Based on my stackoverflow issue (see [here](https://stackoverflow.com/questions/70659155/python-igraph-keyerror-while-plotting)) I want to report a bug  which occurs, if I want to illustrate a graph (directed or not) with a label on edge between two nodes, with plot.

**To reproduce**
[code]

**Error message**

[code]

**Version information**
0.9.9

[2022-01-11 11:04] ntamas commented on #501
@iosonofabio This seems like right up your alley, but let me know if you are overwhelmed or have other things to do and then I'll investigate.

[2022-01-11 11:15] iosonofabio commented on #501
This is 99% fixed in`develop`. @Losbarthos can you please test it?

[2022-01-11 11:24] szhorvat commented on #501
The instructions for installing the dev version are here: https://github.com/igraph/python-igraph/#compiling-the-development-version  Perhaps this section should be made more prominent, and a bit more detailed, and self-contained. It seems more relevant than the preceding "Installation from source" sections which are somewhat confusing and do not seem to be entirely correct (`pip install igraph` w

[2022-01-11 13:02] ntamas commented on #501
`pip install igraph` _will_ install from source if there is no pre-built binary package for the platform, which happens more often on Linux (at least it used to happen until we started providing `manylinux` wheels). `pip install igraph` will also compile from source if a new minor Python version is released until we upload wheels for that minor version (e.g., a Python 3.9 wheel won't work on Pytho

[2022-01-11 17:06] Losbarthos commented on #501
Now I get the error:
[code]

[2022-01-11 18:00] szhorvat commented on #501
To make things simple, disable OpenMP when compiling python-igraph. Set this environment variable before compiling:

[code]

That said, make sure you are compiling with the same compiler that Python was compiled with. If you are using the system Python, use the system compiler. If you are using Linuxbrew's Python, use Linuxbrew's compiler. This is a just a guess: it might not be the real cause of

[2022-01-11 19:33] Losbarthos commented on #501
Thanks, how exactly can I set this environment variable is it an easy "set IGRAPH_CMAKE_EXTRA_ARGS=-DIGRAPH_OPENMP_SUPPORT=OFF" in linux terminal or did I have to set it somewere in source code of igraph libaries?

[2022-01-11 19:35] szhorvat commented on #501
`export IGRAPH_CMAKE_EXTRA_ARGS=-DIGRAPH_OPENMP_SUPPORT=OFF` in the Linux terminal, _before_ (compiling igraph.

[2022-01-11 20:59] iosonofabio commented on #501
FWIW we have a PR that improves installation instructions for `python-igraph`, and adds a troubleshooting section. I can add whatever ends up being the solution of this struggle to that section so that future users will be grateful for your pain...

[2022-01-11 21:03] iosonofabio commented on #501
Also, this is fixed in `develop`, e.g. with the `matplotlib` backend:

[code]

![igraph_bug](https://user-images.githubusercontent.com/1200640/149021077-7c00adc8-bb04-4249-ba34-d37bcdc85eed.png)

Also, using star imports is not a good idea, most users like `import igraph as ig`.

[2022-01-11 21:49] Losbarthos commented on #501
thank you

[2022-01-11 21:49] #501 closed

[2022-01-13 12:40] chaosflaws commented on #496
Hi,

thanks for the investigation and sorry for my late comment. You're right, my original intention was to allow the subclass constructor to "enhance" an existing graph, adding properties and methods to the graph instance.

This is precisely what put me off track here and led to the solution of calling the superclass' `__init__` early (in `__new__`).

As it turns out, achieving my original goal o

[2022-01-15 09:48] szhorvat commented on #471
I think this should be prioritized. It's a constant annoyance for me when searching the docs. I think it might be very frustrating for new users, or even worse:

If I they go to "A listing of all functions, classes, modules and packages, ordered by name. ", and do not find something, it is reasonable for them to assume that it does not exist. That is not the case though. The index is just incomple

[2022-01-15 10:33] iosonofabio commented on #471
This is fixed in develop. These days I don't have time to backport to master, but if you want to try it should be doable

[2022-01-15 10:49] szhorvat commented on #471
I am not familiar with the intricacies of the documentation system use for python-igraph. As you know, this is not where I contribute to igraph, and I do not think it is a good use of our collective time for another person to spend a few hours to learn it.

Is it difficult for you to fix this _on the website_, https://igraph.org/python/#docs? This is a major part of igraph's image, and a major con

[2022-01-15 20:26] ntamas commented on #471
I'll look into this next week; it seems like either it's not fixed on the `develop` branch either or something is wrong with the update mechanism on the site because I don't see `betweenness` or `shortest_paths` in the [index](https://igraph.org/python/api/develop/nameIndex.html).

[2022-01-15 20:38] ntamas commented on #471
Okay, it seems like something is wrong on the homepage as running the documentation generation on the `develop` branch seems to work.

[2022-01-15 22:26] iosonofabio commented on #471
it was part of the latest PR. There s a script (which you complained about already @ntamas :smirk: ) that de-modularized pure Python methods. In its original form, it missed classmethods, so porting that single file back to master might be a start.

That still does not explain why things like `betweenness` are missing, but I remember fighting with `pydoctor`'s "hide/show" feature (mainly through `

[2022-01-15 22:29] iosonofabio commented on #480
This is fixed in `develop`, closing. Please reopen if you feel like this deserves further attention.

[2022-01-15 22:29] #480 closed

[2022-01-15 22:30] iosonofabio commented on #426
This is fixed on the `develop` branch. Closing as there is not much to do on our side except release it. You'll see this in release `0.10`. If you need it more urgently, try installing from `develop`.

[2022-01-15 22:30] #426 closed

[2022-01-15 22:52] szhorvat commented on #471
Regarding this:

It will take quite a while before the C core will be ready for a 0.10 release (several months at minimum). As I said in the chatroom, it seems to me that the motivation for wanting to release python-igraph 0.10 is coming from additions that have nothing to do with, and do not depends on the C core (plotting, tutorial, documentation). These should not force an unbaked C core releas

[2022-01-16 00:11] iosonofabio commented on #471
I wish, but they also depend on the integer transition, which is why I'm pushy...

[2022-01-17 14:49] iszhi opened #502 "tutorial output mistake"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [x] This issue is for the Python interface of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

If you focus on the section (Selecting vertices and edges), the output from `g.vs.select(_degree=g.maxdegree())["name"]` should be ['Claire'], not ["Alice", "Bob"].

[2022-01-17 15:26] szhorvat commented on #389
`to_prufer` is exposed, but it is not very useful without also having `from_prufer`, which is not exposed.

[2022-01-18 01:55] ntamas commented on #471
This is now fixed with some CSS updates on the homepage.

[2022-01-18 10:09] ntamas commented on #471
Also, @szhorvat, if you are working on the Dash docsets, this might have some relevance to you as well. Basically, the PyDoctor-generated pages use some JavaScript trickery to hide members that PyDoctor thinks are private by default. This is achieved by a JavaScript snippet that runs when the page is initialized; it checks whether the URL includes a specific parameter and if it doesn't, it adds a

[2022-01-19 12:04] ntamas commented on #496
Thanks for the feedback and I'm glad that you managed to make it work by overriding `__init__` only. (For what it's worth, the type annotation of `vertex_property_list` in your code should be `Optional[List[bool]]` because `None` is its default value).

I need to think about it a bit before deciding on how to include this in the docs. In general, I usually favour composition over inheritance so I

[2022-01-19 20:40] iosonofabio commented on #496
The nuclear option would be to autodecorate all methods of `Graph` so they check if `__init__` has been called (through a private property) and fail otherwise... It feels evil though

[2022-01-19 21:05] ntamas commented on #496
Nah, I've made it so that an empty graph is created unconditionally in `__new__`, so if you call anything in `__init__` before calling `__init__` on the superclass, you will end up querying this empty graph instead. The "real" init then add vertices or edges as needed.

[2022-01-19 21:06] iosonofabio commented on #496
hehe cleaner solution for sure

[2022-01-21 12:58] ntamas commented on #471
Closing this as the original issue is now fixed on the homepage.

[2022-01-21 12:58] #471 closed

[2022-01-23 20:05] Luxxii opened #503 "Possible memory leak, when deleting nodes in graphs repeatedly"
Hi everyone,

i discovered a strange behavior, while using the newest igraph-version on PyPI. It looks like that if we repeatedly delete nodes in the same process for new graphs, the process will consume more and more RAM.

**Describe the bug**
To clarify, lets assume we use a process in Python, which generates graphs via igraph. The process generates thousands of graphs. It uses the `delete_verti

[2022-01-23 23:01] #455 closed

[2022-01-24 12:28] ntamas commented on #503
Confirmed on macOS with the development version. Let me check the code corresponding to the vertex deletion to see if I can spot anything obvious before digging into this further.

[2022-01-24 14:40] ntamas commented on #503
I have fixed a leak in `igraphmodule_PyObject_to_vs_t()` that is used to convert a Python list of vertex IDs to an `igraph_vs_t` object in C. This reduces the memory consumption significantly according to my measurements, but I still see a slight upwards trending slope on the memory consumption curve when I run the test for longer (i.e. 50000 graphs or more). I'm not sure whether that's a genuine

[2022-01-24 17:49] ntamas commented on #494
Fix released in 0.9.9.

[2022-01-24 17:49] #494 closed

[2022-01-24 17:50] ntamas commented on #503
Thanks for the feedback; the fix will be released in 0.9.10 or 0.10.0, whichever comes first.

[2022-01-24 17:50] #503 closed

[2022-01-25 21:23] jeffreycwitt opened #504 "edge['curved'] not found in edge.py unless g.es["curved"] explicitly set in code."
**Describe the bug**

I'm not sure if this is a bug or not, but I thought it might be an unnoticed breaking change somewhere.

I was following [this tutorial](https://towardsdatascience.com/newbies-guide-to-python-igraph-4e51689c35b4). The code as described in the tutorial seemed to work for the author. But when I ran it with Python 3.10 and python-graph 0.9.9, I got the following error:

[code]

[2022-01-25 22:23] szhorvat commented on #504
Possibly related: #474

[2022-01-25 22:32] ntamas commented on #504
Or maybe: #501

[2022-01-27 18:20] Doomse opened #505 "The matplotlib drawer doesn't allow different edge colors"
It would be great if one could pass a list of colors to the `edge_color` keyword to color edges individually.
Implementing that doesn't seem to complicated at first glance, since the `edge_order` keyword is already treated in a similar way.

If I get around to it, I might supply a possible implementation myself, in the meantime, any sort of feedback is appreciated.

[2022-01-27 19:32] iosonofabio commented on #505
Check the develop branch, I'm quite sure this is already there

[2022-01-27 19:34] iosonofabio commented on #504
Can you please check the develop branch? Pretty sure this is already fixed

[2022-01-27 19:52] iosonofabio commented on #502
Thank you, fixed in 909adfd

[2022-01-27 19:52] #502 closed

[2022-01-27 19:55] iosonofabio commented on #504
Confirm this already works in the `develop` branch, which will be released as `0.10`. I'm closing it here because backporting matplotlib fixes is not really worth it since there are a ton of changes since `0.9.9`.

[2022-01-27 19:55] #504 closed

[2022-01-27 20:47] Doomse commented on #505
You are absolutely right, sorry for bothering. Should've checked more thoroughly

[2022-01-27 20:47] #505 closed

[2022-01-27 20:48] iosonofabio commented on #505
Thanks for checking, hopefully we can release the current `develop` soon :-)

[2022-02-04 22:43] jmyerston opened #506 "normalized betweenness"
Hi,

I am porting an app from R to Python in which I used the igraph function  betweenness and realized that python-igraph does not have the normalization option.

Is there a work around to produce a normalized  betweenness in python-igraph? If not, do you plan to add this functionality any tine soon?

J.

[2022-02-05 08:21] szhorvat commented on #506
You can easily implement it yourself: divide by the number of vertex pairs between which shortest paths are considered. That is `(n-1) \choose 2` for undirected and twice as many for directed graphs.

The issue to implement it for more complicated types of betweenness (such as the cutoff version) is here: https://github.com/igraph/igraph/issues/1797

[2022-02-05 08:21] #506 closed

[2022-02-07 09:44] ntamas opened #507 "Filter a VertexClustering object based on cluster sizes"
**What is the feature or improvement you would like to see?**

It is a common requirement when clustering a large graph to plot only the larger communities but not the smaller ones, as illustrated by [this SO question](https://stackoverflow.com/questions/70990158/how-to-plot-only-bigger-communities-with-igraph-package-in-python/).

Maybe it would be even more flexible if we allowed the user to pas

[2022-02-10 22:59] arjunr2 opened #508 "Edge "label_dist" not working"
**Describe the bug**
Setting the "label_dist" on Edge doesn't change rendering

**To reproduce**
[code]

If you are confident that the issue is not in the Python interface but in the
C core of igraph, please add it to the main [igraph repo](https://github.com/igraph/igraph)
instead.

If you are unsure, feel free to add your issue here - we will transfer it to
the main [igraph repo](https://github.

[2022-02-13 11:03] szhorvat commented on #474
@iosonofabio Do you want to close this now?

[2022-02-13 11:05] iosonofabio commented on #444
I'm happy to take it, but have not quite understood what the scope is. If it's about changing those two examples, that's easy. If it's about refactoring our entire docs into google-style docstrings, I don't think I have time for that before day X...

[2022-02-13 11:08] iosonofabio commented on #476
is this still a bug in `develop`?

[2022-02-13 11:09] szhorvat commented on #476
Yes.

[2022-02-13 20:17] ntamas commented on #444
@iosonofabio I think that we should try to keep the scope limited; let's find all usages of backticks in the docstrings and check how many of those are in files that otherwise use Epytext. These are the places that we should fix. For files that already use reStructuredText, we could simply stick `__docformat__ = "restructuredtext en"` to the top of the file.

[2022-02-20 20:16] Lebsasha opened #510 "I cannot plot graph with labels with matplotlib"
I cannot plot graph  with labels with matplotlib

Suppose the following example code.
[code]
When I run this code, the following image without labels is obtained.
![image](https://user-images.githubusercontent.com/56230099/154860096-5f7d1c54-e15e-4fe8-bf25-aac3198ccfbe.png)

If I run the same code without passing the option `target=ax`, then I obtain the image with labels, but as far as I know, it

[2022-02-20 21:33] iosonofabio commented on #510
Matplotlib plotting has improved a lot in the develop branch which will be released as 0.10. until then, I'd recommend just plotting the vertex labels using a for loop of `ax.text` commands.

[2022-02-22 10:43] vtraag commented on #412
One further update, the incorrect `igraph-python` package is now also removed from PyPI.

[2022-02-22 12:51] Lebsasha commented on #510
If somewho, like I, faced with this problem before releasing version 0.10, I post code for doing this
[code]
It produces following graph with labels
![image](https://user-images.githubusercontent.com/56230099/155135682-494a2171-8576-4438-baa3-1b8b8535b459.png)

[2022-02-22 19:47] iosonofabio commented on #510
yep, that's the poor man's version :smirk:

Thanks @Lebsasha

[2022-02-23 06:48] szhorvat opened #512 "Minor memory leak in igraphmodule_PyObject_to_vector_ptr_t()"
It seems to me that there is a memory leak in this function:

https://github.com/igraph/python-igraph/blob/master/src/_igraph/convert.c#L2249

`subvec` is allocated on the heap with `igraph_Calloc`, but it is never freed, only destroyed.

There should be a `free(subvec)` at these locations:

https://github.com/igraph/python-igraph/blob/master/src/_igraph/convert.c#L2285
https://github.com/igraph/p

[2022-02-23 08:10] iosonofabio commented on #512
Happy to include this in the PR if confirmed

[2022-02-23 09:10] ntamas commented on #512
@szhorvat is correct, please add the missing `free()` calls. Luckily this affects only the case when the conversion fails so it's not a problem in normal operation.

[2022-02-23 09:15] iosonofabio commented on #512
I think I've done the right thing in #511 now, @szhorvat please take a look when you have a minute, thanks

[2022-02-23 20:52] ivandkh opened #513 "Weighted shortest_paths crashes on edgeless graphs."
**Describe the bug**
Running `shortest_paths` with the `weights` parameter on an edgeless graph triggers the fatal error and crashes python: `Fatal error at src/core/vector.c:1181 : Assertion failed: v->stor_begin != v->end`

**To reproduce**
[code]

**Version information**
Crashes in 0.9.9.
Also tested in 0.7.1.post6, everything works fine.

[2022-02-23 21:54] szhorvat commented on #513
I believe the crash happens on this line:

https://github.com/igraph/python-igraph/blob/master/src/_igraph/graphobject.c#L5812

`igraph_vector_min()` must never be called on an empty vector. Most such issues have been fixed in the C core, but it seems some remain in the Python interface.

[2022-02-24 08:00] #513 closed

[2022-02-25 12:58] AlexisPister opened #515 "Compiling python-igraph from local C igraph installation in anaconda environment"
Hi,

I am trying to compile python-igraph from source, using a locally built core C igraph in an anaconda environment, but at the end of the pipeline I have the following error :

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/alexis/anaconda3/envs/igraph-test/lib/python3.8/site-packages/igraph-0.9.9-py3.8-linux-x86_64.egg/igraph/__init__.py", line 26, in <m

[2022-02-25 13:04] vtraag commented on #515
This is most related to OpenMP being enabled. I'm not sure why it would trigger this error though, I'd need to try to reproduce the problem.

In the meantime, if you configure `cmake` using `IGRAPH_OPENMP_SUPPORT=OFF` it should build without OpenMP support. That should resolve the issue for now. If not, let us know.

[2022-02-25 13:44] vtraag commented on #515
I can confirm I was able to reproduce the problem, but only because `pkg-config` failed to locate the manually installed version of `igraph`.

To be sure, what I did was the following. First, I create and activate the environment.

[code]

Now build and install `igraph` C core manually:

[code]

Note that this builds a a shared library. This is the default being used when using `--use-pkg-config`

[2022-02-25 13:47] vtraag commented on #515
By the way, it is a bit odd that the `conda` installed `pkg-config` doesn't come with a default `PKG_CONFIG_PATH` that is already properly referring to the path of the current `conda` environment. Without that, any package relying on `pkg-config` within a `conda` environment will run into the problem that it will pick up libraries from outside that `conda` environment, which is not the idea. Possi

[2022-02-25 13:49] szhorvat commented on #515
Small note: Many tools have problems with `~` in paths. While this specific case might work, it's safer to use `$HOME/foo` instead of `~/foo`.

----

@AlexisPister Can you explain why you are trying to build the C core yourself? Normally, the C core build process is done as part of compiling python-igraph.

[2022-02-25 14:17] vtraag commented on #515
This does work for me here, but yes, I agree using `$HOME` would probably be more robust.

I can't answer for @AlexisPister  of course, but for me, it is useful to link to a separate dynamic library of `igraph` that I can then easily develop and link to from the Python interface, so that I don't have to re-compile/re-install the Python interface all the time.

[2022-02-25 14:19] szhorvat commented on #515
Sure, there are many legitimate reasons. I am just trying to make sure that @AlexisPister is not wasting his time trying to do this to achieve something that could be done in an easier way.

[2022-02-25 14:26] AlexisPister commented on #515
@vtraag Ok so I followed your post by starting from scratch with a new anaconda environment and it worked ! Howeverduring attempts I had checked and pkg-config was actually giving me the good files paths located in the anaconda environement folder.

The two things you did differently was adding pip in the conda install command,  and that you added the flag -DBUILD_SHARED_LIBS=ON in the cmake comma

[2022-02-25 14:34] vtraag commented on #515
It's difficult to say what exactly went on in your system. It wasn't clear what your `conda` environment looked like, and it (obviously) need to have `python` and `pip` installed. Presumably you already had this installed, but it wasn't entirely clear, and so I need to add this when creating the new environment.

If you didn't use the `-DBUILD_SHARED_LIBS=ON` you need to link to the static library